@import "../../../../sass/loader";
.AcrossIndustries {
  padding: 8rem 0;
  h2 {
    @apply font-nunito;
    margin: 1rem auto;
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    color: #262626;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
  p {
    @apply font-lato;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.01em;
    color: #4f4f4f;
    @include respond(phone) {
      font-size: 1.75rem;
    }
  }
}
.listItem {
  img {
    width: 55px;
    height: 47px;
    margin-bottom: 2.4rem;
  }
  h3 {
    @apply font-nunito;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    color: #262626;
    margin-bottom: 8px;
    @include respond(phone) {
      font-size: 2.2rem;
    }
  }
  p {
    max-width: 265px;
    height: auto;
    @apply font-lato;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #4f4f4f;
    @include respond(phone) {
      font-size: 1.75rem;
    }
  }
}
.AcrossIndustriesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 7.2rem 5.8rem;
  margin-top: 9rem;
  @include respond(phone) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem 4.4rem;
    min-height: 500px;
  }
}
