.PartnerBlock {
    padding-top: 4.5rem;
    align-items: center;
    justify-content: center;
}

.Partner{
        text-align: center;
        padding: 2rem 0;
        @media (min-width: 992px) {
            flex: 0 0 100%;
            max-width: 20%;    
            text-align: left;
        }
        @media (min-width: 1260px) {
            padding-left: 0;
        }
    img {
        max-width: 65%;
        @media (max-width: 767px) {
            padding-bottom: 1.5rem;
            max-width: 30%;
        }
        // &.iso { width: 10rem; }
        // &.aws { width: 18rem; }
        // &.microsoft { width: 9rem; }
    }
}
