@import "../../../../sass/loader";
.ComponentIOTIntro {
  height: 760px;
  display: flex;
  align-items: center;
  h1 {
    margin-top: 17.5rem;
    max-width: 1000px;
    @apply font-nunito;
    font-size: 7.2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.36;
    margin-bottom: 4rem;
    span {
      display: inline-block;
      background-image: linear-gradient(110deg, #b133dc 0, #3cecec 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @include respond(phone) {
      font-size: 6rem;
      margin-top: 17.5rem;
    }
  }
  p {
    max-width: 800px;
    margin: 1rem auto;
    @apply font-lato;
    font-weight: 400;
    font-size: 3.2rem;
    color: #8e8b8b;
    text-align: center;
    line-height: 1.4;
    @include respond(phone) {
      font-size: 2.5rem;
      margin-top: 5rem;
    }
  }
}
