@import '../../sass/loader';
.SocialAddressLink{
    list-style: none;
    display: inline-flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: flex-end;
    @include respond(phone){
        justify-content: center;
    }
    li{
        margin-right: 2rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        position: relative;
        transition: background 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg{
            height: 2rem!important;
            transition: fill .3s ease;
            g{
                fill: #979797;
            }
        }

        &.twitter{
            &:hover{
                background: #00acee;
                svg{
                    g{
                        fill: #fff;
                    }
                }
            }
        }

        &.blogger{
            &:hover{
                background: #F5821F;
                svg{
                    g{
                        fill: #fff;
                    }
                }
            }
        }

        &.linkedin{
            &:hover{
                background: #0e76a8;
                svg{
                    g{
                        fill: #fff;
                    }
                }
            }
        }

        &.medium{
            &:hover{
                background: #37B874;
                svg{
                    g{
                        fill: #fff;
                    }
                }
            }
        }

        &.github{
            &:hover{
                background: #000;
                svg{
                    g{
                        fill: #fff;
                    }
                }
            }
        }
    }   
}