@import '../../../sass/loader';

.FeatureBlock {
    background-color: #fafafa!important;
    padding: 10rem 0;
    p {
        color: #0e1f2f !important;
    }
    .content {
        @media (min-width:768px) { 
            display: flex;
            align-items: center;   
        }
        padding-top: 5rem;
        div {
            img {
                max-width: 100%;
            }
            flex: 1;
            &.text {
                color: #4a4a4a;
                font-size: 2.4rem;
                line-height: 3.4rem;
                font-weight: 300;
                flex: 0.5;
                img {
                    margin-bottom: 20px;
                }
            }
        }
        @include respond(phone) {
            text-align: center;
        }
    }
}