.BreakPoints {
    background-size: 100% 100% !important;
    padding: 1rem 0;
    >div {
        margin: 6rem 0;
        text-align: center;    

        @media (max-width:1024px) {
            margin-top: 0;
            margin-bottom: 0;
        }
        @media (max-width:767px) {
            padding: 3rem 1.5rem;
        }
        p {
            padding-bottom: 2.5rem
        }
    }

    &.addspace {
        margin: 10rem 0;
    }
}