.ComponentCareerExcitingOppurtunitySection{
    padding: 8rem 0;
    .finalText{
        margin-top: 5rem;
        p{
            font-weight: 600;
            font-size: 3.3rem;
            line-height: 4.5rem;
            text-align: center;
            letter-spacing: 0.05px;
            color: #000000;
        }
    }
}