@import "../../sass/loader";

.FormSection,
.ProjectSection,
.SolutionSection,
.CustomAppSection {
  @apply font-primary;
  //padding: 12rem 0 0;
  padding: 10rem 0 0;

  @include respond(phone) {
    padding: 8rem 0 0;
  }

  h3 {
    font-size: 4.5rem;
    padding-bottom: 4rem;
    line-height: 5rem;
    margin: 0;
    text-transform: uppercase;
    @include respond(phone) {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }
  }

  p {
    font-size: 2rem !important;
  }

  .FullPage {
    padding-left: 1.5rem;
  }

  &.SolutionSection {
    margin-bottom: 10rem;
  }
}
