
@import '../../../sass/loader';

.SingleProjectChallenge{
    padding: 8rem 0;
    color:#fff;

    &.FullImg {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
    @include respond(phone) {
        text-align: center;
    }
}