// :root{
//     --color-pink: #F3C;
// }

$primary-font: "DM Sans", sans-serif; // weights 400 700
$secondary-font: "DM Sans", sans-serif; // weights 400 700
$case-study: "DM Sans", sans-serif;
$primary-font-cloud: "DM Sans", sans-serif;

$secondary-color: #1f3445;
$secondary-background-color: #f6f7f9;
$primary-blue: #3cecec;
$primary-violet: #9942b7;

$primary-text-color: #4a4e57;
$heading-color: #000;
$footer-text-color: #4a5d6e;
$tooltip-text-color: #748390;

$blog-font-desc: "DM Sans", serif;
$blog-font-head: "DM Sans", sans-serif;
