@import "../../sass/loader";
.rowContainer {
  & > div {
    margin-bottom: 5rem;
  }
}
.Box {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  overflow: hidden;
  position: relative;
  height: 100%;
  padding: 2rem 1.5rem 1.8rem;
  background: #fff;
  border-radius: 1.1rem;
  box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 1.9rem;
    line-height: 2.3rem;
    color: #414247;
    font-weight: 600;
    @apply font-primary;
    text-align: center;
    // padding: 2rem 0;
    margin: 2.7rem 0;
  }
  p {
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: #414247;
    @apply font-primary;
    text-align: center;
    padding: 1rem 0;
  }

  &::after {
    content: "";
    display: block;
    background: aqua;
    height: 0.5rem;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
  }
}
