@import "../../../sass/loader";
.HiringProcessDes {
  display: flex;
  // justify-content: space-around;
  background: url("https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/hire-developers/processBg.png")
    no-repeat;
  background-size: 100%;
  // padding: 5rem 0;
  background-position: 10px 21%;
  margin-left: 2rem;
  margin-top: 8rem;
  @include respond(phone) {
    background: none;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}

.Block {
  flex: 1;
  @apply font-primary;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  // padding: 1rem   rem 0 0;

  @include respond(phone) {
    margin-bottom: 2rem;
    margin-left: 0;
  }

  .imgContent {
    padding: 0 8rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    // background: rgba(red,0.3);
    text-align: center;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(phone) {
      // padding-top: 1rem;
      // padding-bottom: 1rem;
      padding: 6rem;
    }
    @include respond(phone) {
      box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.05);
      border-radius: 1.5rem;
    }
    .Image {
      width: 8rem;
      height: 8rem;
      // background: rebeccapurple;
      img {
        max-width: 100%;
        // margin-left: 2rem;
      }
    }
  }
  h3 {
    font-size: 5.5rem;
    line-height: 7rem;
    color: rgba(#000000, 0.1);
    position: absolute;
    left: 50%;
    @include respond(phone) {
      display: none;
    }
  }
  p {
    flex: 1;
    font-size: 3rem;
    line-height: 3.5rem;
    color: #666;
    font-weight: 700;
    margin-top: 2rem;
    span {
      font-size: 2rem;
      line-height: 2.6rem;
    }
  }
  &:nth-child(odd) > div {
    // flex-direction: column-reverse;
    // padding-bottom: 2.5rem;
    h3 {
      bottom: 3rem;
    }
  }
  &:nth-child(even) > div {
    // flex-direction: column;
    h3 {
      top: 2rem;
    }
  }
}

.HiringProcessDesk {
  text-align: center;
  img {
    max-width: 100%;
  }
  .content {
    display: flex;
    justify-content: space-evenly;
    p {
      color: #666666;
      line-height: 3.5rem;
      font-size: 3.1rem;
      font-weight: 700;
      @apply font-primary;
      flex-basis: 20%;
      text-align: center;
      span {
        font-size: 2rem;
        line-height: 2.6rem;
        font-weight: 400;
      }
    }
    @include respond(big-desktop) {
      justify-content: center;
      p {
        padding: 0 10px;
      }
    }
  }
}
