.IndustryUseCaseSection{
    // margin: 8rem 0;
    padding: 8rem 0;
    background: url("https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/blockchain/industry-bg.png") center top no-repeat;
    background-size: cover;
}