
@import '../../../sass/loader';

.MoreProjectSection{
    padding: 8rem 0;
    color: #000;   
    background-color: #fff;
    text-align: center;

    h4 {
        color: #000 !important;
    }
    >div {
        margin: 0 7rem;
        @include respond(big-desktop){
            margin: 0 10rem;
        }
        @include respond(large-tab-port) {
            margin: 0 5rem;    
        }
        @include respond(phone) {
            margin: 0 3rem;    
        }
    }
}