// @import "bootstrap/scss/bootstrap.scss";

// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";

// @import "bootstrap/scss/mixins/deprecate";
// @import "bootstrap/scss/mixins/breakpoints";
// @import "bootstrap/scss/mixins/grid-framework";
// @import "bootstrap/scss/mixins/grid";

// @import "bootstrap/scss/grid";
// @import "bootstrap/scss/utilities/display";
// @import "bootstrap/scss/utilities/flex";
// // @import "bootstrap/scss/tables";

/*!
 * Bootstrap v4.6.0 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
//  @import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
//  @import "bootstrap/scss/forms";
//  @import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
//  @import "bootstrap/scss/dropdown";
//  @import "bootstrap/scss/button-group";
//  @import "bootstrap/scss/input-group";
//  @import "bootstrap/scss/custom-forms";
//  @import "bootstrap/scss/nav";
//  @import "bootstrap/scss/navbar";
//  @import "bootstrap/scss/card";
//  @import "bootstrap/scss/breadcrumb";
//  @import "bootstrap/scss/pagination";
//  @import "bootstrap/scss/badge";
//  @import "bootstrap/scss/jumbotron";
//  @import "bootstrap/scss/alert";
//  @import "bootstrap/scss/progress";
@import "bootstrap/scss/media";
//  @import "bootstrap/scss/list-group";
//  @import "bootstrap/scss/close";
//  @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
//  @import "bootstrap/scss/utilities";
//  @import "bootstrap/scss/print";

@import "./base/fonts";
@import "./loader";

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Quicksand&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  //font-size: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  scroll-behavior: auto;
  ::-moz-selection {
    /* Code for Firefox */
    color: #000;
    background: $primary-blue;
  }

  ::selection {
    color: #000;
    background: $primary-blue;
  }
}

body {
  box-sizing: border-box;
  line-height: 1.6;
  font-weight: normal;
  @apply font-primary;
  font-style: normal;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline-block;
  vertical-align: middle;
}
// .row{
//     margin-left: 50px!important;
// }

.cloud {
  @apply font-primary;
}

@keyframes example {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
  }
}

.mobileTestimonial .carousel-indicators li {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: grey;
  cursor: pointer;
  display: block !important;
  box-sizing: border-box;
  border: 0;
}

.img-dialog {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 567px) {
    max-width: 100% !important;
  }
  iframe {
    width: 100%;
    @media screen and (min-width: 567px) {
      max-width: 70% !important;
    }
  }
  .modal-content {
    background: transparent;
    display: flex;
    border: 0;
    align-items: center;
    justify-content: center;
  }
}

.grid_item {
  &__1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    @include respond(phone) {
      grid-row: 3 / span 1;
      grid-column: 1 / span 1;
    }
  }

  &__2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 4;
    @include respond(phone) {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
    }
  }

  &__3 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2;
    @include respond(phone) {
      grid-row: 3 / span 1;
      grid-column: 2 / span 1;
    }
  }
  &__4 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2;
    @include respond(phone) {
      grid-row: 4 / span 1;
      grid-column: 1 / span 1;
    }
  }
  &__5 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 2;
    @include respond(phone) {
      grid-row: 4 / span 1;
      grid-column: 2 / span 1;
    }
  }
  &__6 {
    grid-column: 5 / span 2;
    grid-row: 4 / span 2;
    @include respond(phone) {
      grid-row: 5 / span 1;
      grid-column: 1 / span 1;
    }
  }
  &__7 {
    grid-column: 7 / span 2;
    grid-row: 3 / span 3;
    @include respond(phone) {
      grid-row: 5 / span 1;
      grid-column: 2 / span 1;
    }
  }
}
.modelbuttonstyle {
  color: white;
  background-color: transparent;
  outline: none;
  cursor: pointer !important;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  margin: 100px 250px 0;
  @include respond(tab-port) {
    padding: 0;
    margin: 240px 120px 0;
    font-size: 2rem;
  }
  @include respond(phone) {
    padding: 0;
    margin: 80px 20px 0;
    font-size: 2rem;
  }
}

.myModal {
  height: 100vh;
  width: 100vw;
  margin: 0;
  z-index: 100;
  padding: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-content {
  // background-color: #fff;
  // width: 50%;
  // height: 50%;
  iframe {
    width: 50vw;
    @include respond(phone) {
      width: 90vw;
      height: 40vh;
    }
  }
}

.card {
  border: none;
}

.logo {
  align-items: center;
  width: 69.09px;
  height: 70px;
}

.photo {
  width: 285px;
  height: 260px;
}

.myhead {
  @apply font-primary;
  font-style: normal;
  font-weight: 600;
  font-size: 22.6px;
  line-height: 31px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  /* grey 2 */

  color: #000303;
}

.smalllogo {
  height: 81.63px;
  left: 16.41%;
  right: 79.74%;
  top: 6456.02px;
}
.card p {
  @apply font-primary;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.03em;

  /* color gray1 */

  color: #6b6b6b;
}

.myp {
  @apply font-primary;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 34px;

  /* color gray1 */

  color: #6b6b6b;
}

.sp {
  padding: 6rem 0;
  @include respond(phone) {
    padding: 5rem 0;
  }
  &-max {
    padding: 15rem 0;
  }
}

@keyframes example {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.slides {
  position: relative;
  .slick-arrow {
    background: none;
    outline: none;
    border: none;
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 39%;
    color: transparent;
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    z-index: 5;
    @include respond(phone) {
      width: 4rem;
      height: 4rem;
      background-size: contain;
    }
  }
  .slick-prev {
    left: 5%;
    background-image: url("/cloud/static/left-arrow.svg");
  }
  .slick-next {
    background-image: url("/cloud/static/right-arrow.svg");

    right: 5%;
  }
}

.int-slides {
  margin-top: 5rem;
  position: relative;
  .slick-slide > div {
    text-align: center;
  }
  .slick-arrow {
    background: none;
    outline: none;
    border: none;
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 39%;
    color: transparent;
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    z-index: 5;
    @include respond(phone) {
      width: 4rem;
      height: 4rem;
      background-size: contain;
    }
  }
  .slick-prev {
    left: 0%;
    background-image: url("/cloud/static/left-arrow.svg");
  }
  .slick-next {
    background-image: url("/cloud/static/right-arrow.svg");

    right: -1%;
  }
}

.detail {
  h2,
  h4 {
    font-weight: 600;
    font-size: 2.4rem;
    margin-top: 1rem;
    color: #262626;
    line-height: 3.3rem;
    padding-bottom: 1.4rem;
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
  h5 {
    padding-bottom: 1.4rem;
    font-weight: 600;
    font-size: 2.2rem;
    color: #262626;
  }
  p {
    font-weight: 300;
    font-size: 2rem;
    color: #262626;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
  ul {
    font-weight: 300;
    font-size: 2rem;
    color: #262626;
    padding-left: 3rem;

    li {
      padding-left: 1.5rem;
      list-style: circle;
    }
  }
}

hr {
  display: block !important;
  height: 1px !important;
  border: 0 !important;
  border-top: 1px solid #c4c4c4 !important;
  margin: 5rem 0 !important;
  padding: 0 !important;
  opacity: 0.5;
}

.cf-image {
  list-style: none;
  li {
    &::after,
    &::before {
      content: "";
      display: none;
    }
  }
}

.collapsible {
  background-color: #fff;
  color: #000000;
  cursor: pointer;
  padding: 1rem;
  width: 80%;
  border: 1px solid #ececec;
  text-align: center;
  outline: none;
  &:focus,
  &:active,
  &:hover {
    outline: none;
    border: none;
  }
  font-size: 2.5rem;
  @include respond(tab-land) {
    font-size: 2.3rem;
  }
  @include respond(tab-port) {
    font-size: 2rem;
  }
  @include respond(phone) {
    font-size: 1.8rem;
  }
  @include respond(smallest) {
    font-size: 1.6rem;
  }
}

.active,
.collapsible:hover {
  background-color: #ececec;
  outline: none;
  border: none;
}

.content {
  padding: 0 2rem;
  opacity: 1;
  width: 80%;
  display: none;
  overflow: hidden;
  background-color: #ececec;
  text-align: center;
  img {
    padding: 8rem;
    @include respond(smallest) {
      padding: 2rem;
    }
    max-width: 100%;
    height: auto;
  }
}

.arrow {
  &::before {
    content: "\2192";
  }
}

.text-aqua {
  color: #31dede;
}
.text-grey {
  color: #828282;
  font-weight: 600;
}
