@import '../../../../sass/loader';
.HeroSection{
    background: rgba(18,31,48,1);
    background: url(https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/lab/iweather/alarmrBg.jpg) no-repeat bottom center;
    background-size: cover;
    min-height: 100vh;
    padding: 20rem 0 10rem; 
    @include respond(phone){
        background: #2E3E85;
        background-image: none;
        padding-top: 15rem;
    }
    .FlexContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond(phone) {
            flex-direction: column;
        }
    }
    .image{
        flex: 1;
        
        img{
            max-width: 100%;
            // max-height: 70rem;
            @include respond(phone) {
                max-height: 40rem;
            }
        }
    }
    .Content{
        flex: 1.5;
        margin-left: 8rem;
        align-self: flex-start;
        margin-top: 3rem;
       
        img{
            max-width: 100%;
            @include respond(tab-land) {
                width: 60px;
            }
        }
        h1{
            font-size: 4.8rem;
            line-height: 5.2rem;
            color: #fff;
            font-weight: 700;
            margin: 2.5rem 0;

            @include respond(tab-land) {
                font-size: 3.5rem;
                line-height: 3rem;
                margin: 1.5rem 0;
            }
            @include respond(phone) {
                font-size: 2.8rem;
            }
        }
        p{
            font-size: 2.4rem;
            line-height: 3.3rem;
            color: #fff;
            font-weight: 300;
            b { font-weight: 700; }
            @include respond(phone) {
                font-size: 2rem;
            }
        }

        @include respond(phone) {
            text-align: center;
            margin-top: 5rem;
            margin-left: 0;
            img{
                max-width: 60px;
            }
        }
    }
}