@import "../../sass/loader";

.Content {
  padding-top: 1.5rem;
  &.iotPage {
    padding-top: 12rem;
  }
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  color: white;
  height: 100%;
  @include respond(tab-land) {
    padding: 2.5rem;
  }
  @include respond(tab-port) {
    text-align: center;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 5.5rem;
    font-weight: 600;
    width: 100%;
    @include respond(tab-land) {
      font-size: 3.5rem;
      line-height: 5rem;
    }
  }

  span {
    font-size: 3rem;
    padding-bottom: 3rem;
    display: block;
    @include respond(phone) {
      font-size: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }

  ul {
    font-size: 1.8rem;
    line-height: 2.6rem;
    list-style: none;
    padding-bottom: 2rem;
    text-align: left;
    li {
      @media (min-width: 768px) {
        background: url("https://intuz-site.imgix.net/uploads/Icon_Path_49bd1d191d.png?auto=format")
          left 12px no-repeat;
        padding: 0.5rem 1rem 1rem 3rem;
      }
    }
    @include respond(phone) {
      text-align: center;
    }
  }
  p {
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    opacity: 0.8;
    @include respond(phone) {
      width: 100%;
    }
  }
}
