@import "../../sass/loader";

.ClientEngagement {
  @apply font-primary;

  display: flex;

  p {
    color: #7e8890;
    font-size: 2.5rem;
    line-height: 4.2rem;
    font-weight: 300;
    padding-left: 5rem;
  }

  div {
    align-self: flex-end;
  }
}
