@import "../../../sass/loader";

.media {
  margin-top: 8rem;
}
.mediabody {
  position: relative;
  h5 {
    @apply font-primary;
    font-size: 2.6rem;
    line-height: 3.6rem;
    color: #282828;
    font-weight: 600;
    margin: 2rem 0;
  }
  h6 {
    @apply font-primary;
    margin: 2rem 0;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 2.9rem;
    color: #3cecec;
  }
  p {
    font-size: 2rem;
    line-height: 3.2rem;
    color: #282828;
  }
  @include respond(phone) {
    h5,
    p {
      text-align: center;
    }
  }
}

.MediaRight {
  // float: left;
  position: absolute;
  right: 0;
  width: 50%;
  text-align: right;
  /* height: 56%; */
  top: 64%;
  transform: translate(0, -50%);
  @include respond(phone) {
    position: relative;
    width: 100%;
    text-align: center;
    transform: none;
  }
  img {
    // width: 30vw;
    max-width: 100%;
    // margin-right: 8rem;
    // position: absolute;
    // top: 0;
    // left: 50%;
  }
}

.Points {
  list-style: none;
  font-size: 2rem;
  line-height: 3rem;
  color: #2c2c2c;
  position: relative;
  margin: 2rem 0;
  padding-left: 4rem;
  &::after {
    content: url("/static/Images/icons/check-grey.png");
    position: absolute;
    left: 0;
    top: 0.3rem;
  }
}
