@import "../../../sass/loader";
.Form {
  margin-top: 5rem;
  form {
    max-width: 80%;
    margin: 0 auto;
    .Buttons {
      align-self: center;
    }
    button {
      padding: 1rem 2.2rem;
      // background: $primary-violet;
      margin: 0 0.4rem;
      outline: none;
      @apply font-primary;
      border: none;
      border-radius: 6px;
      font-size: 1.8rem;
      line-height: 2.6rem;
      font-weight: 500;
      transition: background 0.25s ease;
      &:first-child {
        color: #fff;
        background: $primary-blue;
        &:hover {
          background: $primary-blue;
        }
      }
      &:last-child {
        color: #999;
        background: #fff;
        border: 1px solid #eee;
      }
    }

    .privacytext {
      padding-left: 2rem;
      margin-left: -5rem;
      @include respond(phone) {
        margin-left: 0rem;
        &::before {
          display: none;
        }
      }
      &::before {
        content: "";
        background: #e7e7e7;
        height: 100%;
        width: 1px;
        position: absolute;
        left: 2px;
        top: 0;
      }
      h3 {
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: #282828;
        @apply font-primary;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.3rem;
        color: #9b9b9b;
      }
    }
  }
}
