

@import '../../../sass/loader';

.RadDetail {
    padding-top: 10rem;
    .detailBlock {
        display: flex; 
        text-align: left;
        &:first-child {
            padding-bottom: 10rem;
        }
        @include respond(phone) { 
            &:first-child { padding-bottom: 6rem; }
            display: block;
        }
        &:nth-child(odd) { flex-direction: row-reverse; }
        >div {
            flex: 1;
            img { max-width: 100%; }
            &.textBlock {
                color: #0e1f2f;
                font-weight: 300;
                h3 {
                    font-size: 3.6rem;
                    line-height: 4rem;
                    @include respond(phone) {
                        font-size: 2.6rem;
                        line-height: 3rem;
                    }
                }
                p {
                    font-size: 2.4rem;
                    line-height: 3.5rem;
                }
                ul {
                    list-style: none;
                    font-size: 2.3rem;
                    line-height: 3.3rem;
                    color: #333333;
                    li {
                        background: url(https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/rad/list-style.svg) left 10px no-repeat;
                        background-size: 20px 20px;
                        padding-left: 30px;
                    }
                }
                h3, p, li { padding-bottom: 2rem; }
                @include respond(phone) { padding-top: 4rem; }
            }
            &:first-child {
                text-align: center;
                margin: auto;
            }
        }

    }
}