@import "../../../sass/loader";

.Main {
  position: relative;
  margin-top: 10rem;
}

.BottomNav {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  position: absolute;
  top: -10%;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  @include respond(phone) {
    top: -9.1%;
    z-index: 10;
  }
}

.BottomNavIcon {
  margin-right: 10rem;
  text-align: center;

  // display: flex;
  // flex-direction: column;
  div {
    width: 12rem;
    height: 12rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    transition: box-shadow 0.3s ease;
  }
  p {
    text-align: center;
    @apply font-primary;
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 5.3rem;
    // height: 6rem;
    max-width: 100%;
    cursor: pointer;
    margin: 1rem auto;
    text-align: center;
    color: #979797;
    transition: color 0.3s ease;
  }
  &.active {
    div {
      box-shadow: 0px 0px 16px #cfcfcf;
    }
    p {
      @include gradient(linear-gradient(226.05deg, #b133dc 0%, #3cecec 91.48%));
    }
  }

  @include respond(phone) {
    margin-right: 3rem;
    // &:not(:last-child){

    // }
    div {
      width: 6.75rem;
      height: 6.75rem;
      // background-color: red;
      img {
        padding: 1rem;
        max-width: 100%;
        height: auto;
      }
    }
    p {
      font-weight: bold;
      font-size: 18.7px;
      line-height: 26px;
      text-align: center;
      color: #262626;
    }
  }
}

.Casestudy {
  margin: 3rem 0;
  @include respond(phone) {
    margin: 0;
  }
  // height: 768px;
}

.Content {
  padding: 5rem 0;
  // position: absolute;
  margin-left: auto;
  color: #cccccc;
  .boldLarge {
    font-size: 2.8rem;
    line-height: 3.8rem;
    text-align: center;
    letter-spacing: 0.05px;
    color: #4f4f4f;
    margin-bottom: 2rem;
  }
  .smallLight {
    font-size: 2rem;
    line-height: 2.7rem;
    text-align: center;
    letter-spacing: 0.05px;
    color: #979797;
  }
}

.WhyComponentMobile {
  img {
    width: 100%;
  }
}

.techstack {
  padding: 9rem 0 0;
  h4 {
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.9rem;
    text-align: center;
  }
  [data-cl] {
    margin: 8rem 0;
    @include respond(tab-port) {
      margin: 2rem 0;
    }
  }
  p {
    font-size: 1.6rem !important;
    line-height: 2.2rem !important;
    text-align: center;
    letter-spacing: 0.05px;
    color: #979797 !important;
  }
  .iconImage {
    height: 5rem;
    margin-bottom: 2rem;
    img {
      max-width: 100%;
      height: auto;
    }

    @include respond(phone) {
      height: 3.5rem;
    }
  }
  // padding: 5rem 0;
}

.outcome {
  [data-svg] {
    @include respond(phone) {
      height: 50%;
      img {
        max-width: 60%;
        height: auto;
      }
    }
  }
}
