@import "../../../sass/loader";

.Highlight {
    padding: 8rem 0;
    color: #ffffff;
    text-align: center;

    p:first-child {
        width: 70%;
        margin: auto;
        @include respond(phone) {
            width: 100%;
        }
    }
    .centerImg {
        max-width: 100%;
        margin-top: 5rem;
    }
    svg,
    .AnimatedImage {
        max-width: 100%;
        height: auto;
    }
}
.containerwidthchange {
    max-width: 1300px !important;
}
