.FormContainer {
  .Description {
    flex: 1;
    padding: 2.5rem;
    background-color: #eee;
    align-self: center;
    h4 {
      color: #4f6477;
      font-size: 2.2rem;
      font-weight: 400;
    }
    p {
      color: #4f6477;
      font-size: 1.8rem;
      line-height: 3.5rem;
      text-align: left;
    }
    a {
      color: #4f6477;
      &.phone {
        color: #3cecec;
        font-weight: 500;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .Form {
    flex: 1.5;
    padding: 3rem;
  }
}

.Modal {
  .ModalHeader {
    border-bottom: none;
    background: #fff;
    padding: 3rem 3rem 0;
    .Title {
      font-size: 3rem;
      font-weight: 600;

      & + button > span:first-child {
        font-size: 35px;
        height: 40px;
        font-weight: 300;
        border-radius: 100%;
        border: 1px solid #000;
        width: 40px;
        text-align: center;
        display: block;
      }
    }
  }
  .ModalBody {
    padding: 3rem;
    background: #fff;
    .FormButton {
      text-align: center !important;
    }

    .Label {
      font-size: 16px;
      color: #b5b4bc;
      font-weight: 300;

      span {
        color: #4f6477;
      }
    }
  }
}
