
@import '../../../sass/loader';

.HireDev {
    padding: 10rem 0;
    text-align: center;
    background-color: #fafafa!important;
    p {
        color: #4a4a4a;
        font-weight: 300;
    }
    @include respond(phone) {
        padding: 6rem 0;
        background-size: 100% !important;

        h3 {
            @include respond(phone){
                font-size: 3rem;
                line-height: normal;
            }
        }
    }
}