@import '../../../sass/loader';
.TraditionalDev {
    text-align: left;
    margin-top: 8rem;
    table {
        border : 1px solid #ecedee;
        //border-color: #ecedee;
        tr {
            th {
                font-size: 3rem;
                padding: 3rem 1.5rem;
                color: #0e1f2f;
                font-weight: 300;
                &:first-child {
                    color: #b5b6b7;
                }
                border-bottom: none;
                border-right: 1px solid #dee2e6;
            }
            td {
                font-size: 2.3rem;
                padding: 2.8rem 1.5rem;
                color: #767676;
                font-weight: 300;
                border-right: 1px solid #dee2e6;
                &:first-child {
                    color: #b5b6b7;
                }
                @include respond(phone) {
                    font-size: 2rem;
                }
            }
        }
    }
    @include respond(phone) {
        thead th { display: none; }
        td, th {
            display: block;
            color: #767676 !important;
            position: relative;
            padding-left: 25% !important;
            @media (max-width:520px) {
                padding-left: 40% !important;
            }
        }
        td[data-th]:before  {
            content: attr(data-th);
            color: #0e1f2f;
            position: absolute;
            left: 0px;
            width: 25%;
            padding: 0 10px;
        }
        tr:nth-of-type(odd) {  background: #eee; }
    }
}