.ComponentCareerOurApproachSection{
    padding: 8rem 0;
    .subtitle{
        font-weight: 300;
        font-size: 2.2rem;
        line-height: 3.3rem;
        text-align: center;
        letter-spacing: 0.5px;
        color: #262626;
        margin-bottom: 2.7rem;
    }
    .description{
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #828282;
        margin-bottom: 6.7rem;
    }

    .focus_point{
        font-weight: 600;
        font-size: 3.3rem;
        line-height: 4.5rem;
        text-align: center;
        letter-spacing: 0.05px;
        max-width: 90%;
        margin: auto;
        color: #000000;

    }
}