@import '../../../../sass/loader';
.ComponentCareerRequirementSection{
    padding: 25rem 0 5rem;
    p{
        text-align: center;
        font-weight: 300;
        font-size: 2.2rem;
        line-height: 3.3rem;
    }
    @include respond(phone){
        padding: 8rem 0 0;
    }
}