@import '../../sass/loader';

.Content {
    padding-top: 6rem;
    text-align: center;
   img{
       max-width: 100%;
       margin-bottom: 2rem;
   }
   span {
        font-size: 2.4rem;
        line-height: 2.5rem;
        font-weight: 700;
    }
    @include respond(phone) {
        > div { margin-bottom: 5rem;
            span { 
                font-size: 2rem;
                display: block;
            }
            img { max-width: 170px;
            }
        }
    }
}