@import "../../../sass/loader";

.SingleProjectChallenge {
    padding: 8rem 0;
    color: #fff;
    text-align: center;
    &.FullImg {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
    @include respond(phone) {
        text-align: center;
    }
}
.box {
    margin-top: 5rem;
    @include respond(tab-land) {
        flex: 100%;
        padding: 0 5rem;
        img {
            float: left;
            width: 60px !important;
            margin: auto;
        }
        p {
            text-align: left !important;
            margin-left: 10rem;
        }
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
    img {
        width: 80px;
    }
}
.margintopodd {
    margin-top: 110px;
}
.mobileview {
    @include respond(tab-land) {
        display: block;
    }
    display: none;
}
.desktop {
    @include respond(tab-land) {
        display: none;
    }
    display: block;
}
@include respond(phone) {
    .box {
        margin-top: 1rem;
    }
    .margintopodd {
        margin-top: 0;
    }
    .mobileview {
        display: block;
        margin: auto;
    }
    .desktop {
        display: none;
    }
}
