@import "../../sass/loader";
.MainContainer {
  h1,
  h2 {
    margin-top: 6rem;
    font-size: 3rem;
    color: #3de3e4;
    text-align: center;
    padding: 0 0 9rem;
  }
  .ProcessDiagram {
    text-align: center;
    position: relative;
    margin-top: 8rem;
    img {
      max-width: 100%;
    }
    //padding-bottom: 35rem;
    padding-bottom: 15rem;
  }
}

// .FourthInfoTooltop{
//     position: absolute;
// }

.Tooltip {
  background: #ccc;
  color: #000;
  margin-top: 1.8rem;
  position: absolute;
  border: 1px solid #d0d0d0;
  // border: 1px solid rgb(255, 0, 0);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
  & > div:first-child {
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid #f0f0f0;
    &::after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: -1px;
      left: -11px;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      z-index: -1;
      border-bottom: 11px solid #d0d0d0;
    }
  }
  & > div:last-child {
    background: #f0f0f0;
    color: #777777;
    font-size: 1.8rem;
    line-height: 2.6rem;
    padding: 3rem;
    text-align: left;
    max-width: 800px;
    ul {
      list-style-position: outside;
      margin-left: 1em;
      text-align: left;
      li {
        // padding-left: 1rem;
        padding: 0 0 1rem;
      }
    }
  }
}

.TooltipBtn {
  background: none;
  outline: none;
  border: none;
  position: absolute;
  @include respond(phone) {
    display: none;
  }
  img {
    max-width: 100%;
    width: 2rem;
    height: 3rem;
  }
}

.Points {
  text-align: left;
  list-style-type: upper-alpha;
  margin-top: 8rem;
  li {
    font-size: 1.6rem;
    line-height: 3rem;
    padding: 1rem 0;
    color: #9b9b9b;
  }
}
