@import '../../../sass/loader';
.Documentation{
    padding: 4rem 0;
    .Search{
        text-align: center;
        h5{
            font-style: normal;
            font-weight: 300;
            font-size: 3rem;
            line-height: 4.1rem;
            letter-spacing: 0.05px;
            color: #C4C4C4;
        }
        .inputGroup{
            position: relative;
            max-width: 50%;
            margin: auto;
            @include respond(phone) {
                max-width: 100%;
            }
            span{
                background: url(https://intuz-site.imgix.net/uploads/bi_search.png);
                display: inline-block;
                width: 2.5rem;
                height: 2.5rem;
                background-size: contain;
                position: absolute;
                left: 0.8rem;
                top: 1rem;

            }
            input{
                width: 100%;
                background: #FFFFFF;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
                border-radius: 8px;
                padding: 2rem 5rem;
                height: 5rem;
                border: none;
                font-weight: 300;
                font-size: 20px;
                line-height: 27px;
            }
        }
    }
    .docList{
        margin: 10rem 0;
        
        div{
            padding: 3rem 0;
        }
        h3{
            color: #D2D2D2;
            text-align: center;
            font-size: 6.5rem;
            line-height: 8.9rem;

            @include respond(tab-land) {
                font-size: 5.5rem;
                line-height: 7.9rem;
            }

            @include respond(tab-port) {
                font-size: 4.5rem;
                line-height: 6.9rem;
            }
            @include respond(phone) {
                font-size: 4.0rem;
                line-height: 6.4rem;
            }
        }
        h4{
            font-size: 3.5rem;
            line-height: 4.8rem;
            /* identical to box height */
            color: #262626;

            @include respond(tab-land) {
                font-size: 3.2rem;
                line-height: 4.6rem;
            }

            @include respond(tab-port) {
                font-size: 3.0rem;
                line-height: 4.4rem;
            }
            @include respond(phone) {
                font-size: 2.6rem;
                line-height: 4rem;
            }
        }
        ul{
            list-style: circle;
            padding-left: 3rem;
            li{
                font-size: 2.5rem;
                line-height: 5rem;
                padding-left: 1rem;
                @include respond(tab-land) {
                    font-size: 2.3rem;
                    line-height: 4.8rem;
                }
    
                @include respond(tab-port) {
                    font-size: 2rem;
                    line-height: 4.5rem;
                }
                @include respond(phone) {
                    font-size: 1.8rem;
                    line-height: 3.8rem;
                }
                a{
                    color: #262626;
                    text-decoration: none;
                    transition: color 0.2s ease;
                    &:hover{
                        color:#9942B7;
                    }
                }
            }
        }
        .list{
            margin-top: 4rem;
        }
    }
}