.CaseStudyTechnical{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 8rem 0 5rem 0;
    li{
        padding: 0 3rem;
        text-align: center;
        svg{
            width: 8rem;
            height: 8rem;
        }
    }
}