
@import '../../../../sass/loader';

.Content {
    h4 {
        font-size: 18px;
        line-height: 26px;
        color: #506478;
        &:hover { color: #3bebeb; }
    }
    @media (min-width: 992px) {    
        display: flex;
        justify-content: space-between;
    }

    >div {
        cursor: pointer;
        @media (max-width:991px) {
            width: 33%;
            display: inline-block;
            margin: 2rem 0;
        }
        @media (max-width:540px) { width: 50%; }
    }
    margin-bottom: 10rem;
    text-align: center;
    @include respond(phone) { margin-bottom: 7rem; }
    svg {
        stroke: #898988;
        max-width: 90px;
        max-height: 75px;
    }
}
.sticky {
    @media (min-width: 992px) {
        position: fixed;
        top: 80px;
        background: rgba(119, 119, 119, 1);
        width: 100%;
        z-index: 1;
        h4 {
            color: #fff;
            font-size: 15px;
        }
        .Content { margin-bottom: 0rem; 
            svg {
                stroke: #ffffff;
                max-width: 70px;
                max-height: 60px;
            }
        }   
        @include respond(tab-land) { top: 71px; }
    }
}