

@import '../../sass/loader';
.imgBlock {
    margin: 2rem 0 8rem 0;
    text-align: left;
    h4 {
        font-size: 3rem;
        line-height: 3.3rem;
        color: #506478;
        font-weight: 400;
    }
    p{
        color: #7e8890;
        font-size: 2.5rem;
        line-height: 3.2rem;
        font-weight: 300;
    }
    @include respond(phone) {
        margin: 2rem 0 6rem 0;
        text-align: center;
    }
}