.SectionTwo{
    background-image: url("/static/Images/ais2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height:100vh;
    display: flex;
    align-items: center;
    div{
        text-align: center;
    }
    h3{
        font-weight: 600;
        font-size: 3.4rem;
        line-height: 3.7rem;
        color: #494949;
    }   
    p{
        font-size: 2.4rem;
        line-height: 3.5rem;
        color: #494949;
        margin: 4rem 0;
    }
}