@import "../../../sass/loader";
.AppleReview,
.TwitterReview {
  margin-bottom: 1.5rem;
  background: #fff;
  padding: 2rem 1.5rem;
  text-align: left;
  position: relative;
  box-shadow: -2px 5px 18px -5px rgba(0, 0, 0, 0.42);
  flex: 1;
  h4 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    @apply font-primary;
  }
  p {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #555;
  }
  .icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem 0.5rem;
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}

.AppleReview {
  background: #fff;
  h4,
  p {
    color: #000;
  }
  span {
    text-align: right;
    display: block;
  }
  .icon svg path {
    fill: #000;
  }
}

.TwitterReview {
  background: #000;
  h4,
  p {
    color: #fff;
  }
  .icon svg path {
    fill: #fff;
  }
}
