.App{
    text-align: center;
    padding: 1rem;
    margin: 0 2rem;
    div{
        background: #FFFFFF;
        /* app_installed */
        // padding: 5rem;
        display: inline-flex;
        width: 12rem;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        height: 12rem;
        
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }
    img{
        max-width: 100%;
    }
    span{
        display: block;
        margin-top: 1rem;
        font-weight: 600;
        font-size: 12px;
        color: #979797;
    }
}

.AppContainer{
    margin-top: 4rem;
    h6{
        font-weight: bold;
        font-size: 2.5rem; 
        text-align: center;       
    }
}