@import "../../../sass/loader";

.sectionTitle {
  @apply font-primary;
  background-size: cover !important;
  h3 {
    @include respond(phone) {
      font-size: 3rem;
    }
  }

  padding-bottom: 10rem;
  &.topPadding {
    padding-top: 10rem;
  }
  @include respond(phone) {
    padding-bottom: 7rem;
    &.topPadding {
      padding-top: 7rem;
    }
  }
}
