@import "../../../sass/loader";

.sectionTitle {
  @apply font-primary;
  background-size: cover !important;
  margin: 10rem 0;
  > div {
    text-align: center;
    img {
      margin-bottom: 15px;
    }
  }
  &.maxPadding {
    padding: 20rem 0;
  }
  h2 {
    font-size: 4.8rem;
    @apply font-primary;
    color: #0e1f2f;
    letter-spacing: 0.89px;
    font-weight: 600;
    padding-bottom: 1.5rem;
    text-align: center;
    span {
      color: #a3a3a1;
    }
  }
  @include respond(phone) {
    margin: 7rem 0;
    &.maxPadding {
      padding: 10rem 0;
    }
    h2 {
      font-size: 4rem;
    }
  }
}
