@import "../../../sass/loader";
.ClientSection {
  text-align: center;
  @apply font-primary;
  // display: inline-block;
  p {
    padding: 10rem 0 3rem 0;
    margin: 0;
    font-size: 3.5rem !important;
    font-weight: 300;
    color: #7e8890;
    @media (max-width: 991px) {
      padding: 5rem 0;
      font-size: 3rem !important;
    }
    @media (max-width: 414px) {
      font-size: 2.5rem !important;
    }
  }

  .ImgContainer {
    gap: 200px 220px;
    padding: 0 3rem;
    width: 100%;
    @media (max-width: 768px) {
      gap: 200px 100px;
    }
    div {
      padding: 14rem 0;
      @media (max-width: 768px) {
        gap: 200px 0px;
        padding: 10rem 0;
      }
      img {
        height: 100%;
        max-height: 11rem;
        max-width: 100%;

        &.img-loading {
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          -webkit-transform: scale(0.7);
          transform: scale(0.7);
          opacity: 0;
        }

        &.img-loaded {
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 1;
          position: relative;
        }
      }
    }
  }
}
