@import '../../sass/loader';
.CaseStudyDiamondBox{
    text-align: center;
}

.DiamondBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    &.right{
        flex-direction: row-reverse;
        div{
            padding-left: 2rem;
        }
    }
    div{
        width: 10rem;
        height: 10rem;
        position: relative;
        padding: 1rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #78405d;
        transform: rotate(45deg);
        // &::before {
        //     content: "";
        //     position: absolute;
        //     width: 10rem;
        //     height: 10rem;
        //     border: 50px solid transparent;
        //     left: 0;
        //     top: 0;
        // }
        img {
            position: absolute;
            width: 6rem;
            height: 6rem;
            left: 50%;
            transform: translate(-50%,-50%) rotate(-45deg);
            top: 50%;
        }
        
    }
    p{
        width: 50%;
        text-align: left;
        font-size: 3.2rem;
        padding-left: 2rem;
    }
}