@import "../../../../sass/loader";
.Block {
  padding: 1.2rem 1.3rem 2.5rem;
  background: #fff;
  box-shadow: 0 0 1.2rem rgba(192, 192, 192, 1);
  border-radius: 1.4rem;
  position: relative;
  @apply font-primary;
  margin: 2rem 0;
  text-align: center;
  h3 {
    font-size: 6rem;
    line-height: 7rem;
    color: #8e8e8e;
    margin-top: 2rem;
    font-weight: 700;
  }
  p {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #4a4a4a;
  }
  img {
    max-width: 5rem;
    max-height: 5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.Links {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(phone) {
    flex-direction: column;
  }
  a {
    display: inline-block;
    @apply font-primary;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-decoration: none;
    padding: 1rem 3.8rem;
    border-radius: 10rem;
    margin-bottom: 2rem;
    margin-top: -1rem;
    cursor: pointer;
    &:first-child {
      margin-right: 3rem;
      color: #fff;
      background: $primary-violet;
      @include respond(phone) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
    &:last-child {
      color: #4a4a4a;
      background: $primary-blue;
    }
  }
}
