@import "../../../sass/loader";

.Main {
  position: relative;
  margin-top: 20rem;
}

.BottomNav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -20%;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  @include respond(phone) {
    top: -9.1%;
    z-index: 10;
  }
}

.BottomNavIcon {
  margin-right: 10rem;
  text-align: center;
  // display: flex;
  // flex-direction: column;
  div {
    width: 12rem;
    height: 12rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    transition: box-shadow 0.3s ease;
  }
  p {
    text-align: center;
    @apply font-primary;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    height: 6rem;
    max-width: 90%;
    margin: 1rem auto;
    text-align: center;
    color: #979797;
    transition: color 0.3s ease;
  }
  &.active {
    div {
      box-shadow: 0px 0px 16px #cfcfcf;
    }
    p {
      color: #3cecec;
    }
  }

  @include respond(phone) {
    margin-right: 3rem;
    // &:not(:last-child){

    // }
    div {
      width: 6.75rem;
      height: 6.75rem;
      // background-color: red;
      img {
        padding: 1rem;
        max-width: 100%;
        height: auto;
      }
    }
    p {
      font-size: 10px;
      line-height: 14px;
    }
  }
}

.NewWhyComponent {
  // height: 80vh;
  background-size: 110% 120%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 768px;
  div {
    height: 100%;
  }
}

.Content {
  padding: 15rem 0;
  // position: absolute;
  max-width: 603px;
  margin-left: auto;
  // right: 5%
  // margin-left: 35%;
  // bottom: 20%;
  color: #cccccc;
  // padding-left: 25rem;
  h3 {
    font-size: 5rem;
    line-height: 6.8rem;
  }
  p {
    font-size: 2rem;
    line-height: 3.6rem;
  }
}

.WhyComponentMobile {
  img {
    width: 100%;
  }
}
