
@import '../../../sass/_loader';
.Banner {
    min-height: 70vh;
    color: #fff;
    .Content {
        padding: 25rem 0 10rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            margin-bottom: 6rem;
            max-width: 100%;
            @include respond(phone) {
                max-width: 60%;
            }
        }
        @include respond(phone) {
            padding: 15rem 0 10rem 0;
        }
        h1 {
            line-height: 6.5rem;
            font-weight: 400;
            font-size: 5.5rem;
            width: 70%;
            margin: auto;
            text-align: center;
            margin-bottom: 8rem;

            @include respond(large-tab-port) {
                font-size: 3.5rem;
                line-height: 4rem;
                width: 100%;
            }
        }
        .Icongrp {
            img {
                margin: 0 1rem;
            }
        }
    }
}