.IntuzValue{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 2rem;
    div:first-child{
        height: 25rem;
        display: inline-block;
        margin-bottom: 2rem;
        // border: solid green;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    h4{
        font-size: 3.2rem;
        line-height: 4.4rem;
        text-align: center;
        color: #262626;
    }
    p{
        font-size: 16px;
        line-height: 33px;        
        text-align: center;
        letter-spacing: 0.5px;
        color: #262626;
    }
}