@import '../../sass/loader';

.Service {
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    @media (min-width:768px) {
        &:nth-child(odd) {
            padding: 0 1rem 0 0;
        }
        &:nth-child(even) {
            padding: 0 0 0 1rem;
        }
    }
    div{
        overflow: hidden;
        &.content {
            position: absolute;
            bottom: 6rem;
            color: #ffffff;
            padding: 0 5rem;
            @include respond(tab-port) { bottom: 3rem; }
            h3 {
                font-size: 3rem;
                line-height: 3.4rem;        
                font-weight: 600;
                @media (max-width:584px) {
                    font-size:2.3rem;
                }
            }
            p {
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 3rem;
                @media (max-width:584px) {
                    line-height: 2.2rem;
                }
            }
            @media (max-width:584px) { 
                padding: 0 2rem;
            }
        }
    }
    img {
        width: 100%;
        transition: transform 0.5s ease;
        &:hover {
            transform: scale(1.1);
        }
    }   
}