@import '../../../../sass/loader';

.SuccessStories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    img{
        width: 8.2rem;
        height: 8.2rem;
        border: .6rem solid rgba(255,255,255,.1);
        border-radius: 50%;
        margin-bottom: 1rem;
    }
    h6{
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: #fff;

        @include respond(tab-port) {
            font-size: 2rem;
        }
    }
    p{
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.6rem;
        color: #fff;
        font-weight: 300;
        @include respond(tab-port) {
            font-size: 1.8rem;
        }
    }
}