
@import '../../sass/loader';

.TabHeading {

    .Heading {
        color: #7e8890;
        cursor: pointer;
        padding: 10px 30px;
        border-radius: 30px;
        border: 1px solid #a7b1bb;
        font-size: 22px;

        &.activeTag {
            background: #3cecec;
            border-color: #3cecec;
            color: #fff;
        }
        @include respond(phone) {
            margin-bottom: 2rem;
        }
        @media (min-width:768px) {
            display: inline-block;
            margin: 0 20px;
        }
    }
    margin: 5rem 0;
}

.TabContent {
    transform-origin: top left;
    @media (min-width:768px) {
        display: flex;
        .contentBlock { margin-right: 2rem; }
    }
    @include respond(phone) { 
        .contentBlock { margin-bottom: 2rem; }
    }

    .contentBlock {
        flex: 1;
        border: 1px solid #eaeaea;
        border-radius: 5px;

        h4 {
            background: #eaeaea;
            color: #000;
            font-size: 18px;
            font-weight: 600;
            padding: 10px 0;
        }
        >div {
            padding: 2rem;
            justify-content: center;
            white-space: nowrap;
            span {
                display: block;
                font-size: 16px;
            }
            img {
                max-width: 100%;
                min-height: 95px;
            }
        }

        .imgBlock {
            div {
                background: #fff;
                margin: 5px;
                width: 100%;
                height: 100%;
            }
            margin-bottom: 10px;
        }
    }
}