@import '../../../../sass/loader';
.BottomBar{
    background: #0e1f2f;
    box-shadow: 0 0 13px 0 rgba(0,0,0,.75);
    // height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 98;
    ul{
        list-style: none;
        display: flex;
        width: 100%;
        margin: 0;
        justify-content: space-evenly;
        // align-items: stretch;
        li{
            padding: 1.0rem 3rem;
            // width: 25%;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 1.4rem;
            // display: flex;
            // flex-direction: column;
            align-items: stretch;
            justify-content: center;
            cursor: pointer;
            transition: background 0.3s ease;
            a:not([href]),a:not([tabindex]) {
                text-decoration: none;
                font-size: inherit;
                color: #fff;
            }
            &:hover{
                background:#0b1927;
                a:not([href]),a:not([tabindex]), svg g{
                    color: $primary-blue;
                    stroke: $primary-blue;
                }
                
            }
        }
    }   
}