
@import '../../../sass/loader';
.GetSupportComponent{
    padding: 7rem 0;
    background: #fff;
    z-index: 10000000000;
    width: 100%;
    overflow: scroll;
    position: fixed; 
    top: 0;
    height: 100%;
    left: 0;
    a{
        color: #3CECEC;
        text-decoration: none;
        &:hover{
            color: darken($color: #3CECEC, $amount: 12);
        }
    }
    .CloseBtn{
        position: fixed;
        right: 2rem;
        top: 2rem;
        z-index: 100;
        cursor: pointer;
    }
    .Small{
        text-align: center;
        color: #979797;
        font-size: 1.3rem;
        line-height: 2.8rem;
        
    }
    h3{
        background: linear-gradient(226.05deg, #B133DC 3%, #3CECEC 91.48%);     
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        font-size: 3.5rem;
        // display: inline-block;
        line-height: 4.8rem;
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 700;
        @include respond(phone){
            padding: 0 4rem;
            font-size: 3rem;
            line-height: 4.3rem;
        }
    }
    h4{
        font-size: 2.4rem;
        line-height: 3.4rem;
        font-weight: 600;
        color: #262626;
        margin-bottom: .2rem;
        margin-top: 6rem;
    }
    p{
        font-size: 2rem;
        line-height: 3.5rem;
        
    }

    ul{
        list-style-type: circle;
        padding-left: 5rem;
        li{
            font-size: 2rem;
            padding-right: 3rem;
            line-height: 4.5rem;
            padding-left: 1.5rem;
            ul{
                color: #828282;
                list-style-type: disc;
            }
        }
    }
    .Estimate{
        justify-content: center;
        margin-top: 6rem;

        p{
            font-size: 2.7rem;
            line-height: 3.7rem;
            color: #979797;
            font-weight: 600;
            margin-right: 10rem;
            span{
                color: #262626;
            }

            @include respond(phone){
                font-size: 2.3rem;
                line-height: 3.3rem;
                padding-left: 2rem;
                span{
                    display: inline-block;
                    margin-left: 1rem;
                }
            }
        }
    }
    .CtaBar{
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 2rem 0;
        min-height: 18rem;
        background-color: #fff;
        box-shadow: 0px -5px 34px #ECECEC;
        div:first-child{
            margin-right: 12rem;
            @include respond(phone){
                margin-right: 0;
            }
        }
        p{
            text-align: center;
            color: #D2D2D2;
            font-size: 2rem;
            line-height: 2.7rem;
            // margin-right: 8rem;
            
            a{
                text-align: center;
                display: inline-block;
                text-decoration: none;
                font-size: 1.67rem;
                line-height: 2.3rem;
                color: #333;
                min-width: 19rem;
                margin-left: 2rem;
                background-color: #3CECEC;
                padding: 0.8rem 0;
                border-radius: 10px;
            }
            @include respond(phone){
                margin-bottom: 3rem;
                text-align: center;
                // padding-left: 2rem;
                margin-left: 0;
                a{
                    margin-left: 2rem;
                }
            }
        }
    }
    
    .Content{
        padding-bottom: 20rem;
    }
}

.Checkbox{

    .inputGroup{
        position: relative;
       .CheckImage{
            width: 20px;
            height: 20px;
            top: 33%;
            transform: translateY(-50%);
            position: absolute;

        }
        input[type="checkbox"] {
            position: absolute;
            z-index: -1000;
            left: -1000px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
        }
        label{
            padding-left: 4rem;
        }
    }

    li{
        list-style: none;
        position: relative;
        padding-left: 3.5rem !important;
        &::before{
            content: "";
            background-image: get-background('closed_5b46fa1cf1.svg');
            width: 18px;
            height: 18px;
            background-size: contain;
            position: absolute;
            // background-color: red;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.3s ease;
            // background-image: get-background('jam_close_4e63b32dee.svg');
            // animation: fade-in 8s forwards;
            
        }
    }
    
    &.active{
        li{
            &::before{
                background-image: get-background('jam_close_4e63b32dee.svg');
                animation-name: fade-in;
                animation-duration: 1s;
                animation-iteration-count: 1;
                animation-timing-function: ease-out;
                animation-fill-mode: both;
            }
        }
    }
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}