@import "../../../sass/loader";

.ReportSection {
  @apply font-primary;
  padding: 10rem 0;
  .imgBlock {
    text-align: center;
    img {
      position: relative;
    }
    span {
      position: absolute;
      bottom: 125px;
      color: #ffffff;
      font-size: 4rem;
      transform: translateX(-50%);
      width: 100%;
      left: 50%;
    }
    p {
      color: #7e8890;
      font-size: 3rem;
      font-weight: 400;
      line-height: 3.3rem;
    }
  }
  @include respond(phone) {
    padding: 2rem 0;
    .imgBlock {
      padding-bottom: 4rem;
    }
  }
}
