@import '../../../../sass/loader';
.WakeupCallCenter{
    background-color: #0F304D;
    padding: 10rem 0;
    position: relative;
    color: #fff !important;
    .flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    h2, p {
        color: #fff !important;
    }
    @include respond(phone) {
        padding: 6rem 0;
        h3 {
            font-size: 2.7rem;
            line-height: 3rem;
        }
        p {
            font-size: 2rem;
            line-height: 3.2rem;
        }
    }
}