@import "../../sass/loader";

.MultiGuideBlock {
  background-color: #f5f5f5;
  padding: 8rem 2rem;
  @apply font-primary;

  .GuideBlock {
    display: flex;
    justify-content: space-around;
    div {
      display: flex;
      flex-direction: column;
      padding: 0;
      padding: 2rem;
      img {
        border-radius: 8px;
        max-width: 100%;
        cursor: pointer;
      }
      span {
        color: #714581;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        padding-top: 1rem;
        line-height: 2.2rem;
      }
      h3 {
        font-size: 20px;
        padding: 1.5rem 1rem;
        line-height: 2.5rem;
        cursor: pointer;
      }
    }
    // @include respond(big-desktop) {
    //     padding: 5rem 2rem 2rem 2rem;
    //     // div {
    //     //     flex: 0 0 16.66%;
    //     //     // max-width: 16%;
    //     //     padding: 0;
    //     // }
    // }
  }
}
