@import "../../sass/loader";
.caseStudyFeature {
    margin-top: 15rem;
    & > div:first-child {
        flex-basis: 50%;
    }
    & > div:last-child {
        flex-basis: 40%;
    }
}
.list {
    list-style: none;
    text-align: justify;
}
.listli {
    cursor: pointer;
    width: 100%;
    align-items: center;
    &:hover,
    &.active {
        p,
        svg path {
            color: #e55ea2;
            stroke: #e55ea2;
        }
    }
}
.listtitle {
    font-style: normal;
    padding: 0 0 0 2.5rem;
    font-weight: normal;
    font-size: 2.6rem;
    line-height: 3.5rem;
    color: #ffffff;
}

.imgBlock {
    position: relative;
    // background: red;

    img {
        position: absolute;
        width: auto;
        height: 100%;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%) scale(1.3);
    }
}

.imagein {
    display: inline-block;
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.CaseStudyFeatureMobile {
    margin-top: 8rem;
    p {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
}

@include respond(phone) {
    .newitemheight {
        height: 660px !important;
    }
}
@include respond(tab-land) {
    .newitemheight {
        height: 620px ;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
