
@import '../../../../sass/loader';
.SystemIcon {
    span, p {
        color: #7e8890;
        font-size: 2.5rem;
        line-height: 3.2rem;
        font-weight: 300;

        &.titleSpan {
            color: #506478;
            font-size: 3rem;
            line-height: 3.3rem;
            font-weight: 400;
        }
    }
    .iconBlock { 
        margin :4rem 0 4rem 0; 
    }
    p {
        @include respond(phone) { padding: 5rem 0; }
    }
    img {
        display: block;
        margin: auto;
        margin-bottom:15px;
        @include respond(tab-port) { max-width: 100px; }
    }
    .leftContent {
        @media (min-width:768px) {
            border-right: 1px solid #e7e7e7;   
        }
    }
}