@import "../../../../sass/loader";
.SecurityandTechPoints {
  background: #fcfcfc;
  // justify-content: space-evenly;
  margin-top: 5rem;

  > div {
    display: flex;
    @include respond(phone) {
      flex-direction: column;
    }
  }
}

.Block {
  position: relative;

  padding: 3rem 5rem 3rem 0;
  width: 100%;
  margin-right: 1rem;
  @include respond(phone) {
    padding: 3rem 0;
  }
  h3 {
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 2.9rem;
    color: #3cecec;
    @apply font-primary;
  }
}
