  @import '../../sass/loader';

  $size: 16.2rem;
  
  .process{
    width: $size;
    height: $size;
   
    display: flex;
    text-align: center;
    background:#F8F8F8;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    margin-right: 2rem;
    position:relative;
    transition: all 1s cubic-bezier(0,0,1,1);
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin-bottom: 5rem;
    color: #555555;
    cursor: pointer;
    &::after{
      content:"";
      position:absolute;
      top:-1rem;
      left:50%;
      transform:translate(-50%,0) rotate(30deg);
      width: 18rem;
      height: 9rem;
      background:none;
      border:3px solid darken(#FAFBFB,10);
      border-bottom:0px;
      z-index:-1;
      border-top-left-radius: 18rem * 2;
      border-top-right-radius: 18rem * 2;  
      transform-origin:bottom center;
     transition: all 1s cubic-bezier(0,0,1,1);
      // margin-top:-5px;
      // margin-left:2.5px;
      
    }
    
    &::before{
      content:"";
      position:absolute;
      bottom:-1rem;
      left:50%;
      transform:translate(-50%,0) rotate(30deg);
      transform-origin:top center;
      width: 18rem;
      height: 9rem;
      background:none;
      border:3px solid darken(#FAFBFB,10);
      border-top:0px;
      z-index:-1;
      border-bottom-left-radius: 16.8rem * 2;
      border-bottom-right-radius: 16.8rem * 2;  
      transition: all 1s cubic-bezier(0,0,1,1);
      // margin-top:10px;
      // margin-right:2.5px;
      
      
    }
    &:hover, &.active{
      background:#694775;
      color: #fff;
      &::after{
        border-color:aqua;  
       transform:translate(-50%,0) rotate(210deg);
        top:-5px;
        left:48%;
        width: 18.8rem;
        
  
      }
      &::before{
        border-color:aqua;
        transform:translate(-50%,0) rotate(210deg);
        bottom:-5px;
      left:52%;
        width: 18.8rem;
        
      }
    }
    @include respond(phone) {
      width: 15rem;
      height: 15rem;
      &::after, &::before{
        width: 17rem;
        height: 8.5rem;   
      }
      &:hover, &.active{
        &::after, &::before{
          width: 17.7rem;
          // height: 8rem; 
        }
      }
    }
  }


  .Processes{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .Fixedtab{
    display: flex;
    list-style: none;
    position: fixed;
    width: 100%;
    background-color: rgba(99,99,99,.9);
    flex-wrap: wrap;
    top: 13.2rem;
    z-index: 10;
    @include respond(phone){
      top: 8.4rem;
    }
    li{
      flex-basis: 25%;
      font-size: 1.5rem;
      cursor: pointer;
      padding: 1.1rem 0;
      font-weight: 600;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      transition: color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
      &:hover, &.active{
        color: #3de3e4;
      }
      @include respond(phone){
        flex-basis: 50%;
      }
    }
  }