@import "../../../sass/loader";

.DevFigure {
  display: flex;
  justify-content: center;
  align-items: center;
  @apply font-primary;
  margin: 3rem 0;
  .image {
    position: relative;
    & > div {
      width: 10rem;
      height: 10rem;
      margin-right: 2.2rem;
      position: relative;
      overflow: hidden;
      border-radius: 100%;
      display: inline-block;
      border-radius: 100%;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 2rem;
        left: 0;
        right: 0;
        background: linear-gradient(
          to bottom,
          rgba(236, 36, 36, 0.4) 0,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
    img {
      max-width: 100%;
      border-radius: 50%;
    }
    span {
      display: block;
      position: absolute;
      width: 2rem;
      height: 2rem;
      right: 2rem;
      top: 1rem;
      z-index: 3;
      cursor: pointer;
      img {
        max-width: 100%;
      }
    }
  }
  .devname {
    h6 {
      font-size: 1.8rem;
      line-height: 2.6rem;
      color: #000;
      font-weight: 700;
      span {
        font-weight: 400;
        color: #9b9b9b;
      }
    }
    p {
      font-size: 1.8rem;
      line-height: 3.5rem;
      font-weight: 300;
      color: #4a4a4a;
    }
  }
}

.Form {
  form {
    max-width: 70%;
    margin: 0 auto;
    .Buttons {
      align-self: center;
      @include respond(phone) {
        margin-bottom: 3rem;
      }
      button {
        padding: 1rem 2.2rem;
        // background: $primary-violet;
        margin: 0 0.4rem;
        outline: none;
        @apply font-primary;
        border: none;
        border-radius: 100px;
        font-size: 1.8rem;
        line-height: 2.6rem;
        font-weight: 500;
        transition: background 0.25s ease;
        &:first-child {
          color: #fff;
          background: #674b78;
          &:hover {
            background: $primary-blue;
          }
        }
        &:last-child {
          color: #999;
          background: #fff;
          border: 1px solid #eee;
        }
      }
    }

    .privacytext {
      padding-left: 2rem;
      margin-left: -5rem;
      @include respond(phone) {
        margin-left: 0rem;
        &::before {
          display: none;
        }
      }
      &::before {
        content: "";
        background: #e7e7e7;
        height: 100%;
        width: 1px;
        position: absolute;
        left: 2px;
        top: 0;
      }
      h3 {
        font-size: 1.8rem !important;
        line-height: 2.2rem;
        color: #282828;
        @apply font-primary;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.3rem;
        color: #9b9b9b;
      }
    }
    @include respond(phone) {
      max-width: 100%;
    }
  }
}
