.Technologies{
    &>ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.tab{
    list-style: none;
    background: 0 0;
    color: #7e8890;
    margin: 0 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
    border-radius: 3rem;
    display: inline-block;
    margin-top: 2rem;
    text-align: center;
    border: 1px solid #a7b1bb;
    font-size: 2.2rem;
    transition: all 0.1s ease-in;
    &.active{
        background: #3cecec;
        border-color: #3cecec;
        color: #fff;
    }
}

.Content{
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    font-size: 1.8rem;
    background: #fff;
    margin: 1rem;
    padding: 0!important;

    text-align: center;
    color: #282828;
    h3{
        background: #EAEAEA;
        color: #000;
        text-transform: none;
        font-size: 1.8rem;
        font-weight: 600;
        padding: 1rem 0;
        text-align: center;
    }
    ul{
        width: 100%;
        padding: 1rem;
        list-style: none;
        display: flex;
        align-self: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.Technology{
    list-style-type: none;
    text-align: center;
    margin: 1.5rem 1rem;
    padding: 0 0 1.5rem 0;
    background: #fff;
    font-size: 1.6rem;
    display: inline-block;
    // min-height: 10rem;
    text-align: center;
    box-shadow: 0px 0px 2.8rem 0px rgba(0,0,0,0.05);

    img{
        max-width: 100%;
    }
    p{
        text-align: center;
        white-space: nowrap;
    }
}