@import '../../../../../sass/loader';

.MobileFilter {
    .filterIcon {
        height: 70px;
        width: 70px;
        position: fixed;
        bottom: 5rem;
        right: 0;
        z-index: 50;
        &.privacy {
            bottom: 6rem;
        }
    }
    .NavigationView {
        width: 100%;
        position: fixed;
        left: 0px;
        top: 6.5rem;
        right: 0px;
        bottom: 0px;
        max-width: 100%;
        z-index: 10;
        background: rgb(0, 0, 0);
        overflow: scroll;
        padding: 3rem 0px 10rem 5rem;
        ul {
            padding-left: 3rem;
        }
        li, h4 {
            list-style: none;
            font-size: 17px;
            width: 100%;
            position: relative;
            font-weight: 400;
            cursor: pointer;
            text-transform: capitalize;
            color: #fff;
        }
        h4 {
            font-size: 20px;
            margin: 2rem 0;
        }
    }
    .ButtonDiv {
        position: fixed;
        z-index: 10;
        left: 0;
        background: rgba(0, 0, 0, 0.1);
        bottom: 0;
        right: 0;
        padding: 3.5rem 6rem;
        display: flex;
        align-self: center;
        .getStarted{
            background:  #684574;
            border-radius: 4px;
            padding: .5rem 5rem;
            color: #fff;
            border: none;
            font-size: 2rem;
            &:hover{
                background: #3cecec;
            }
        }
        .reset {
            color: #007bff;
            font-size: 18px;
            padding-left: 50px;
        }
    }
}
