

@import '../../sass/loader';

.CharterContent {
    background-size: cover !important;
    color: #ffffff;
    padding: 25rem 0;
    >div {
        @media (min-width:992px) {
            width: 50%;   
        }
    }
    h4 {
        font-size: 5rem;
        line-height: 5.5rem;
        @include respond(phone) {
            font-size: 4rem;
            line-height: 4.3rem;
        }
    }
    p {
        font-size: 2.5rem;
        line-height: 3.5rem;
        padding-top: 4rem;
    }
    

    &:nth-child(even) {
        @media (min-width:992px) {
            div { margin-right: 10rem; }
        }
    }
    &:nth-child(odd) {
        @media (min-width:992px) {
            div { margin-left: 10rem; }
        }
    }

    @include respond(phone) {
        text-align: center;
        padding: 11rem 0;
        background-attachment: scroll !important;
    }
}