@import "../../../sass/loader";

.Feature {
  @apply font-primary;
  padding: 8rem 0;
  color: #ffffff;
  text-align: center;

  .Content {
    padding: 5rem 0;
    img {
      max-width: 100%;
    }
    &.flexcontent {
      @media (min-width: 768px) {
        display: flex;
        align-items: center;
        & > div {
          flex: 1;
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
        }
      }
      font-size: 2.5rem;
      line-height: 5rem;
      font-weight: 400;
    }
    .Feature_image {
      text-align: center !important;
    }
  }
  @include respond(phone) {
    padding: 6rem 0;
    line-height: 3.8rem;
    .Content {
      img {
        margin-top: 5rem;
      }
    }
  }
}
.description {
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}
