@import "../../../../sass/loader";
.ElegentSection {
  margin: 10rem 0;
  padding: 5rem 0;
  background-color: #f8f8f8;
  .flexContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    & > div {
      flex: 1;
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }

  .Content {
    margin-top: 2rem;
    @apply font-primary;
    h1 {
      line-height: 6rem;
      font-size: 4.8rem;
      font-weight: 600;
      margin: 1rem 0;
    }
    p {
      font-size: 2.4rem;
      line-height: 3.3rem;
      color: #888;
      font-weight: 300;
    }
  }
  .image {
    margin-left: 3rem;
    img {
      max-width: 100%;
    }
  }
}
