@import "../../../sass/loader";

.box {
  // width:140px;
  // height:140px;
  margin-right: 1.5rem;
  // border: 1px solid #CCC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  @include respond(phone) {
    margin: 2rem 0;
  }
  p {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    @apply font-primary;
    line-height: 2.3rem;
    font-size: 1.6rem;
    color: #333;
    width: 12rem;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    @include respond(phone) {
      position: relative;
      transform: initial;
      left: initial;
      margin-top: 1rem;
    }
  }

  p {
    opacity: 1;
  }
  em {
    background: rgba(grey, 0.9);
  }

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    z-index: 20;
    box-shadow: 0 0 0.5rem #999;
    position: relative;
    em {
      background: #eee;
      color: #ccc;
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      font-size: 1.5rem;
      position: absolute;
      font-style: initial;
      transition: background 0.3s ease;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 11rem;
    height: 6rem;

    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border: 1.5rem solid gray;
    @include respond(phone) {
      display: none;
    }
  }

  &:nth-child(odd) {
    p {
      top: -120%;
      @include respond(phone) {
        top: initial;
      }
    }
    em {
      top: -1.5rem;
      left: 50%;
      margin-left: -1rem;
    }
    &::after {
      border-bottom-left-radius: 10rem;
      border-bottom-right-radius: 10rem;
      // top:50%;
      border-top-width: 0;
      bottom: -58%;
    }
  }

  &:nth-child(even) {
    p {
      bottom: -130%;
      @include respond(phone) {
        bottom: initial;
      }
    }
    em {
      bottom: -2rem;
      left: 50%;
      margin-left: -1.5rem;
      @include respond(phone) {
        top: -1.5rem;
        left: 50%;
        margin-left: -1rem;
      }
    }
    &::after {
      top: 18%;
      border-top-left-radius: 10rem;
      border-top-right-radius: 10rem;
      border-bottom-width: 0;
    }
  }
}
