@import "../../../sass/loader";

.Branch {
  padding: 20rem 0;
  @include respond(tab-land) {
    padding: 15rem 0;
  }
  @include respond(phone) {
    padding: 10rem 0;
  }
  @media (max-width: 567px) {
    padding: 4rem 0;
  }

  div {
    @apply font-primary;
    h3 {
      font-size: 4.6rem;
      color: #000000;
      @include respond(tab-land) {
        font-size: 4rem;
      }
      @include respond(phone) {
        font-size: 2.8rem;
        line-height: 3rem;
      }
    }
    p {
      color: #2c2c2c;
      font-size: 3.6rem;
      @include respond(tab-land) {
        font-size: 3rem;
      }
      @include respond(phone) {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }
  }
}
