
@import '../../sass/loader';

.EthicContent {
    padding-top: 5rem;
    h3 {
        font-weight: 600;
        font-size: 2.8rem;
        display: inline-block;
        @include respond(phone) {
            font-size: 2.5rem !important;
        } 
    }
    >div {
        @media (min-width:576px) {                
            display: flex;
            align-items: center; 
            img { padding-right: 25px; 
            }
        }
        margin-bottom: 2.5rem;
        padding-left: 10rem;

        @include respond(phone) {
            padding-left: 5rem;
        }
        @media (max-width:575px) {
            text-align: center;
            >div { padding-bottom: 2rem; 
            }
        }
    }
}