@import '../../../../sass/loader';
.AppDetailBannerSection{
    padding: 13rem 0 5rem;
}
.AppDetailBanner{
    padding: 1rem;
    &__left{
        @media screen and (min-width: 576px) {
            margin-right: 5rem;
        }
        &__image{
            padding: 0 1rem;
            width: 24rem;
            height: 24rem;
            background: #FFFFFF;
            box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.12);
            border-radius: 34px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include respond(phone){
                width: 21rem;
                height: 21rem;
                overflow: hidden;
            }
            img{
                max-width: 100%;
            }
        }
    }
    &__right{
        h1{
            font-size: 7.5rem;
            line-height: 10.2rem;
            font-weight: 600;
            
                @include respond(tab-land) {
                    font-size: 6.5rem;
                    line-height: 9.2rem;
                }

                @include respond(tab-port) {
                    font-size: 5.5rem;
                    line-height: 8.2rem;
                }
                @include respond(phone) {
                    font-size: 4.0rem;
                    line-height: 5.2rem;
                }

        }
        p{
            margin: 1rem 0;
            color: #262626;
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.7rem;
            span{
                color: #828282;
                font-weight: 300;
                display: inline-block;
                margin-left: 0.3rem;
            }
        }
    }
}
.update{
    margin-left: 1rem !important;
    padding-left: 5rem;
    @include respond(tab-port) {
        padding-left: 0;
    }
}