@import '../../sass/loader';
.links{
    display: flex;
    flex-wrap: wrap;
    // text-align: center;
    justify-content: center;
    margin-right: 3rem;
    margin-top: 2rem;
    a{
        text-decoration: none;
        // display: inline-block;
        margin-right: 2rem;
        margin-bottom: 2rem;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        &.white {
            border: 2px solid #fff;
        }
        &.grey {
            border: 2px solid #c7c7c7;
        }
        img{
            max-width: 100%;
            vertical-align: middle;
            @include respond(phone){
                padding: 1rem;
            }
        }
    }
    @include respond(phone){
        flex-wrap: nowrap;
        a{
            // width: 5rem;
            // height: 5rem;
        }
    }
}