

@import '../../../../sass/loader';

.FavpriteSection {
    padding : 10rem 0;
    @include respond(phone) {
        padding : 6rem 0;
        h3 {
            font-size: 3.1rem;
            line-height: 4rem;
        }
    }
}