@import "../../../sass//loader";

.SectionMission {
  margin-bottom: 10rem;
  background: #223757;
  @apply font-primary;
  @include respond(phone) {
    margin-bottom: 7rem;
  }
  .fullPage {
    @media (min-width: 1364px) {
      padding: 0 1.5rem;
    }
  }
}
