@import "../../sass/loader";
.ModalInformation {
  background: rgba(249, 249, 249, 1);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 90;
  padding-top: 7rem;
  // margin-left: 30rem;
  padding-left: 30rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // position: relative;
  scrollbar-color: rgba(#555, 0.3) rgba(249, 249, 249, 0.1);
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba(249, 249, 249, 1);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(#555, 0.3);
    border-radius: 5rem;
    margin-right: 2rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(#555, 0.5);
  }

  @include respond(tab-land) {
    overflow-y: scroll;
  }
  @include respond(phone) {
    margin-left: 0;
  }
  .Close {
    position: absolute;
    border: none;
    outline: none;
    background: transparent;
    top: 0;
    right: 0;
    margin-right: 5rem;
    margin-top: 4rem;
  }

  .CenterText {
    @apply font-primary;
    // margin-bottom: ;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    color: #7e8890;
    text-align: center;
    a {
      font-size: 3rem;
      color: #33d6d6;
      cursor: pointer;
      transition: color 0.3s ease;
      &:hover {
        color: $primary-violet;
        text-decoration: none;
      }
    }
  }
  .Container {
    display: flex;
    // padding: 3rem;

    .Content {
      width: 33.33%;
      padding: 0 4rem 3rem;
      float: left;
      position: relative;
      transition: all 0.3s;
      min-height: 500px;
      border-width: 0 0 0 1px;
      border-style: solid;
      position: relative;
      border-image: linear-gradient(
          to bottom,
          rgba(216, 220, 224, 1),
          rgba(216, 220, 224, 0)
        )
        1 100%;
      // .HeadingIcon{
      //     display: flex;
      //     flex-direction: column;
      // }
      img {
        width: 76px;
        height: 76px;
        margin: 2rem 0;
      }
      h3 {
        color: $primary-blue;
        @apply font-primary;
        font-weight: 300;
        font-size: 4.6rem;
        line-height: 5.1rem;
        color: #33d6d6;
        a {
          @apply font-primary;
          font-size: 14px;
          font-weight: 300;
          margin: 0;
          padding: 2px 6px;
          background: #ebebeb;
          border-radius: 2px;
          color: #7e8890;
          vertical-align: middle;
          text-decoration: none;
          &:hover {
            background: darken(#ebebeb, 5);
          }
        }
      }

      p {
        @apply font-primary;
        // margin-bottom: ;
        font-size: 2.8rem;
        line-height: 4rem;
        font-weight: 300;
        color: #7e8890;
      }
    }

    @include respond(tab-land) {
      flex-direction: column;
      .Content {
        width: 100%;
        min-height: initial;
        h3 {
          font-size: 3.1rem;
        }
        p {
          font-size: 2rem;
          line-height: 3.1rem;
        }
      }
    }

    @include respond(phone) {
      .Content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3 {
          text-align: center;
        }
        p {
          text-align: center;
        }
      }
    }
  }

  .FormContainer {
    background: rgba(#ccc, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    h3 {
      font-size: 3.4rem;
      @apply font-primary;
      color: #33d6d6;
      padding-top: 1rem;
      font-weight: 300;
    }
    .Form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // div{
      //     flex-basis: 90%;
      // }
      .FormBtn {
        margin-left: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          margin: 2rem;
        }
      }
      button {
        float: left;
        color: #fff;
        background: #4f6477;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        padding: 0.7rem 2rem;
        transition: background 0.5s;
        transition-timing-function: cubic-bezier(0, 0, 0, 0);
        font-size: 16px;
        margin-top: 15px;
        &:hover {
          background: darken(#4f6477, 5);
        }
      }
      @include respond(tab-land) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    @include respond(tab-land) {
      flex-direction: column;
      align-items: flex-start;
      padding: 3rem;
    }
    @include respond(phone) {
      padding-bottom: 15rem;
    }
  }
  @include respond(phone) {
    padding-left: 0;
  }
}
