
@import '../../../../sass/loader';

.FeatureSection{
    padding: 10rem 0;
    p{
        font-size: 2.4rem;
        line-height: 3.3rem;
        font-weight: 300;
        color: #888888;
        text-align: center;
        margin-bottom: 8rem;
    }

    h3 {
        @include respond(phone) {
            font-size: 2.8rem;
            line-height: 3rem;
        }
    }
}