

@import '../../sass/loader';

.CommunicationLayer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include respond(phone) {
        justify-content: space-around;
    }
    img {
        max-width: 100%;
    }
    span {
        font-size: 1.2rem;
        color: #949494;
    }
    >div {
        @include respond(phone) {
            flex: 0 0 33.66%;
            max-width: 33%;
            margin-bottom: 5rem;
            padding-left: 5rem;
        }
        @media (max-width: 575px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        h3 {
            color: #282828;
            font-size: 2.7rem;
            font-weight: 600;
            margin-top: 2rem;
        }

        ul {
            margin-top: 3rem;
            font-size: 1.8rem;
            list-style: none;
            li {
                margin: 1rem 0;
                img {
                    margin-right: 1rem;
                }
            }
        }
        @media (max-width: 420px) {
            flex: 0 0 100%;
            max-width: 100%;
            display: block;
            padding-left: 2.5rem;
        }
    }
    
}
