
@import '../../../../sass/loader';

.HeroSection{
    padding-top: 18rem; 
    background-size: 100%;
    position: relative;

    .FlexContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @include respond(phone) {
            flex-direction: column;
        }
    }
    .image{
        position: relative;
        flex: 1;
        text-align: center;
        img{
            position: relative;
            max-width: 100%;
            @include respond(tab-port){
                max-height: 50rem;
            }
            @include respond(phone) {
                max-height: 40rem;
            }
        }
    }
    .Content{
        flex: 1.5;
        position: relative;

        align-self: flex-start;
        margin-left: 8rem;
        img{
            max-width: 100%;
            position: relative;

        }
        h1{
            font-size: 4.8rem;
            position: relative;

            line-height: 5.2rem;
            color: #fff;
            font-weight: 700;
            margin: 2.5rem 0;
            @include respond(tab-port){
                font-size: 2.8rem;
                line-height: 3.2rem;
            }
        }
        p{
            position: relative;

            font-size: 2.4rem;
            line-height: 3.3rem;
            color: #fff;
            font-weight: 300;
            b{
                font-weight: 700;
            }
            @include respond(tab-port){
                font-size: 2rem;
                line-height: 2.4rem;
            }
        }
        @include respond(phone) {
            text-align: center;
            margin-top: 5rem;
            margin-left: 0;
            img{
                max-width: 60px;
            }
        }
    }

    @include respond(phone) {
        padding: 15rem 0 10rem; 
    }
}