@import '../../../sass/loader';
.Intuzian{
    text-align: center;
    margin-right: 3rem;
    @include respond(tab-land) {
        flex: 1 1 20%;
        margin-top: 5rem;
    }
    @include respond(phone) {
        flex: 1 1 50%;
    }
    img{
        height: 5rem;
        margin: 1rem 0;
    }

    h5{
        font-weight: bold;
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        color: #4F4F4F;
        &::first-letter{
            font-size: 36px;
            line-height: 39px;
            color: #9F41C0;
        }
    }

    @include respond(phone){
        display: flex;
        margin-right: 0;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        margin-top: 3rem;
        img{
            // flex-basis: 50%;
            margin-right: 3rem;
            // width: 5rem;
            // height: auto;
        }
        h5{
            flex-basis: 50%;
            text-align: left;
        }
    }
}