@import '../../../../sass/loader';
.NextGenerationSection{
    padding-top: 10rem;
    .AppImages{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        flex-wrap: wrap;
        div{
            width: 25%;
            margin-bottom: 5rem;
            img{
                max-width: 100%;
            }
            @include respond(tab-port){
                width: 50%;
                text-align: center;
            }
        }
    }
    @include respond(phone) {
        padding-top: 6rem;
        h3 {
            font-size: 2.7rem;
            line-height: 3rem;
        }
        p {
            font-size: 2rem;
            line-height: 3.2rem;
        }
        img {
            max-width: 150px;
        }
    }
}