
@import '../../../sass/loader';
.CTAStripe{
    padding: 4rem 0;
    // height: 21rem;
    display: flex;
    align-items: center;
    margin: 8rem 0 4rem;
    &.bg{
        background: url('https://intuz-site.imgix.net/uploads/say_hello.png?auto=format&fm=pjpg') center center no-repeat;
        background-size: 100% 100% !important;
        @include respond(phone) {
            background: url('https://intuz-site.imgix.net/uploads/say_hello.png?auto=format&width=767&fm=pjpg') center center no-repeat;
        }
    }
    div{
        padding: 2.2rem 1.5rem 1.7rem;
        text-align: center;
    }
}