

@import '../../../sass/loader';

.MeetDevSection {
    padding-top: 10rem;
    @include respond(phone) {
        padding-top: 6rem;
        h3 {
            font-size: 4rem !important;   
        }
    }
}