

@import '../../../../sass/loader';

.CenterImage {
    margin-bottom:10rem;
    @include respond(phone) {
        margin-bottom:6rem;
        h3 {
            font-size: 2.7rem;
            line-height: 3rem;
        }
        p {
            font-size: 2rem;
            line-height: 3.2rem;
        }
        img {
            width: 400px;
        }
    }
    &.padding {
        background: #f5f5f5;
        padding: 10rem 0;
        @include respond(phone) {
            padding: 6rem 0;
        }
    }
}

