
@import '../../sass/loader';

.offer{
    margin: 4rem 0;
    .image{
        width: 11.5rem;
        height: 11.5rem;
        background: #eee9ef;
        padding: 2.1rem 0;
        border-radius: 5px;
        transition: all .5s;
        display: flex;
        img{
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }
        &:hover{
            box-shadow: 0 0 10px #ccc;
        }   
    }

    h4{
        padding: 1rem 0;
    }
    p{
        padding: 1rem 2rem 0 0;
    }

    @include respond(phone) {
        text-align: center;
        div {
            margin: auto;
        }
    }
}