@import '../../../sass/loader';
.Hero{
    height: 100vh;
    // background: url("../../../static/Images/aibanner.png") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    @include respond(tab-port){
        align-items: flex-start;
        background-origin: border-box;
        background-position: right bottom;
    }
    .Content{
        max-width: 50%;
        padding-left: 20rem;
        margin-left: 10rem; 
        padding-top: 20rem;
        @include respond(big-desktop){
            padding-top: 0;
        }
        @include respond(tab-port){
            max-width: 100%;
            padding-bottom: 20rem;
            padding-left: 0;
            // margin-left: 20rem;
        }
        @include respond(phone){
            margin-left: 0;
            padding: 10rem 5rem;
        }
    }
    h1{
        font-size: 6.7rem;
        line-height: 9.8rem;
        color: #494949;
        font-weight: 600;
        @include respond(phone){
            font-size: 6rem;
        }
    }
    h2{
        font-size: 3.4rem;
        line-height: 5rem;
        color: #848484;
        margin: 2.5rem 0;
    }
    p{
        font-size: 2.4rem;
        line-height: 3.5rem;
        color: #848484;
        font-weight: 300;
    }
}