
@import '../../../sass/loader';
.PackageNavigation {
    text-align: center;
    margin-bottom: 10rem;
    background-color: #fafafa;
    padding: 5rem 0;
    
    h3 {
        @include respond(phone) {
            font-size: 3rem;
        }
    }
}