@import "../../../sass/loader";
.layerstyle {
  h3 {
    font-size: 3.8rem;
    line-height: 5.3rem;
    color: #000000;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  .box {
    .rectangular {
      box-shadow: 0px 0px 20px #ececec;
      margin: 2rem 0;
      padding: 2rem 1rem;
      img {
        padding: 0 0 1rem;
        height: 53px;
      }
      span {
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #bdbdbd;
        font-weight: normal;
      }
    }
    p {
      font-size: 2.2rem;
      line-height: 3rem;
      color: #828282;
      font-weight: normal;
      text-align: center;
      margin-bottom: 5rem;
    }
  }
  @include respond(tab-port) {
  }

  @include respond(small-phone) {
    h3 {
      font-size: 2.8rem;
      line-height: 3.7rem;
    }
  }
}
