@import "../../../sass/loader";
.AuthorSection {
  margin: 10rem 0 5rem 0;
  .Flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      flex: 1;
    }
    img {
      width: 12.9rem;
      height: 12.9rem;
      border-radius: 50%;
      margin: 0 3rem 0 2rem;
    }
    h3 {
      @apply font-primary;
      font-style: normal;
      font-weight: 600;
      font-size: 3.3rem;
      line-height: 4.5rem;
      color: #000000;
    }
    p {
      @apply font-primary;
      font-style: normal;
      font-weight: normal;
      font-size: 2.3rem;
      // padding: 0 3rem;
      padding-right: 3rem;
      line-height: 3.1rem;

      color: #979797;
    }
    @include respond(phone) {
      flex-direction: column;
      div {
        text-align: center;
      }
    }
    svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: #c4c4c4;
      margin-right: 1rem;
    }
  }
}
