

 .authorDetail {
    display: flex;
    align-items: center;
    img {
        border-radius: 50%;
        margin-right: 2rem;
        cursor: pointer;
    }
    div {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        a {
            color: #212529;
            text-decoration: none;
        }
        .grey {
            color: #D2D2D2;
            font-size: 1.3rem;
        }
    }
}