@import '../../../../sass/loader';

.RadioCenter{
    background-color: #0F304D;
    padding: 10rem 0;
    margin-bottom: 10rem;
    position: relative;
    .flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .img{
        padding-top: 6rem;
       img{
           max-width: 100%;
       }
    }
    @include respond(phone) {
        padding: 6rem 0;
        margin-bottom: 6rem;
        h3 {
            font-size: 2.7rem;
            line-height: 3rem;
        }
        p {
            font-size: 2rem;
            line-height: 3.2rem;
        }
    }
}