
@import '../../../sass/loader';
.CustomerValue {
    margin-top: 6rem;
    @include respond(phone) {
        margin-top: 5rem;
    }
    div {  text-align: center; 
        p {
            color: #0e1f2f;
            font-size: 2.5rem;
            line-height: 3.5rem;
            width: 80%;
            margin: auto;
            margin-bottom: 2rem;
        }
        img {
            @include respond(tab-port) {
                max-width: 300px;
            }
        }
        @include respond(phone) { 
            &:first-child {
                padding-bottom: 5rem;
            }
        }
    }
}