
@import '../../sass/loader';

.BlogFilter {
    padding: 5rem 0;
    .loadMoreBtn {
        padding:5rem;
        text-align:center;
    }

    @include respond(tab-land){
        .removePadding {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}