@import "../../../sass/loader";

.AgencyBlock {
  @apply font-primary;
  padding-bottom: 8rem;
  //@include respond(phone) { padding-top: 5rem; }

  h3 {
    font-size: 3.6rem;
    padding-bottom: 8rem;
  }
}
