@import "../../../sass//loader";

.SideBar {
  // scroll-behavior: smooth;
  // scrollbar-color: rgba(#000,0.3) #0e1f2f;
  // scrollbar-width: thin;
  // &::-webkit-scrollbar {
  //     width: 5px;
  //   }

  //   /* Track */
  //   &::-webkit-scrollbar-track {
  //     background: #0e1f2f;
  //   }

  //   /* Handle */
  //   &::-webkit-scrollbar-thumb {
  //     background: rgba(#000000, 0.5);
  //   }

  //   /* Handle on hover */
  //   &::-webkit-scrollbar-thumb:hover {
  //     background: #555;
  //   }

  width: 7.2rem;
  z-index: 99;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.75);
  background: #0e1f2f;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out 0.5s;
  padding-top: 3rem;
  overflow-x: hidden;
  &.active {
    width: 30rem;
    .MenuLogo {
      background-position: 0;
    }
  }
  // overflow-y: scroll;
  .MenuLogo {
    width: 9.5rem;
    height: 3.3rem;
    margin-left: 2.4rem;
    margin-bottom: 1.5rem;
    background: url("/static/intuz-logo.svg") no-repeat;
    background-position: -7.5rem;
    cursor: pointer;
    transition: background-position 0.5s ease-in-out;
  }

  .Seperator {
    height: 1px;
    width: 30px;
    left: 26px;
    content: "";
    position: absolute;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 0,
      rgba(255, 255, 255, 0) 100%
    );
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(0, 0, 0, 0);
  }

  &:hover {
    transition: width 0.5s ease-in-out 0s;
    width: 30rem;
    .MenuLogo {
      background-position: 0;
    }
    .Seperator {
      width: 225px;
    }
  }

  .Menu {
    width: 300px;
    list-style: none;
    color: #fff;
    margin-top: 5rem;
    li {
      padding: 1.5rem 0rem;
      font-size: 1.4rem;
      color: #fff;
      @apply font-primary;
      font-weight: 400;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 1.8rem;
      cursor: pointer;
      &.activeTag {
        background: #0b1927;
        a {
          color: $primary-blue;
        }
        svg {
          g {
            stroke: $primary-blue;
          }
        }
      }
      div {
        width: 2rem;
        margin-right: 2rem;
        svg {
          width: 30px;
        }
      }

      a {
        display: block;
        color: #fff;
        text-decoration: none;
        margin-left: 2rem;
      }
      &:hover {
        background: #0b1927;
        a {
          color: $primary-blue;
        }
        svg {
          g {
            stroke: $primary-blue;
          }
        }
      }
    }
  }

  .Links {
    width: 300px;
    list-style: none;
    color: #fff;
    margin-top: 2rem;
    li:first-child {
      position: relative;
      display: flex;
      align-items: center;
      // padding: 0.1rem;
      padding: 1.5rem 0rem;
      padding-left: 5.2rem;
      &::before {
        width: 6rem;
        height: 6rem;
        content: "";
        background: url("/static/Images/sidebaricon/menu-icon-dc.svg") no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        position: absolute;
        left: 1rem;

        // background: url("https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/2017/menu-icon-dc.svg");
      }
    }
    li {
      padding: 1.5rem 0rem;
      font-size: 1.4rem;
      color: #fff;
      @apply font-primary;
      font-weight: 400;
      padding-left: 1.8rem;
      cursor: pointer;

      a {
        display: block;
        color: #fff;
        text-decoration: none;
        margin-left: 2rem;
        cursor: pointer;
      }

      &:hover {
        background: #0b1927;
        a {
          color: $primary-blue;
        }
        svg {
          g {
            stroke: $primary-blue;
          }
        }
      }
    }
    li:not(:first-child) {
      padding-left: 5.5rem;
    }
  }

  .socialLinks {
    width: 300px;
    list-style: none;
    display: flex;
    margin-left: 7.3rem;
    li {
      height: 27px;
      width: 27px;

      margin-right: 1rem;
      overflow: hidden;
      svg,
      img {
        width: 100%;
        transition: transform 0.5s ease;
      }
      &:hover {
        img {
          transform: translateY(-28.5px);
        }
      }
    }
  }

  p {
    font-size: 1.1rem;
    width: 300px;
    padding: 2rem 0 2rem 7.5rem;
    color: #fff;
  }
}
