@import "../../sass/loader";
.ResourcesSectionStyle {
  // background: url('https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/guide/banner.jpg') no-repeat center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  align-items: center;
  > div {
    padding: 20rem 0 10rem 0;
  }
  &.position {
    //background-position: none;
  }

  @include respond(big-desktop) {
    //height: 50vh;
    padding: 5rem 0;
  }

  @include respond(phone) {
    background-position: center center;
    h3 {
      font-size: 2.8rem;
    }
  }

  h1 {
    font-size: 4.8rem;
    @apply font-primary;
    color: #fff;
    letter-spacing: 0.89px;
    font-weight: 700;
    padding-bottom: 1.5rem;
    text-align: center;
    @media (max-width: 980px) {
      font-size: 4rem !important;
    }
    @include respond(phone) {
      font-size: 3.2rem !important;
    }
  }

  &.fullHeading {
    height: 100vh;

    @include respond(tab-land) {
      height: auto;
    }
  }
}
