@import "../../../sass/loader";
.CaseDetailBlock {
  @media (min-width: 768px) {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  padding: 3rem 0rem;
  text-align: center;
  @apply font-primary;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1) 0,
    rgba(233, 236, 245, 1) 100%
  );
  &.Picitblock {
    @media (min-width: 768px) {
      background: #447af3;
      color: #ffffff;
    }
  }
  .Logo {
    margin-bottom: 5rem;
    @media (max-width: 1366px) {
      margin-bottom: 2.5rem;
    }
  }
  .icon {
    padding-bottom: 1rem;
  }
  h3 {
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: 600;
  }
  p {
    padding-top: 1rem;
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 300;
  }
  @media (max-width: 1024px) {
    h3 {
      font-size: 2.4rem;
    }
    p {
      font-size: 2.2rem;
    }
    .Logo {
      width: 16rem;
    }
  }

  @media (max-width: 991px) {
    p {
      font-size: 2rem;
    }
  }
  @media (max-width: 767px) {
    padding: 5rem;
    h3 {
      font-size: 2.5rem;
      padding-bottom: 0;
    }
    p {
      line-height: normal;
    }
  }
}
