.HeroSectionResources{
    background: url('https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/guide/banner.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
}
