@import "../../../sass/loader";

.SectionBanner {
  @apply font-primary;
  // background-image: url(https://intuz-site.imgix.net/uploads/csa_832c1a9164.png?auto=format);
  background-size: cover !important;
  //   max-height: 30vh;
  min-height: 720px;
  color: #fff;
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  @include respond(tab-land) {
    padding-left: 15px;
  }
  @include respond(phone) {
    padding-top: 0;
    background-image: url(https://intuz-site.imgix.net/uploads/scback_7f08bf550d.png?auto=format);
  }

  div.Content {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: baseline;
    padding-right: 61rem;
    padding-bottom: 12rem;
    @include respond(phone) {
      align-items: center;
      text-align: center;
      padding-bottom: 4rem;
    }

    &.ServiceContent {
      h1 {
        font-size: 5rem;
        font-weight: 600;
        margin-bottom: 2rem;
        line-height: 6.5rem;
        width: 80%;
        @include respond(tab-land) {
          font-size: 4rem;
          line-height: 5rem;
        }
        @include respond(phone) {
          font-size: 3rem;
          line-height: 4.5rem;
          width: 100%;
        }
      }
      h3 {
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 3rem;
        width: 80%;
        @include respond(phone) {
          font-size: 2.5rem;
          width: 100%;
          margin-bottom: 2rem;
        }
      }
      p {
        font-size: 2rem;
        font-weight: 300;
        width: 80%;
        margin-bottom: 3rem;
        @include respond(phone) {
          margin-bottom: 2rem;
          width: 100%;
        }
      }
    }
    &.enterprice {
      padding-right: 51rem;
      a {
        margin-top: 3rem;
      }
      @include respond(phone) {
        padding-top: 10rem;
      }
    }
    &.androiedDevlopment,
    &.devopes,
    &.appMarketing {
      padding-right: 51rem;
      a {
        margin-top: 3rem;
      }
      @include respond(phone) {
        padding-top: 10rem;
      }
    }
    &.fullstack,
    &.reactnative,
    &.reactjsDevlopment,
    &.iospage {
      padding-right: 51rem;
      @include respond(phone) {
        padding-top: 10rem;
      }
    }
    &.iotPage {
      padding-right: 70rem;
      @include respond(phone) {
        // padding-top: 10rem !important;
      }
    }
    &.whyus,
    &.contactus {
      padding-right: 60rem;
      h3,
      h1 {
        width: 100%;
      }
    }
    &.whyus {
      @include respond(big-desktop) {
        padding-right: 90rem;
      }
    }
    &.contactus {
      @include respond(big-desktop) {
        padding-right: 100rem;
      }
      @include respond(tab-land) {
        padding-right: 70rem;
      }
    }

    @include respond(tab-port) {
      padding-right: 1.5rem !important;
    }
  }

  &.spaceAfter {
    margin-bottom: 10rem;
  }
  .paddingRightCoustumApp {
    padding-right: 61rem;
  }
  .paddingRightSimple {
    padding-right: 51rem;
  }
  .iotPage {
    height: 80vh;
    @include respond(phone) {
      height: 61vh;
    }
  }
  // .enterprice{
  //   height: 80vh;
  // }
}
.customAppHeight {
  min-height: 90vh;
}
.IospageHeight {
  min-height: 80vh;
}
