@import "../../sass/loader";

.CaseFullBlock {
  @apply font-primary;
  @media (min-width: 768px) {
    color: white;
    position: relative;
    height: 90vh;
  }
  h3 {
    font-weight: 600;
    font-size: 2.6rem;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  h1,
  p {
    font-size: 1.6rem;
    @media (min-width: 992px) {
      font-size: 3.2rem;
      line-height: 4rem;
    }
    @media (max-width: 1024px) {
      font-size: 1.8rem;
    }
  }

  &.topBlockl {
    height: 100%;
    & > div {
      height: 100%;
    }
  }
  &.topBlock {
    height: 100%;
  }

  &.topBlock div,
  &.topBlockl div {
    @media (min-width: 768px) {
      height: 100%;
    }
  }

  .descBlock {
    @media (min-width: 768px) {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      width: 50%;
      left: 50%;
      padding: 8rem 8rem 8rem 1rem;

      &.topBlock {
        height: auto;
        padding: 10rem 5rem 5rem 1rem;
        // left: 5%;
        div {
          height: auto;
        }
      }
      &.topBlockl {
        height: auto;
        padding: 18rem 5rem 5rem 1rem;
        // left: 5%;
        div {
          height: auto;
        }
      }
    }
    @media (max-width: 1024px) {
      padding: 4rem 4rem 4rem 1rem;
    }
    @media (max-width: 767px) {
      text-align: center;
      background: radial-gradient(
          ellipse at center center,
          #fff 0,
          #e9ecf5 100%
        )
        rgba(0, 0, 0, 0);
      padding: 5rem 1.5rem;
    }
    &.healthblock {
      left: 0;
      padding: 8rem 1rem 8rem 8rem;
      @media (max-width: 767px) {
        padding: 3rem 0;
      }
    }
    &.musicblock {
      color: black;
    }
    &.topBlock,
    &.pocketblock,
    &.churcheblock,
    &.topBlockl {
      @media (min-width: 768px) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      div,
      h1,
      p,
      h3 {
        text-align: center;
      }
      h3 {
        @include respond(tab-port) {
          padding-top: 2rem;
        }
      }
    }
    &.topBlock,
    &.pocketblock,
    &.churcheblock,
    &.topBlockl {
      color: #fff;
      @include respond(phone) {
        color: #212529;
      }
    }
    &.pocketblock h1,
    p,
    &.churcheblock h1,
    p {
      font-size: 2rem;
      font-weight: 300;
    }
    .LinkButton {
      padding: 1.5rem 0;
      display: inline-block;
    }
    .Logo {
      @media (min-width: 992px) {
        margin-bottom: 2rem;
      }
      @media (max-width: 1142px) {
        width: 125px;
      }
      @media (max-width: 1087px) {
        width: 100px;
      }
    }
    &.topBlock .Logo,
    &.topBlockl .Logo {
      @media (max-width: 1142px) {
        width: 160px;
      }
    }
  }

  &.topBlockl .descBlock {
    left: 0;
  }
  .ArrowButton {
    text-align: center;
    position: absolute;
    // width: 100%;
    bottom: 3%;
    height: auto !important;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    span {
      display: block;
      margin-bottom: -1rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .arrow {
      @media (min-width: 768px) {
        bottom: 0;
        display: inline-block;
        width: 1.8rem;
        height: 1.8rem;
        &::after {
          display: inline-block;
          content: "";
          width: 1.8rem;
          height: 1.8rem;
          outline: 0;
          animation: arrow 1s ease-in 0.1s infinite alternate;
          border-right: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
          cursor: pointer;
        }
      }
    }
  }

  .MobileArrow {
    position: absolute;
    width: 30px;
    height: 13px;
    left: 45%;
    @media (min-width: 420px) {
      left: 47%;
    }
    @media (min-width: 520px) {
      left: 48%;
    }
  }

  img.backImage {
    height: 100%;
    width: 100%;
  }
  @keyframes arrow {
    from {
      transform: translateY(-12px) rotate(45deg);
    }
    to {
      transform: translateY(0) rotate(45deg);
    }
  }
}
