
@import '../../sass/loader';
@mixin min-width-992() {
    @media (min-width: 992px) { @content };
}

.TaxiAppForm {
    margin-top: 5rem;
    @include min-width-992(){ display: flex; }
    form {
        flex: 1.5;
        @include min-width-992(){ 
            padding: 0 5rem; 
            position: relative;
            &::after {
                background: url(https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/2017/contact-sap.jpg) top right repeat-y;
                width: 1px;
                height: 250px;
                position: absolute;
                content: '';
                top: 11%;
                right: 4%;
                z-index: 0;
            }
        }
    }
    .Info {
        @include min-width-992(){ 
            flex: 1;
            display: flex; 
            margin-left: 5rem;
            flex-direction: column;
            justify-content: center;
        }
        @media (max-width:991px) {
            margin-top: 5rem;
        }
        @include respond(phone){ text-align: center; }
        
        h4 {
            font-size: 2.2rem;
            color: #684574;
            font-weight: 600;
            @include min-width-992(){ width: 70%; }
        }
        p {
            font-size: 1.8rem !important;
            line-height: 3rem;
            font-weight: 300;
            color: #7e8890;
            @include min-width-992(){  width: 70%; }
            @include respond(phone){ font-size: 2rem !important; }
        }
    }
}