@import "../../../sass/loader";

.ServiceBlock {
  @apply font-primary;
  //padding-bottom: 8rem;
  //@include respond(phone) { padding-top: 5rem; }

  .Heading {
    text-align: center;
    margin: 0 0 7rem 0;
    h3 {
      font-size: 3.6rem;
    }
    p {
      color: #2c2c2c;
      @include respond(phone) {
        line-height: 2.5rem;
      }
      @include respond(tab-port) {
        font-size: 2.5rem;
      }
    }
  }
  .ServiceRow {
    margin: 0;
  }
}
