@import "../../../../sass/loader";
.ComponentToolsTech {
  text-align: center;
  padding: 5rem 0;
  h2 {
    span {
      @include gradient(linear-gradient(226.05deg, #b133dc 0%, #3cecec 91.48%));
    }
  }
  p {
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 3.9rem;
    color: #4f4f4f;
    text-align: center;
  }
  @include respond(tab-port) {
  }

  @include respond(small-phone) {
    p{
      font-size: 1.8rem;
      line-height: 3rem;
    }
  }
}
