
@import '../../sass/loader';

.UnitContent {
    padding-top: 5rem;
    >div {
        flex: 1;
        padding: 0 1.5rem;
        img {
            max-width: 100%;
        }
        h4 {
            font-size:4.5rem;
            line-height: 5rem;
            color: #212529;
            font-weight: 500;
            margin-bottom: 15px;
            @include respond(large-tab-port) {
                font-size: 3rem;
                line-height: 4rem;
            }
        }
        p{
            color: #7e8890;
            font-size: 1.8rem;
            line-height: 2.8rem;
            font-weight: 300;
            margin-bottom: 15px;
        }
        &.left {
            align-self: baseline;
        }
    }
    @media (min-width: 992px) {
        display: flex;
        align-items: center;
    }
    @include respond(large-tab-port) {
        text-align: center;
        >div {
            margin-bottom: 3.5rem;
            .middleImg {
                width: 350px;
            }
        }
    }
}