@import '../../../sass/loader';

.Heading{
    font-weight: 600;
    text-align: center;
    &.light{
        color: #D2D2D2;
        // font-size: 5.5rem;
        font-size: 6.5rem;
        line-height: 8.9rem;

        @include respond(tab-land) {
            font-size: 5.5rem;
            line-height: 7.9rem;
        }

        @include respond(tab-port) {
            font-size: 4.5rem;
            line-height: 6.9rem;
        }
        @include respond(phone) {
            font-size: 4.0rem;
            line-height: 6.4rem;
        }

        &-white{
            // font-size: 5.5rem;
            font-size: 6.5rem;
            line-height: 8.9rem;
            color: #fff; 
            
            @include respond(tab-land) {
                font-size: 5.5rem;
                line-height: 7.9rem;
            }  

            @include respond(tab-port) {
                font-size: 4.5rem;
                line-height: 6.9rem;
            }

            @include respond(phone) {
                font-size: 4.0rem;
                line-height: 6.4rem;
            }
        }
    }
    
    &.dark{
        color: #262626;
        font-size: 5.5rem;
        line-height: 7.5rem;
        font-weight: 600;
        @include respond(tab-port) {
            font-size: 4.5rem;
            line-height: 6.5rem;
        }  
    }
}

.Paragraph{
    color: #4F4F4F;
    font-weight: 300;
    line-height: 3rem;
    &.smallest{
        font-size: 1.6rem;
    }
    &.small{
        color: #262626;
        font-size: 2.0rem;
        line-height: 3.3rem;
        &-dark{
            font-size: 2.2rem;
            line-height: 3.5rem;
            color: #262626;
        }
    }
    &.large{
        font-size: 2.5rem;
        &-dark{
            font-size: 2.5rem;
            line-height: 3.4rem;
            color: #262626;
            @include respond(tab-land) {
                font-size: 2.4rem;
                line-height: 3.3rem;
            }
            @include respond(tab-port) {
                font-size: 2.2rem;
                line-height: 3.1rem;
            }
            @include respond(phone) {
                font-size: 2.0rem;
                line-height: 2.9rem;
            }
        }
    }
}

.Gradient{
    font-weight: 700;
    font-size: 9rem;
    line-height: 12.3rem;
    letter-spacing: 0.05px;
    background: rgb(60,236,236);
    background: linear-gradient(226.05deg, #B133DC 0%, #3CECEC 91.48%);     
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    &.mid{
        font-size: 4.5rem;
        line-height: 6.1rem;
        color: linear-gradient(184.27deg, #B133DC 0%, #3CECEC 91.48%);
        @include respond(tab-port) {
            font-size: 4.0rem;
            line-height: 5.5rem;
        }
        @include respond(tab-port) {
            font-size: 3.5rem;
            line-height: 5.0rem;
        }
    }

    @include respond(tab-land) {
        font-size: 8rem;
        line-height: 11.3rem;
    }

    @include respond(tab-port) {
        font-size: 7rem;
        line-height: 10.3rem;
    }
    @include respond(phone) {
        font-size: 5.5rem;
        line-height: 7.3rem;
    }
}