@import "../../../../sass/loader";
.main {
  padding: 8rem 0;
  margin-top: 3.2rem;
  p {
    @apply font-nunito;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    color: #4f4f4f;
  }
  @include respond(phone){
    font-size: 3rem;
  }
}
.logoList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 9.6rem;
  img {
    vertical-align: middle;
    border-style: none;
  }
}
