
.Offers{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem 0;
    li{
        text-align: center;
        padding: 1rem 4rem;
        a{
            text-decoration: none;
            color: #D7D7D7;
            font-size: 3rem;
            font-weight: 600;
        }
        img{
            max-width: 100%;
            margin-bottom: 1rem;
        }
        &.active{
            a{
                text-decoration: none;
                color: #000000;
                font-size: 3rem;
                font-weight: 600;
            }
        }
    }
}