@import "../../../sass/loader";
.Solution {
  margin-bottom: 10rem;
  text-align: center;
  img {
    max-width: 100%;
  }
  h5 {
    text-align: center;
    font-size: 2.2rem;
    line-height: 2.6rem;
    color: #282828;
    @apply font-primary;
    font-weight: 600;
  }
  p {
    text-align: center;
    font-size: 2.2rem;
    line-height: 2.6rem;
    color: #000;
    @apply font-primary;
  }
}
