@import "../../sass/loader";
.Nav {
  display: flex;
  flex-wrap: wrap;
  margin: 10rem 0;
  list-style: none;
  justify-content: space-around;
  li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    flex: 1;
    min-width: 90px;
    @include respond(phone) {
      min-width: 70px;
    }
    svg,
    h4 {
      opacity: 0.6;
      transition: opacity 0.3s cubic-bezier(0, 0, 1, 1);
    }
    svg {
      align-self: center;
    }
    &:hover {
      svg,
      h4 {
        opacity: 1;
      }
    }
    &.active {
      svg,
      h4 {
        opacity: 1;
      }
    }
  }
  @include respond(phone) {
    margin: 10rem 0 5rem;
  }
  svg {
    width: 9rem;
    height: 9rem;
    @media (max-width: 575px) {
      width: 6rem;
      height: 6rem;
    }
  }
  h4 {
    font-size: 2rem;
    line-height: 2.5rem;
    @media (max-width: 575px) {
      font-size: 12px;
    }
  }
}
