@import '../../../../sass/loader';
.ComponentCareerIntuzianValueSection{
    margin: 8rem 0;
    p{
        font-weight: 300;
        font-size: 2.2rem;
        line-height: 3.3rem;
        text-align: center;
        letter-spacing: 0.5px;
        color: #262626;
    }
    @include respond(phone){
        padding: 8rem 0 0;
    }
}

.IntuzValuesScroll{
    padding-top: 8rem;
    margin-top: 1rem;
    .wrapper{
        display: flex;
        transition: transform 0.5s ease;
        &>div{
            width: 385px;
        }
    }
}