@import '../../sass/loader';
.SitemapComp{
    h5{
        color: #7e8890;
        font-size: 3rem;
        font-weight: 400;
        margin: 6rem 0 4rem;
        border-bottom: 1px solid #eaf2fa;
        padding-bottom: 1rem;
        line-height: 3.3rem;
    }
    ul{
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li{
            flex-basis: 43%;
            list-style: circle;
            margin: 1rem 0 1rem 4rem;
            @include respond(phone){
                flex-basis: 100%;
            }
            a{
            font-size: 2rem;
            line-height: 2.9rem;
            color: #7e8890;
            transition: color 0.4s ease-in;
                &:hover{
                    color: #000;
                    text-decoration: none;
                }
            }
        }
    }
}