@import "../../sass/loader";
.FormContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;

  @include respond(tab-land) {
    flex-direction: column-reverse;
  }
}
.Address {
  align-self: center;
  // width: 46.786rem;
  margin-left: 10rem;
  margin-right: 10rem;
  flex: 1;
  @include respond(tab-land) {
    align-self: flex-start;
    margin: 0;
    margin-top: 5rem;
  }
  img {
    width: 3.5rem;
    height: 2.6rem;
    filter: grayscale(1);
    transition: filter 0.25s ease;
    &:hover {
      filter: grayscale(0);
    }
  }
  p {
    @apply font-primary;
    font-weight: 300;
    line-height: 3rem;
    padding: 0.5rem 0 1.5rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    color: #4a4a4a;
    margin-right: 2rem;
    padding-left: 2rem;
    position: relative;

    &::before {
      content: url("../../static/Images/ic_location.svg");
      display: inline-block;
      position: absolute;
      left: 0;
      top: 15px;
    }
  }

  .contact {
    a {
      text-decoration: none;
      @apply font-primary;
      font-weight: 300;
      line-height: 3rem;
      font-size: 1.3rem;
      color: #4a4a4a;
      margin-right: 5rem;
      padding-left: 2.5rem;
    }
    & > :first-child {
      background: url("../../static/Images/ic_phone.svg") no-repeat;
    }
    & > :last-child {
      background: url("../../static/Images/email_ic.svg") no-repeat;
    }
  }
  ul {
    list-style: none;
    display: flex;
    margin-top: 2rem;
    li {
      margin-right: 2rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      position: relative;
      transition: background 0.3s ease;
      svg {
        @include absCenter;
        transition: fill 0.3s ease;
      }

      &.twitter {
        &:hover {
          background: #00acee;
          svg {
            g {
              fill: #fff;
            }
          }
        }
      }

      &.blogger {
        &:hover {
          background: #ff5722;
          svg {
            g {
              fill: #fff;
            }
          }
        }
      }

      &.linkedin {
        &:hover {
          background: #0e76a8;
          svg {
            g {
              fill: #fff;
            }
          }
        }
      }

      &.medium {
        &:hover {
          background: rgb(69, 146, 1);
          svg {
            g {
              fill: #fff;
            }
          }
        }
      }

      &.github {
        &:hover {
          background: #000;
          svg {
            g {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

.Form {
  flex: 1;
  padding: 3rem;
  border: 3px solid #fff;
  box-shadow: 0 0 12px #e1e1e1;
  border-radius: 5px;
  background: #f9f9f9;

  h3 {
    @apply font-primary;
    font-weight: 300;
    font-size: 3rem;
    line-height: 3.3rem;
    color: #979797;
    text-align: center;
    margin-bottom: 4.5rem;
  }
  form {
    background: #f9f9f9;
  }
}
