.IotCaseStudy2{
    margin-top: 15rem;
    .smallPara{
        font-size: 1.8rem;
        line-height: 3.2rem;
        letter-spacing: 0.42px;
        margin-top: 5rem;
    }
    .FlexContainer{
        margin-top: 3rem;
        div{
            flex: 1;
        }
        .Image{
            align-self: flex-end;
            padding: 0 1rem;
            img{
                height: 100%;
                width: 100%;

            }
        }
        .Content{
            padding: 1rem;
            p{
                margin-bottom: 8rem;
            }
            h4{
                font-weight: bold;
                font-size: 1.9rem;
                line-height: 2.6rem;
                color: #fff;
                margin-bottom: 2rem;
            }
            ul{
                list-style: none;
                li{
                    font-size: 1.9rem;
                    line-height: 3.8rem;
                    color: #fff;
                    padding-left: 3rem;
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 1.1rem;
                        background-image: url('https://intuz-site.imgix.net/uploads/subtract_79c5c13b7e.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 1.6rem;
                        height: 1.6rem;
                    }
                }
            }
        }
    }
}