@import "../../../sass/loader";

.WhyBlockChain {
  margin-top: 5rem;

  p {
    font-size: 2rem;
    line-height: 3.6rem;
    color: #2c2c2c;
    @apply font-primary;
    overflow: hidden;
  }
  .image {
    float: left;
    margin-right: 3rem;
    padding: 2rem;
    @include clearfix;
    @include respond(tab-land) {
      float: none;
      text-align: center;
    }
    img {
      max-width: 95%;
    }
  }
  a {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    font-size: 14px;
    font-weight: 500;
    color: rgb(126, 136, 144);
    vertical-align: middle;
    text-transform: none;
    display: inline-block;
    text-align: center;
    margin: 0 0 2rem;
    padding: 0.4rem 1rem;
    background: rgb(235, 235, 235);
    border-radius: 0.2rem;
    cursor: pointer;

    &:hover {
      background-color: aqua;
      color: #ffffff;
    }
  }
  @include respond(phone) {
    text-align: center;
  }
}
