@import '../../../sass/loader';

.InformationSection{
    padding: 6rem 0;
    // background-color: #237888;
    &__AboutUs{
        img{
           margin-top: 3rem; 
             @include respond(phone){
                 margin-top: 0;
                 max-width: 57%;
            }
        }
        p{
            margin-top: 4rem; 
            color: #fff;
            font-size: 2.2rem;
            font-weight: 300;
            max-width: 80%;
            @include respond(phone){
                max-width: 100%;
            }
        }
    }
    h4{
        font-size: 4rem;
        color: rgba($color: #fff, $alpha: 0.3);
        font-weight: 700;
        margin-bottom: 3rem;
        @include respond(tab-land){
            font-size: 3.7rem;
       }
        @include respond(tab-port){
            font-size: 3.3rem;
       }
        @include respond(phone){
            font-size: 3.1rem;
       }
    }
    ul{
        list-style: none;
        @include respond(phone){
           padding-left: 1.5rem;
       }
        li{
            padding-left: 4rem;
            color: #fff;
            font-size: 2.2rem;
            margin-bottom: 1rem;
            font-weight: 300;
            position: relative;
            &::before{
                content: url("/cloud/static/case-study/right-symbol.svg");
                position: absolute;
                left: 0;
                top: 2px;
            }
        }
    }
}

.Technology{
    display: flex;
    // justify-content: center;
    margin-bottom: 3rem;
    
    align-items: center;
    &__image{
        padding: 1rem;
        background-color: rgba($color: #000000, $alpha: 0.1);
        border-radius: 50%;
        img{
            width: 6rem;
            height: 6rem;
            // max-width: 100%;
            // height: auto;
        }
    }
    &__content{
        margin-left: 2rem;
        h5{
            color: #fff;
            font-size: 2.5rem;
        }
        p{
            color: #fff;
            font-size: 15px;
        }
    }
}