.HeroSection{
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-image: url("https://intuz-site.imgix.net/uploads/mobiledev-banner.png?auto=format");
    
}