@import "../../../../sass/loader";
.ComponentWhyJamstack {
  padding: 5rem 0;
  h3 {
    font-size: 3.8rem;
    line-height: 5.3rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }
  p {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.7rem;
    color: #828282;
    // text-align: center;
  }
  @include respond(tab-port) {
  }

  @include respond(small-phone) {
    padding: 2rem 0;
    h3 {
      font-size: 2.8rem;
      line-height: 3.7rem;
    }
    p {
      font-size: 1.8rem;
      line-height: 3rem;
      padding: 1rem 0 !important;
    }
  }
}
