@import "../../../sass/loader";
.LinkButton {
  padding: 1rem 4rem;
  border-radius: 10rem;
  font-weight: 600;
  font-size: 1.8rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease;
  @apply font-primary;
  &.white {
    @apply font-primary;
  }
  &.caseBlockBtn,
  &.caseBlockWhiteBtn {
    display: inline-block;
    color: #2c2c2e;
    border: 1px solid #2c2c2e;
    border-radius: 2.5rem;
    padding: 1rem 2.5rem;
    font-size: 1.7rem;
    margin: 1rem 0;
    &:hover {
      text-decoration: none;
    }
  }
  &.caseBlockWhiteBtn {
    border: 1px solid #fff;
    color: #fff !important;
  }
  &.fullCaseBlockBtn {
    border: 1px solid #fff;
    color: #fff !important;
    font-weight: 400;
    padding: 1rem 2rem;
    &:hover {
      text-decoration: none;
    }
    @media (max-width: 767px) {
      border: 1px solid #000;
      color: #000 !important;
    }
  }
  &.whiteBorder {
    border: 2px solid #fff;
    color: #fff !important;
    &:hover {
      color: #000 !important;
      background: $primary-blue;
      border-color: $primary-blue;
      text-decoration: none;
    }
  }
  &.bannerBtn,
  &.blueBannerBtn {
    border: 2px solid #fff;
    color: #fff !important;

    &:hover {
      text-decoration: none;
    }
  }
  &.customAppMobile {
    border: 1.5px solid #fff;
    color: #fff !important;

    &:hover {
      text-decoration: none;
    }
  }
  &.blueBannerBtn {
    border: 0.2rem solid $primary-blue;
    background: $primary-blue;

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }

  &.blackBorder {
    border: 2px solid #000000;
    color: #000 !important;
    &:hover {
      color: #000 !important;
      background: $primary-blue;
      border-color: $primary-blue;
      text-decoration: none;
    }
  }

  &.black {
    background: #0e1f2f;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 0.33px;
    display: inline-block;
    margin-top: 1.5rem;
    text-transform: uppercase;
    text-shadow: none;
    transition: all 0.3s ease;
    @apply font-primary;
    padding: 0.8rem 2rem;
    &:hover {
      background: $primary-blue;
      color: #0e1f2f;
      text-decoration: none;
    }
  }

  &.blue,
  &.btnPackage {
    display: inline-block;
    margin: 2.5rem 0;
    border: 0.2rem solid $primary-blue;
    background: $primary-blue;
    color: #0e1f2f;
    padding: 1rem 4rem;
    @apply font-primary;
    text-decoration: none;
    &-sand {
      color: #fff !important;
      @apply font-primary;
      display: inline-block;
      font-weight: 600;
      margin: 2.5rem 0;
      border: 0.2rem solid $primary-blue;
      background: $primary-blue;
      padding: 1rem 4rem;
      text-decoration: none;
      font-size: 2.2rem;
      line-height: 2.6rem;
      &:hover {
        background: $primary-violet;
        border-color: $primary-violet;
        text-decoration: none;
      }
    }
  }

  &.btnPackage {
    color: #fff;
    background: #684574;
    border-color: #684574;
    padding: 1rem 10rem;
  }
  &.blackBorder {
    border: 0.2rem solid #0e1f2f;
    background: #fff;
    padding: 0.8rem 2.5rem;
    display: inline-block;
    color: #0e1f2f;
    letter-spacing: 0.5px;
    transition: all 0.5s ease;
    &:hover {
      text-decoration: none;
      background: $primary-blue;
      border: none;
      border: 0.2rem solid $primary-blue;
      text-decoration: none;
    }
  }

  &.purpleBtn {
    padding: 0.8rem 2.5rem;
    background: #734f7f;
    color: #fff !important;
    font-size: 1.8rem;
    border-radius: 0.7rem;
    display: inline-block;
    &:hover {
      background: $primary-blue;
      text-decoration: none;
      color: #fff !important;
    }
  }

  &.blueSqured {
    padding: 0.8rem 2.5rem;
    background: $primary-blue;
    color: #fff !important;
    font-size: 1.8rem;
    border-radius: 0.7rem;
    display: inline-block;
    &:hover {
      text-decoration: none;
      color: #fff !important;
    }
  }

  &.whiteCorner {
    width: 149px;
    height: 43px;
    border: 1px solid black;
    color: #262626;
    @apply font-lato inline-flex items-center justify-center;
    font-weight: 400;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.2;
    cursor: pointer;
    border-radius: 2px;
    padding: 1rem;
    background-color: white;
    transition: all 0.3s ease;
    &:hover {
      background-color: #3cecec;
      border: 2px solid #3cecec;
      text-decoration: none;
    }
    @include respond(phone) {
      font-size: 2rem;
      margin-top: 3rem;
      font-size: 1.75rem;
    }
  }
}
