@import "../../sass/loader";

.MultiBlogBlock {
  padding: 8rem 0;
  @apply font-primary;
  h2 {
    text-align: left;
    padding-bottom: 0px;
    display: inline-block;

    @include respond(phone) {
      display: block;
    }
  }
  @include respond(phone) {
    padding: 4rem 0 0 0;
    h2 {
      text-align: center;
    }
  }
  > div > a {
    color: #979797;
    font-size: 16px;
    float: right;
    padding: 3rem 1.5rem 0 0;
    text-decoration: none;
    img {
      margin-left: 1rem;
    }
    @include respond(tab-port) {
      padding: 1rem 1.5rem 0 0;
    }
    @include respond(phone) {
      float: none;
      display: block;
      text-align: center;
    }
  }
}
