@import "../../../../sass/loader";
.DevelopmentProcessSection {
  padding: 8rem 0;
  h2 {
    @apply font-nunito;
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    color: #262626;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
  p {
    @apply font-nunito;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #4f4f4f;
    @include respond(phone) {
      font-size: 1.75rem;
    }
  }
}
.storieList {
  margin-top: 7rem;
  .storieListItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 6rem;
    }
    @include respond(phone) {
      display: block;
    }

    img {
      height: auto;
      max-width: 100%;
      text-align: left;
      flex-basis: 50%;
    }
    & > div {
      flex-basis: 50%;
      @include respond(phone) {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 6.5rem;
      }
      h3 {
        @apply font-nunito;
        font-size: 3.2rem;
        font-weight: 700;
        text-align: left;
        line-height: 1.5;
        color: #262626;
        margin-top: 4.8rem;
        @include respond(phone) {
          font-size: 2.25rem;
          text-align: center;
        }
      }
      p {
        @apply font-lato;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: left;
        line-height: 1.6;
        color: #4f4f4f;
        margin-top: 8px;
        margin-bottom: 5rem;
        @include respond(phone) {
          margin-top: 1rem;
          font-size: 1.75rem;
          text-align: center;
        }
      }
      a {
        width: 149px;
        height: 43px;
        border: 1px solid black;
        color: #262626;
        @apply font-lato;
        font-weight: 400;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.2;
        cursor: pointer;
        border-radius: 2px;
        padding: 1rem;
        background-color: white;
        transition: all 0.3s ease;
        &:hover {
          background-color: #3cecec;
          border: 2px solid #3cecec;
          text-decoration: none;
        }
        @include respond(phone) {
          font-size: 2rem;
          margin-top: 3rem;
          font-size: 1.75rem;
        }
      }
    }
  }
}
.ulList {
  // text-align: left;
  margin-left: 1rem;
  @include respond(phone) {
   display: none; 
  }
  .liList {
    @apply font-lato;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    line-height: 2.5;
    color: #4f4f4f;
    @include respond(phone) {
      align-items: flex-start;
      font-size: 1.65rem;
      text-align: left;
    }
  }
}
