
@import '../../../../sass/loader';
.HeroSection{
    background: rgba(18,31,48,1);
    background: linear-gradient(to bottom, rgba(18,31,48,1) 14%, rgba(13,42,79,1) 38%, rgba(1,69,151,1) 95%, rgba(1,69,151,1) 100%);
    padding: 25rem 0 10rem; 
    @include respond(phone) {
        padding: 10rem; 
    }
    .FlexContainer{
        display: flex;
        align-items: center;
        justify-content: center;   

        @include respond(phone) {
            flex-direction: column;
        }
        >div {
            flex: 1;
        }
    }
    .image{
        margin-bottom: -20rem;
        img{
            max-width: 100%;
            max-height: 70rem;
            @include respond(tab-port){
                max-height: 50rem;
            }
            @include respond(phone) {
                max-height: 40rem;
            }
        }
        @include respond(phone) {
            margin-bottom: 0;
        }
    }
    .Content {
        margin-left: 8rem;
        align-self: flex-start;
        img{
            max-width: 100%;
        }
        h1{
            font-size: 4.8rem;
            line-height: 5.2rem;
            color: #fff;
            font-weight: 700;
            margin: 2.5rem 0;
        }
        p{
            font-size: 2.4rem;
            line-height: 3.3rem;
            color: #fff;
            font-weight: 300;
            b{
                font-weight: 700;
            }
        }

        @include respond(phone) {
            margin-left: 0;
            margin-top: 5rem;
            text-align: center;
            img{
                max-width: 60px;
            }
        }
    }
}