@import "../../../../sass/loader";
.ThirdSection {
  padding: 6rem 0;
  @include respond(phone) {
    padding: 5rem 0;
  }
  .Logo {
    // flex-basis: 15%;
    // min-width: 20rem;
    margin: 2rem 4rem;
    text-align: center;
    @include respond(phone) {
      margin: 2rem 1rem;
      // min-width: 13rem;
    }
    img {
      filter: grayscale(1);
      // max-width: 80%;
    }
  }
  h2 {
    span {
      font-weight: 700;
      font-size: 9rem;
      line-height: 12.3rem;
      letter-spacing: 0.05px;
      background: rgb(60, 236, 236);
      background: linear-gradient(226.05deg, #b133dc 0%, #3cecec 91.48%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      color: transparent;
      &.mid {
        font-size: 4.5rem;
        line-height: 6.1rem;
        color: linear-gradient(184.27deg, #b133dc 0%, #3cecec 91.48%);
        @include respond(tab-port) {
          font-size: 4rem;
          line-height: 5.5rem;
        }
        @include respond(tab-port) {
          font-size: 3.5rem;
          line-height: 5rem;
        }
      }

      @include respond(tab-land) {
        font-size: 8rem;
        line-height: 11.3rem;
      }

      @include respond(tab-port) {
        font-size: 7rem;
        line-height: 10.3rem;
      }
      @include respond(phone) {
        font-size: 5.5rem;
        line-height: 7.3rem;
      }
    }
  }
}
