@import "../../../sass/loader";

.sectionTitle {
  @apply font-primary;
  background-size: cover !important;
  margin-bottom: 10rem;
  > div {
    text-align: center;
    img {
      margin-bottom: 15px;
    }
  }
  h3 {
    color: #3bebeb;
  }
  &.topMargin {
    margin-top: 10rem;
  }
  @include respond(phone) {
    margin-bottom: 7rem;
    h3 {
      font-size: 4rem;
    }
    &.topMargin {
      margin-top: 7rem;
    }
  }
}
