@import "../../../sass/loader";
.ElegentSection {
  margin-bottom: 10rem;
  padding: 5rem 0;
  background-color: #f8f8f8;
  .flexContainer {
    display: flex;
    //align-items: flex-start;
    align-items: center;
    justify-content: space-evenly;
    & > div {
      flex: 1;
    }
    @include respond(phone) {
      display: block;
      text-align: center;
    }
  }

  .Content {
    margin-top: 2rem;
    @apply font-primary;
    margin-left: 3rem;
    h2 {
      line-height: 6rem;
      font-size: 4.8rem;
      font-weight: 600;
      margin: 1rem 0;
      @include respond(phone) {
        font-size: 2.7rem;
        line-height: 3rem;
      }
    }
    p {
      font-size: 2.4rem;
      line-height: 3.3rem;
      color: #888;
      font-weight: 300;
    }
    @include respond(phone) {
      margin: 0;
      p {
        font-size: 2rem;
        line-height: 3.2rem;
      }
    }
  }
  .image {
    margin-left: 3rem;
    img {
      max-width: 100%;
    }
  }

  @include respond(phone) {
    margin-bottom: 6rem;
    padding: 0;

    &.spaceBlock {
      padding: 5rem 0;
    }
    .image {
      margin: 0;
      img {
        padding: 2rem;
        width: 400px;
      }
    }
  }
}
