@import '../../../../sass/loader';
.WhySection , .GlanceSection{
    ul{
        list-style-type: circle;
        font-size: 2.2rem;
        line-height: 3.3rem;
        letter-spacing: .5px;
        font-weight: 300;
        li{
            padding: 1rem 0;
        }
    }
    h4{
        font-size: 5.2rem;
        line-height: 5.8rem;
        text-align: center;
        font-weight: bold;
        color: #676767;
        @include respond(tab-port) {
            font-size: 4.6rem;
            line-height: 5.2rem;
        }
        @include respond(phone) {
            font-size: 4.0rem;
            line-height: 4.8rem;
        }
    }
    h5{
        font-size: 2.2rem;
        line-height: 3.0rem;
        text-align: center;
        letter-spacing: 0.458333px;

        color: #262626;
    }
}