@import "../../../sass/loader";
.Banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include respond(tab-port) {
    flex-direction: column;
  }
  padding: 20rem 2rem 6rem;
}

.BannerHeadings {
  overflow: hidden;
  max-width: 63%;
  margin-right: 6rem;
  display: flex;
  flex-direction: column;
  & > p {
    font-size: 3rem;
    line-height: 5.5rem;
    color: #fff;
    font-weight: 300;
    @apply font-primary;
    margin: 2rem 0;
  }
  h1 {
    font-size: 5.5rem;
    line-height: 7rem;
    @apply font-primary;
    color: #fff;
    font-weight: 400;
    strong {
      font-weight: 700;
      display: block;
    }

    @include respond(tab-port) {
      font-size: 4rem;
      line-height: 6rem;
    }
  }

  span {
    margin-top: 4rem;
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
  }

  .BannerCarousel {
    margin-top: 5rem;
    border-top: 1px solid rgba(#fff, 0.5);
    border-bottom: 1px solid rgba(#fff, 0.5);
    padding: 2rem;
    margin-right: 5rem;
    margin-bottom: 3rem;

    &.withTitle {
      margin-top: 10px;
    }
  }

  @include respond(tab-port) {
    max-width: 100%;
    margin-right: 0px;
  }
}

.BannerForm {
  background: #fff;
  //    flex: 1;
  // width: 100%;
  max-width: 75%;
  // margin-left: 5rem;
  padding: 4.5rem 3rem 3rem;
  border-radius: 1rem;
  position: relative;
  z-index: 2;
  box-shadow: 0 0.6rem 1.2rem 0 rgba(0, 0, 0, 0.1);
  @apply font-primary;
  & > span {
    display: block;
    position: absolute;
    right: 2rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #757575;
    top: 1rem;
    img {
      margin-top: -0.5rem;
      margin-right: 0.5rem;
    }
  }
  h3 {
    @apply font-primary;
    font-size: 3rem;
    line-height: 3.3rem;
    font-weight: 600;
    span {
      color: #734f7f;
    }
  }
  .send {
    justify-self: stretch;
    button {
      width: 100%;
    }
  }

  @include respond(phone) {
    max-width: none;
    margin-top: 5rem;
    padding-bottom: 2rem;
  }
}

.CarouselStory {
  position: relative;
  margin: 3rem auto;
  max-width: 70%;
  padding: 6rem 0;
  &::before {
    content: url("https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/mobileappdev/quote-left.png");
    position: absolute;
    top: 0rem;
    left: 0;
    @include respond(phone) {
      display: none;
    }
  }
  &::after {
    content: url("https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/mobileappdev/quote-right.png");
    position: absolute;
    right: -2rem;
    bottom: -3rem;
    @include respond(phone) {
      display: none;
    }
  }
}

.Buttons {
  text-align: center;
  margin: 2rem 0;
  button {
    background: none;
    outline: none;
    border: none;
    margin-right: 1rem;
  }
}

.RnFact {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  @apply font-primary;
  padding-top: 5rem;
  position: relative;
  &::after {
    content: "";
    width: 30%;
    height: 2px;
    display: block;
    background: #fff;
    position: absolute;
    top: 20%;
  }
  h4 {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 4.6rem;
    color: #fff;
    @include respond(phone) {
      font-size: 3.8rem;
    }
  }
  p {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #fff;
  }
}

.BannerHeadings {
  &.mobileApp {
    @include respond(tab-port) {
      h1 {
        text-align: center;
        font-size: 2.8rem;
      }
      .CarouselStory {
        margin: 0 auto;
      }
    }
  }
}
