@import '../../sass/loader';


.PdfModal {
    text-align: center;

    h3 { font-size: 3rem; }
    p { 
        font-size: 1.5rem; 
        color: #aaa;
    }
    img { max-width: 100%; }
    input, button {
        padding: .8rem 1.5rem;
        border-radius: 7px;
        font-size: 1.5rem;
        margin-top: 1rem;
        border: 1px solid #ccc;
    }
    button {
        border: none;
        padding: .8rem 2.5rem;
        margin-left: 1rem;
        font-weight: 400;
        color: #fff;
        background: #3cecec;
        font-size: 1.8rem;
    }
    input { width:55%; }
}


