@import "../../../sass/loader";

.AdaptiveSection {
  @apply font-primary;
  padding-bottom: 8rem;
  padding-top: 8rem;
  background-size: cover !important;

  @include respond(phone) {
    padding-bottom: 5rem;
  }
  &.sectiononly {
    padding: 0;
  }
  h3 {
    color: #3cecec;
    font-weight: 600;
    font-size: 5rem;
    line-height: 5rem;

    @include respond(phone) {
      font-size: 3rem;
    }
  }
  .titleImage {
    div,
    h3 {
      display: inline-block;
    }
    h3 {
      margin-left: 10px;
    }
  }
  .FullPage {
    .imgCenter {
      & > div {
        visibility: visible;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
      }
    }
    @media (min-width: 1364px) {
      padding: 0 1.5rem;
    }
    .titleImage {
      margin-bottom: 5rem;
    }
  }

  > div > p {
    color: #596c82 !important;
    line-height: 4rem;
    text-align: center;
    font-size: 2.6rem;
  }

  .linkBtn {
    margin-bottom: 10rem;
  }

  .addspace {
    margin-bottom: 5rem;
  }
}
