@import '../../sass/loader';
.FaqComponent{
    padding: 6rem 0 6rem;
    h2{
        text-align: left !important;
    }
}

.FaqCollapseBtn{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 1rem 0;
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
    span{
        position: absolute;
        right: 5%;
        transition: all .3s ease;
    }
    @include respond(phone){
        padding-right: 2rem;
        span{
            top: 15px;
            right: 0%;
        }
    }
}

.FaqCollapseContent{
    padding: .1rem 3rem 4rem 1rem;
    font-size: 1.6rem;
    line-height: 2.5rem;

    letter-spacing: 1px;
    color: #4F4F4F;
}