@import "../../sass/loader";

.FeturedApp {
  display: flex;
  align-items: center;
  padding-bottom: 5rem;
  justify-content: space-between;
  @include respond(phone) {
    flex-direction: column;
  }
  .image {
    // width: 100rem;
    flex: 1;
    margin-right: 10rem;
    img {
      max-width: 100%;
      min-height: 400px;
      max-height: 500px;
    }
    @include respond(phone) {
      margin: auto;
    }
  }
  .caption {
    justify-self: flex-end;
    flex: 1;
    @apply font-primary;
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: 300;
    color: #7e8890;

    .logo {
      max-width: 50%;
      img {
        max-width: 85%;
      }
      @include respond(phone) {
        margin: auto;
        img {
          margin: auto;
          max-width: 80%;
        }
      }
    }
    &.right {
      text-align: right;
      .logo {
        margin-left: auto;
      }
    }
    &.left {
      text-align: left;
    }
    p {
      padding: 2rem 0;
    }
    .link {
      // display: flex;
      a {
        display: inline-block;
        margin-right: 2rem;
        width: 5.4rem;
        height: 5.4rem;
        border-radius: 50%;
        position: relative;
        border: 0.3rem solid #f5f5f5;
        line-height: 4.2rem;
        transition: background 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        &:hover {
          background: darken(red, 15) !important;
          border: 0;
        }

        img {
          max-width: 50%;
          @include absCenter;
        }
      }
    }
    @include respond(phone) {
      text-align: center !important;
      font-size: 2rem;
    }
  }
}
