@import "../../../../sass/loader";
.ComponentGetinTouch {
  padding: 5rem 0;
  .boxstyle {
    box-shadow: 0px 0px 18px #ebebeb;
    border-radius: 5px;
    margin: 0 10rem;
    padding: 2rem 5rem;
    text-align: center;
    p {
      font-size: 3rem;
      line-height: 4.1rem;
      color: #000000;
      text-align: center;
      margin-bottom: 0;
    }
    span {
      font-size: 5rem;
      line-height: 8rem;
      text-align: center;
      color: #000000;
    }
  }
  @include respond(tab-port) {
  }

  @include respond(small-phone) {
    .boxstyle {
      margin: 0;
      span {
        font-size: 2.8rem;
        line-height: 3.8rem;
      }
      p {
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
    }
  }
}
