@import '../../sass/loader';
.ShareButton{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #ECECEC;
    background-color: #fff;
    width: 8.1rem;
    position: absolute;
    padding: 3rem 0;
    top: 1.8%;
    left: 10%;
    
    @media screen and (max-width:1330px) {
        left:0;
    }
    @include respond(tab-port){
        flex-direction: row;
        bottom: 0;
        width: 100%;
        height: 8.1rem;
        top: initial !important;
        justify-content: space-around;
        padding: 1rem 0;
    }
    z-index: 5;
    button{
        margin: 1rem 0;
        svg{
            width: 3rem;
            height: 3rem;
            fill:#979797;
        }
    }
    &.sticky{
        position: fixed;
        top: 25%;
    }
    &.end{
        bottom: 0 !important;
        top: initial !important;
        position: absolute;
        @include respond(tab-port){
            position: fixed !important;
        }
    }
}