@import "../../../sass/loader";
.ImageBlock {
  padding: 5rem;
  min-height: 11rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
  }
  figcaption {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    @apply font-primary;
    padding-top: 1rem;
  }
}

.forMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
