@import "../../../sass/loader";

.HeroBlog {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  height: 50rem;
  align-items: center;
  position: relative;
  background-position: 100% 100%;
  > div {
    padding: 5rem 0 0 0;
  }

  @include respond(big-desktop) {
    //height: 50vh;
    padding: 5rem 0;
  }

  @include respond(phone) {
    background-size: cover;
    background-position: center center;
    h3 {
      font-size: 2.8rem;
    }
  }

  h1 {
    font-size: 4.8rem;
    @apply font-primary;
    color: #fff;
    letter-spacing: 0.89px;
    font-weight: normal;
    padding-bottom: 1.5rem;
    text-align: center;
    max-width: 90%;
    margin: auto;
    @media (max-width: 980px) {
      font-size: 4rem !important;
    }
    @include respond(phone) {
      font-size: 3.2rem !important;
    }
    @media (max-width: 420px) {
      max-width: 90%;
    }
  }

  &.fullHeading {
    height: 100vh;

    @include respond(tab-land) {
      height: auto;
    }
  }
}
