@import '../../../../sass/loader';
.ComponentUiBlockquote{
    text-align: center;
    padding: 8rem 0;
    blockquote{
        position: relative;
        p{
            font-size: clamp(17px,3vw,58px);
            line-height: clamp(23px,5vw,80px);
            color: #000000;
        }
        max-width: 90%;
        margin: auto;
        &::before, &::after{
            content: "";
            background-size: contain;
            position: absolute;
            width: clamp(3rem, 2.6vw ,5rem);
            height: clamp(3rem, 2.6vw ,5rem);
            // background-color: red;
            background-repeat: no-repeat;
            background-position: center;

        }
        &::before{
            background-image: url(https://intuz-com-react-live.s3.us-west-2.amazonaws.com/uploads/quote_left_755deaf60a.png);
            left: -5rem;
            top: 1.5rem;
            @include respond(phone) {
                left: 0rem;
                top: -3rem;
            }
            
        }
        &::after{
            background-image: url(https://intuz-com-react-live.s3.us-west-2.amazonaws.com/uploads/quote_right_5f2877b71b.png);
            right: -3rem;
            bottom: 0;
            @include respond(phone) {
                right: 0rem;
                bottom: -1rem;
            }
            
        }

        @include respond(phone) {
            max-width: fit-content;
        }

    }
    p{
        font-size: clamp(18px, 2vw ,32px);
        line-height: clamp(25px,3vw,44px);
    }
}