@import '../../../../sass/loader';
.NeedSupportSection{
    margin: 6rem 0;
    @include respond(phone){
        margin: 5rem 0;
   }
    div{
        background-image: url(/cloud/static/need-support.png);
        background-size: 100% 50%;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 8rem 0;
    }
    h3{
        text-align: center;
        font-size: 3.6rem;
        font-weight: 700;
        margin-right: 4rem;
        @include respond(phone){
            margin-right: 0;
            margin-bottom: 2rem;
       }
    }
}