@import "../../../../sass/loader";
.serviceMain {
  padding: 8rem 0;
  h2 {
    @apply font-nunito;
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    color: #262626;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
  p {
    @apply font-nunito;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #4f4f4f;
    @include respond(phone) {
      font-size: 1.75rem;
    }
  }
  .listService {
    h3 {
      @apply font-nunito;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      text-align: left;
      color: #262626;
      @include respond(phone) {
        font-size: 2.25rem;
      }
    }
    p {
      @apply font-nunito;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.6;
      text-align: left;
      color: #4f4f4f;
      @include respond(phone) {
        font-size: 1.75rem;
      }
    }
  }
}

.GridList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem 7rem;
  margin-top: 7.2rem;
  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem 0rem;
    margin-top: 6rem;
  }
}
