
@import '../../../../sass/loader';
.NotificationCenter{
    background-color: #0F304D;
    // height: 100vh;
    // padding: 10rem 0;
    // padding-bottom: 40%;
    // padding-bottom: 34%;
    padding-top: 5rem;
    position: relative;
    .flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        h3 {
            @include respond(phone) {
                font-size: 2.8rem;
            }
        }
    }
    .img{
        // margin-bottom: -10rem;
        padding-top: 6rem;
       img{
           max-width: 100%;
           @include respond(phone) {
                max-height: 40rem;
            }
       }
    }
}