@import '../../../../sass/loader';
.SectionNavigation{
    animation-play-state: paused;
    &.sticky{
        animation: fadeIn 0.5s 1;
        animation-timing-function: ease;
        position: fixed;
        animation-play-state: running;
        width: 100%;
        top: 7rem;
        left: 0;
        z-index: 56;
        background: #fff;
        box-shadow: 3px 4px 3px 1px #eee;
        padding: 0rem 2rem 0;
        ul{
            font-size: 2.0rem;
            line-height: 4.5rem;
            li{
                div{
                    // align-items: center;
                    display: none;
                    // justify-content: center;
                    // height: 4rem;
                }
                p{
                    margin: 0rem;
                }
            }
        }

    }
    ul{
        padding:  0 5rem;
        list-style: none;
        font-size: 2.5rem;
        line-height: 4.5rem;
        color: #262626;
        text-align: center;
        @include respond(tab-land) {
            font-size: 2.2rem;
            line-height: 4.2rem;
        }
        @include respond(tab-port) {
            font-size: 2.0rem;
            line-height: 3.9rem;
        }
        li{
            cursor: pointer;
            div{
                width: 4rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
            img{
               max-width: 100%;
            //    margin-bottom: 1rem;
            }
            &.active{
                color: #3cecec;
                svg{
                    path{
                        stroke: #3cecec;
                        fill: azure;
                    }
                }
            }
            p{
                margin-top: -2rem;
            }
        }
    }
}

@keyframes fadeIn {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
  
    to {
        transform: translateY(0);
      opacity: 1;
    }
  }