@import '../../../../sass/loader';
.HeroSection{
    background: #0F304E url(https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/lab/alarmrlite/alarmrBg.jpg) no-repeat bottom center;
    background-size: 100%;
    min-height: 100vh;
    padding: 20rem 0 10rem 0; 
    
    @include respond(tab-port){
        min-height: 85vh;
    }
    @include respond(phone){
        background: #0F304E;
        background-image: none;
        padding-top: 15rem;
    }
    .FlexContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond(phone) {
            flex-direction: column;
        }
    }
    .image{
        flex: 1;
        text-align: center;
        img{
            max-width: 100%;
            @include respond(tab-port){
                max-height: 50rem;
            }
            @include respond(phone) {
                max-height: 40rem;
            }
        }
    }
    .Content{
        flex: 1.5;
        margin-top: 8rem;
       
        img{
            max-width: 100%;

        }
        h1{
            font-size: 4.8rem;
            line-height: 5.2rem;
            color: #fff;
            font-weight: 700;
            margin: 2.5rem 0;

            @include respond(tab-port){
                font-size: 2.8rem;
                line-height: 3.2rem;
            }
        }
        p{
            font-size: 2.4rem;
            line-height: 3.3rem;
            color: #fff;
            font-weight: 300;
            b{ font-weight: 700;
            }
            @include respond(tab-port){
                font-size: 2rem;
                line-height: 2.4rem;
            }
        }

        @media (min-width:768px) {    
            margin-left: 8rem;
            align-self: flex-start;
        }

        @include respond(tab-port){
            margin-top: 0;
        }
        @include respond(phone) {
            text-align: center;
            margin-top: 5rem;
            img{
                max-width: 60px;
            }
        }
    }
}