.BreakPoints {
    margin-top: 9rem;
    margin-bottom: 9rem;
    padding: 10rem 0;
    text-align: center;    
    background-size: 100% 100% !important;
    // height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width:1024px) {
        // margin-top: 0;
        // margin-bottom: 0;
        // padding: 8rem 1.5rem;
    }
    @media (max-width:767px) {
        padding: 5rem 0rem;
    }
    p {
        padding-bottom: 1.5rem
    }
}