@import '../../../sass/loader';
.ScrollButton{
    position:fixed;
    bottom:67px;
    right:16px;
    display: none;
    opacity: 0.8;
    cursor:pointer;
    transition: all 0.5s ease;
    z-index: 15;
    img{
        width:70px;
        height:70px;
    }
    
    @include respond(phone) {
        bottom:0;
        right:0;
        &.privacy {
            bottom:0;
            right: 0; 
        }
    }
}
