@import "../../../sass/loader";
.EmployeeQuote {
  background: #f8f8f8;
  border-radius: 10px;
  @apply font-primary;
  padding-bottom: 3rem;
  min-height: 800px;
  .Image {
    position: relative;
    img {
      border-radius: 5px;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 74%);
    }
    .Quote {
      background: #ffffff;
      box-shadow: 0px 0px 16px #cfcfcf;
      border-radius: 5px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 6rem;
      position: absolute;
      left: 7rem;
      bottom: 10%;
      height: 6rem;
      img {
        padding: 2rem;
        max-width: 100%;
        height: auto;
      }
      @include respond(phone) {
        bottom: 20%;
      }
      @include respond(small-phone) {
        bottom: 12%;
      }
    }
  }

  blockquote {
    padding: 4rem 0.3rem 0;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 4.4rem;
    text-align: center;
    letter-spacing: 0.5px;
    color: #4f4f4f;
  }
  p {
    text-align: center;
    font-size: 2rem;
    span {
      color: #828282;
    }
  }
}
