@import '../../sass/loader';

.MissionContent {
    padding: 7rem 0;
    color: #ffffff;
    @media (min-width:1281px) {
        display: grid;   
        grid-template-columns: 70% 30%;
    }
    .leftTop {
        @media (min-width:768px) {
            display: grid;
            grid-template-columns: 50% 50%;
        }
        @media (min-width:992px) {
            grid-template-columns: 60% 40%;
        }
    }
    .leftBottom {
        @media (min-width:992px) {
            display: grid;
            grid-template-columns: 25% 25% 50%;
        }
    }
    img {
        max-width: 168px;
        max-height: 125px;
        margin: 2rem 0;
    }

    .Block {
         border:  2px solid #5f6879;
         padding: 3rem;
         margin: 1rem;
         text-align: center;
         @media (min-width: 541px) {
            display: flex;
            align-items: center;
            justify-content: center;
         }
         @media (max-width:540px) {
            padding: 5rem;
         }
         &.vertical {
            @media (min-width:992px) {
                flex-direction: column;
            }
         }

        h3 {
            font-weight: 600;
            font-size: 3.8rem;
            line-height: 5.3rem;
        }
        span {
            font-weight: 400;
            font-size: 2.2rem;
            line-height: 3.5rem;
        }
        p{
            font-size: 15px;
            line-height: 1.7rem;
            text-align: center;
        }
        .Info {
            display: flex;
            flex-direction: column;
            margin-left: 2rem;
            padding: 1rem 0;
        }
        .ImgBlock { 
            display: flex;
            @media (max-width:991px) {
                display: block;
                margin: 0 2rem;
            }
            @media (max-width:540px) {
                margin: 0 2rem 5rem 2rem;
            }
        }
        &.rightBlock {
            justify-content: space-between;
            .ImgBlock {
                &:nth-child(odd) {
                    flex-direction: row-reverse;
                }
                .Info {
                    margin-left: 0rem;   
                }
                @media (max-width:1280px) {
                    display: block;
                }
            }
            @media (min-width:1281px) {
                flex-direction: column;
            }
            
        }
        &.multiImgBlock {
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                &:first-child {
                    margin-right: 2rem;
                }
            }
        }
    }
}