@import "../../../sass/loader";
.Subscription {
  padding: 10rem 0;
  // margin: 4rem 0;
  position: relative;
  background-color: #f9f9f9;
  text-align: center;
  z-index: 9;
  box-shadow: 0px 0px 10px #ececec;
  border-radius: 8px;
  h2 {
    @apply font-primary;
    font-size: 4rem;
    line-height: 5.5rem;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }
  input {
    border: 1px solid #ececec;
    border-radius: 8px;
    font-size: 2.2rem;
    line-height: 3rem;
    background: #ffffff;
    display: inline-block;
    border-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 1rem;
  }
  button {
    padding: 1rem;
    display: inline-block;
    border-radius: 0px 8px 8px 0px;
    background-color: #3cecec;
    @apply font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 3rem;

    text-align: center;
  }
}
