@import "../../../sass/loader";

.DevSection {
  @apply font-primary;
  padding: 8rem 0 6rem 0;
  p {
    margin-bottom: 5rem;
  }
  h2 {
    font-size: 4.5rem;
  }
  .ProductDiv {
    text-align: center;
    h3 {
      color: #2d2d2d;
      font-size: 2.5rem;
      font-weight: 600;
      @include respond(phone) {
        margin: 3rem 0;
      }
    }
    .IconBlock {
      display: flex;
      flex-direction: column;
      margin: 5rem 0 2rem 0;
      align-items: center;
      @include respond(phone) {
        margin: 3rem 0;
      }
    }
    h4 {
      margin-top: 1rem;
      font-size: 1.8rem;
    }
  }
}
