@import '../../../sass/loader';
.DocumentSteps{
  h3, h2{
    font-size: 5rem;
    color: #D2D2D2;
    font-weight: 700;
  @include respond(tab-land) {
      font-size: 4.6rem;
  }

  @include respond(tab-port) {
      font-size: 4rem;
  }
  @include respond(phone) {
      font-size: 3.5rem;
  }
  }
  p{
    font-size: 2.8rem;
    padding-bottom: 3rem;
    @include respond(tab-land) {
      font-size: 2.4rem;
    }

    @include respond(tab-port) {
        font-size: 2rem;
    }
    @include respond(phone) {
        font-size: 1.8rem;
    }
  }
    ol {
        list-style: none;
        counter-reset: my-awesome-counter;
      }
      ol > li {
        text-align: center;
        margin-bottom: 27rem;
        color: #262626;
        font-size: 3.2rem;
        line-height: 4.8rem;
        @include respond(tab-land) {
            font-size: 3.0rem;
            line-height: 4.6rem;
        }
  
        @include respond(tab-port) {
            font-size: 2.8rem;
            line-height: 4.4rem;
            margin-bottom: 15rem;
        }
        @include respond(phone) {
            font-size: 2.4rem;
            line-height: 4.0rem;
            margin-bottom: 10rem;

        }
        h2{
          font-size: 3.2rem;
          line-height: 4.8rem;
          @include respond(tab-land) {
              font-size: 3.0rem;
              line-height: 4.6rem;
          }
    
          @include respond(tab-port) {
              font-size: 2.8rem;
              line-height: 4.4rem;
          }
          @include respond(phone) {
              font-size: 2.4rem;
              line-height: 4.0rem;
          }
        }
        ul{
          max-width: 80%;
          margin: 2rem auto;
          
          li {
            font-size: 2rem;
            line-height: 3.5rem;
            margin: 2rem auto;
            padding: 0 2rem;
            text-align: left;
          }
        } 
        img{
            margin-top: 5rem;
            max-width: 100%;
            height: auto;
        }
        p{
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 3.3rem;
        }
      }
      ol > li::before {
        counter-increment: my-awesome-counter;
        content: counter(my-awesome-counter);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #979797;
        margin: auto;
        background-color: #F2F2F2;
        width: 8.8rem;
        height: 8.8rem;
        margin-bottom: 3.1rem;
        border-radius: 50%;
        font-weight: bold;
        @include respond(tab-land) {
          width: 8rem;
          height: 8rem;
        }
    
        @include respond(tab-port) {
            width: 7.5rem;
            height: 7.5rem;
        }
        @include respond(phone) {
            width: 6rem;
            height: 6rem;
        }
      }
      
}