@import "../../../sass/loader";
.SectionInformation {
  padding: 8rem 0;

  .flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    h1,
    h2 {
      font-size: 4rem;
      line-height: 7.5rem;
      @apply font-primary;
      text-align: right;
      margin-right: 7rem;
      color: #000000;
      flex: 1;
      @include respond(tab-land) {
        margin-right: 0;
      }
      span {
        font-size: 2.5rem;
        color: #6b6b6b;
        &.circle:before {
          content: " \25CF";
          font-size: 15px;
          vertical-align: middle;
          padding: 0 1rem;
        }
        &:first-child {
          font-size: 4.5rem;
          line-height: 6rem;
          font-weight: bold;
          display: block;
          color: #0e1f2f;
        }
      }
    }
    p {
      color: #666666;
      font-size: 2.4rem;
      line-height: 3.5rem;
      @apply font-primary;
      letter-spacing: 0.76px;
      flex: 1;
      h1,
      h2 {
        font-size: 2.4rem;
        line-height: 3.5rem;
        @apply font-primary;
        letter-spacing: 0.76px;
        display: inline;
        font-weight: normal;
      }
      @include respond(big-desktop) {
        flex: 1.5;
      }
    }

    @media (max-width: 1700px) {
      h1 span:first-child {
        font-size: 4rem;
      }
      h2 span:first-child {
        font-size: 4rem;
      }
    }

    @include respond(tab-land) {
      flex-direction: column;
      h1,
      h2 {
        text-align: center;
        font-size: 3.5rem;
        line-height: 4.8rem;
        margin-bottom: 6rem;
        span {
          line-height: 3rem;
          &:first-child {
            font-size: 3rem;
          }
        }
      }
      p {
        text-align: center;
        font-size: 2.22rem;
      }
    }
  }
}
