
@import '../../sass/loader';

.RecentWorkBlock {
    margin: 0;
    padding-top: 5rem;
    .Content {
        background-size: cover !important;
        padding-top: 5rem;
        @media (min-width:541px) {
            display: flex;
            padding: 5rem 5rem 0;
        }
        div {
            align-self: center;
            flex: 1;
            &.TopImg {
                align-self: flex-end; 
            }
            @media (max-width:991px) {
                text-align: center;
            }
        }
        &:first-child {
            .Logo {
                margin-bottom: 3rem;
                max-width: 20rem;
            }
            div.TopImg img {
                max-width: 40rem;
                @include respond(big-desktop){ max-width: 38rem; }
                @include respond(tab-land) { max-width: 25rem; }
            }
        }
        &:last-child {
            @media (max-width:991px) { flex-direction: row-reverse; }
            .Logo {
                margin-bottom: 2rem;
                max-width: 20rem;
            }
            div.TopImg img {
                max-width: 28rem;
                @include respond(tab-land) { max-width: 22rem; }
                @media (max-width: 991px) { width: 20rem; }
            }
        }
    }
}
