@import '../../sass/loader';
.Icon {
    margin: 0 .7rem;
    &.circle_img, &.circle_img_grey, &.circle_img_black {
        border-radius: 3rem;
        border: .2rem solid #fff;
        width: 6rem;
        height: 6rem;
        text-align: center;
        line-height: 5rem;
        display: inline-block;
        @include respond(phone){
            border-color: #c7c7c7;
            svg{
                fill: rgb(175, 175, 175);
                stroke: rgb(175, 175, 175);
                path{
                    fill: rgb(175, 175, 175);
                    stroke: rgb(175, 175, 175);
                }
            }

        }
    }
    &.circle_img_grey {
        border-color: #c7c7c7;
    }
    &.circle_img_black {
        border-color: #000000;
    }
}