
@import '../../../../sass/loader';
.Forcast {
    background: #0F304E;
    padding: 10rem 0;

    h3 {
        color : #fff !important;
        @include respond(phone) {
            font-size: 2.8rem;
        }
    }
}