.BreakPoints {
    margin-top: 9rem;
    margin-bottom: 9rem;
    padding: 6rem 0 4rem 0;
    text-align: center;    
    background-size: 100% !important;

    @media (max-width:1024px) {
        margin-top: 0;
        margin-bottom: 0;
        padding: 8rem 1.5rem;
    }
    @media (max-width:767px) {
        padding: 5rem 1.5rem;
    }
    p {
        padding-bottom: 2.5rem
    }
}