@import "../../../sass/loader";
.boxStyleWhydoes {
  text-align: left;
  margin-top: 3rem;
  h4 {
    font-size: 3.2rem;
    line-height: 4.4rem;
    color: #262626;
  }
  p {
    font-size: 2rem !important;
    line-height: 27px !important;
    letter-spacing: 0.5px;
    text-align: left;
    color: #979797 !important;
  }
  @include respond(tab-port) {
  }
  @include respond(phone) {
    margin-top: 3rem;
    h4 {
      font-size: 2.5rem !important;
      line-height: 3rem !important;
    }
    p {
      font-size: 1.5rem !important;
      line-height: 2.5rem !important;
    }
  }
  @include respond(small-phone) {
    h4 {
      font-size: 2.5rem !important;
      line-height: 3rem !important;
    }
    p {
      font-size: 1.5rem !important;
      line-height: 2.5rem !important;
    }
  }
}
