@import "../../sass/loader";
.HeroCarousel {
  @apply font-primary;
  color: #fff;
  z-index: 1;

  h4 {
    margin-bottom: 1.5rem;
    font-size: 3.4rem;
    line-height: 4.4rem;
    font-weight: 400;
    margin-top: 0;
  }
  .appdevlopment,
  h2 {
    margin-bottom: 2rem;
    font-size: 6.8rem;
    line-height: 10.5rem;
    font-weight: 600;
  }
  .webmobile,
  h3 {
    font-size: 5rem;
    line-height: 7.5rem;
    margin-bottom: 5rem;
    font-weight: 400;
  }
  .company,
  h5 {
    font-size: 4rem;
    line-height: 5.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  @include respond(phone) {
    h4 {
      margin-bottom: 1.3rem;
      font-size: 3rem;
      line-height: 3.4rem;
      font-weight: 400;
      margin-top: 0;
    }
    .appdevlopment,
    h2 {
      margin-bottom: 1rem;
      font-size: 4.8rem;
      line-height: 5.5rem;
      font-weight: 600;
    }
    .webmobile,
    h3 {
      font-size: 2.6rem;
      line-height: 3rem;
      //margin-bottom: 2rem;
    }
    .company,
    h5 {
      font-size: 2rem;
      line-height: 2.3rem;
      font-weight: 400;
    }
  }
}
