@import "../../../sass/loader";
.audit {
  text-align: center;
  form {
    display: flex;
    flex-direction: row;
    .colborder {
      border-bottom: 1px solid #f2f2f2;
      padding: 10px 2px;
      @include respond(phone) {
        display: flex;
      }
    }
    margin: auto;
    @include respond(phone) {
      .row {
        margin: auto !important;
      }
    }
  }

  input {
    flex-grow: 2;
    border: none;
    font-size: 28.7px;
    line-height: 39px;
    // text-align: center;
    @include respond(phone) {
      font-size: 15.7px;
      line-height: 22px;
    }
  }
  input:focus {
    outline: none;
  }

  @include respond(tab-port) {
  }
  @include respond(phone) {
  }
  @include respond(small-phone) {
  }
}
@import "../../../sass/loader";
.InputContainer {
  input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }
  input[type="number"].textfiled-style:hover {
    cursor: inherit !important;
  }
  position: relative;
  margin-top: 1.5rem;
  .Input {
    width: 100%;
    display: block;
    @apply font-primary;
    font-weight: 300;
    font-size: 1.6rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 0;
    // min-height: 3.5rem;
    margin-bottom: 0.5rem;
    outline: 0;
    border-bottom: 1px solid #d2d2d2;
    background: transparent;
    transition: border 0.3s ease;
    &:focus {
      border-bottom: 2px solid $primary-blue;
    }
    &:focus ~ label {
      top: -10px;
    }
    &:not(:placeholder-shown) ~ label {
      top: -10px;
    }
    &.Invalid {
      border-bottom: 2px solid red;
    }
  }
  img {
    float: right;
    width: 100px;
  }
  ul {
    padding: 2rem;
    list-style: none;
    color: #7d7d7d;
    text-align: center;
    li {
      line-height: 16px;
      font-size: 14px;
      text-align: initial;
      padding: 3px 0;
      margin-left: 20px;
      span {
        background: url("/static/Images/icons/ic_close.svg");
        display: inline-block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: 20px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
    img {
      height: 20px;
      width: 20px;
      float: left;
    }
  }
}
.Modal {
  .ModalHeader {
    border-bottom: none;
    background: #fff;
    padding: 3rem 3rem 0;
    button > span:first-child {
      font-size: 35px;
      height: 40px;
      font-weight: 300;
      border-radius: 100%;
      // border: 1px solid #000;
      width: 40px;
      text-align: center;
      display: block;
      margin: 0;
    }
    button {
      padding: 0;
      margin-left: 0;
      &:focus {
        outline: none;
      }
    }
    .Title {
      font-weight: 600;
      font-size: 65px;
      line-height: 89px;
      // padding: 0rem 0 3rem;
      color: #d2d2d2;
      margin: auto;
      text-align: center;
      span {
        @include gradient(
          linear-gradient(226.05deg, #b133dc 0%, #3cecec 91.48%)
        );
      }
      @include respond(phone) {
        font-size: 32px;
        line-height: 42px;
      }
    }
  }
  .ModalBody {
    padding: 3rem 12rem 5rem;
    margin: auto;
    background: #fff;
    .FormButton {
      text-align: center !important;
    }
    .applyButton {
      padding: 0.5rem 2.5rem;
      background: #3cecec;
      color: #000000 !important;
      font-size: 1.8rem;
      margin-top: 5rem;
      border-radius: 0.7rem;
      border-color: #3cecec;
      display: inline-block;
      outline: none;
      border-style: hidden;
      &:focus {
        outline: none;
      }
    }
    .uploadButton {
      padding: 0.5rem 2.5rem;
      color: #4f4f4f !important;
      font-size: 1.8rem;
      border-radius: 0.7rem;
      // border-color: #e0e0e0;
      display: inline-block;
      outline: none;
      border-style: hidden;
      &:focus {
        outline: none;
      }
      background: #e0e0e0;
      // margin-bottom: 3rem;
    }
    .filename {
      text-align: center;
      margin-left: auto;
      color: #4f4f4f !important;
      font-size: 20px;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    @include respond(phone) {
      padding: 3rem;
    }
  }
}
