@keyframes fadeInImg{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}
.imgLoading{
    opacity: 0;
    width: 100%;
    height: auto;
}
.imgLoaded{
    animation: fadeInImg 0.5s ease-in;
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
}