@import '../../../sass/loader';
.WhyNotPoints{
    display: flex;
    flex-direction: column;
    margin: 8rem 0;
    
}

.WhyNotIntuz{
    // border: solid red;
    text-align: left;
    flex-basis: 50%;
    max-width: 50%;
    // height: 30rem;
    padding: 1rem 0;
    // background-color: red;
    // opacity: 0;
    // border: 2px solid;
    margin: 2rem 0;
    h5{
        font-size: 25px;
        line-height: 34px;
        color: #262626;
    }
    p{
        font-size: 16px;
        line-height: 25px;
        color: #828282;
    }
    &:nth-child(odd){
        align-self: flex-start;
        // transform: translateX(50%);
    }
    &:nth-child(even){
        align-self: flex-end;
        // transform: translateX(-50%);
    }


    @include respond(phone) {
        text-align: center;
        flex-basis: 100%;
        max-width: 100%;
        margin: 4rem 0;
    }
}