@import "../../../sass/loader";
.Testimonialsection {
  background: url(https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/react-native/testimonials-quotes.png)
    center center no-repeat;
  padding: 10rem 0;
  background-color: #fafafa;
}

.Testimonial {
  p {
    @apply font-primary;
    font-size: 3.6rem;
    line-height: 5.5rem;
    color: #4a4a4a;
    font-weight: 300;
    text-align: center;
  }
  figure {
    text-align: center;
    @apply font-primary;
    margin-top: 2rem;
    img {
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
    }
    figcaption {
      font-size: 2rem;
      line-height: 2.9rem;
      color: #333;
      span {
        font-weight: 300;
      }
    }
  }
}
