@import '../../../sass/loader';

.FeatureBlock {
    padding-top: 10rem;

    @include respond(phone) {
        padding-top: 6rem;
    }
    table {
        margin-top: 5rem;
        thead {
            th {
                border: none;
                div {
                    padding: 4rem 0;
                    text-align: center;
                    font-size: 3rem;
                    max-width: 200px;
                    margin: auto;
                    font-weight: 400;
                    text-transform: uppercase;
                    span {
                        display: block;
                        font-size: 4rem;
                    }

                    @include respond(phone) {
                        max-width: 120px;
                        padding: 2rem 0;
                        font-size: 2rem;
                        span {
                            font-size: 3rem;
                        }
                    }

                    &.discovery, &.growth {
                        color: #9b9b9b;
                        span {
                            color: #233e5c;
                        }
                    }
                    &.engagement {
                        color: #734384;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    text-align: center;
                    border-color: #EDEDED;
                    &:first-child {
                        text-align: left;
                    }
                    a, a span {
                        margin-left: 2rem;
                        @include respond(phone) {
                            margin-left: 0;
                        }
                        &.contact {
                            margin-left: 0;
                        }
                    }
                }
                &.optional {
                    font-size: 16px;
                    color: #6f6f6f;
                    label {
                        color: #233e5c;
                        font-size: 18px;
                    }
                    input {
                        margin-right: 5px;
                    }
                    div {
                        padding: 3rem 0;
                        min-width: 140px;
                        @include respond(phone){
                            min-width: max-content;
                        }
                    }
                }
            }
            h4 {
                color: #000000;
                font-size: 2.2rem;
                line-height: 2.6rem;
                font-weight: 400;
                display: inline-block;
            }
            img {
                max-width: 27px;
                max-height: 27px;
            }
            a, p {
                font-size: 16px;
                line-height: 2rem;
                font-weight: 400;
                cursor: pointer;
                color: #4A4A4A !important;
                &:hover {
                    text-decoration: none;
                }
                &:not(.contact):hover {
                    color: #4ae2e2 !important;
                }
                &.modellink {
                    background: #4AE4E4;
                    color: #fff !important;
                    font-size: 1.8rem;
                    line-height: 22px;
                    border-radius: 100px!important;
                    font-weight: 300;
                    padding: 13px 10px;
                    &:hover {
                        background: #000000;
                        color: #fff !important;
                    }
                    @include respond(phone) {
                        padding: 10px;
                    }
                }
                span {
                    color: #9b9b9b;
                    font-size: 13px;
                    display: block;
                }
            }
        }
    }
}