@import "../../../../sass/loader";
.StoriesSection {
  padding: 8rem 0;
  h2 {
    @apply font-nunito;
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    color: #262626;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
  p {
    @apply font-nunito;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #4f4f4f;
    @include respond(phone) {
      font-size: 1.75rem;
    }
  }
}
.tab {
  width: 100%;
  padding: 8px;
}

.tabsUl {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.bottomBorder {
  margin-top: -50px;
  margin-left: -30px;
  margin-right: 16px;
}

.upborder {
  margin-top: -70px;
  margin-right: 10px;
  margin-left: -50px;
}

.liTabs {
 display: flex;
 flex-direction: column;
  svg {
    width: 72px;
    height: 72px;
    border-bottom: 2px solid #eee;
    transition: all 0.5s;
    @apply font-lato;
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 1.5;
    cursor: pointer;
    color: #714581;
    background: rgba(255, 150, 0, 0.35);
    border-radius: 50%;
    text-align: center;
    background: #f8f8f8;
  }
  p {
    margin-top: 1.6rem;
    min-height: 60px;
    @apply font-nunito;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    text-align: left;
    color: #4f4f4f;
    @include respond(phone) {
      font-size: 1.75rem;
    }
  }

  &.selected {
    p {
      font-weight: 700;
    }
  }
}

.Panel {
  .DevelopmentProcess {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    @include respond(phone) {
      padding: 2rem;
      flex-direction: column;
      margin-top: 4rem;
    }
  }
  img {
    height: auto;
    max-width: 400px;
    flex-basis: 25%;
  }
  h4 {
    @include respond(phone) {
      @apply font-nunito;
      font-size: 2.25rem;
      font-weight: 700;
      text-align: center;
      line-height: 1.5;
      color: #262626;
    }
  }
  span {
    @include respond(phone) {
      @apply font-nunito;
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      line-height: 1.5;
      color: #4f4f4f;
      margin-top: 8px;
    }
  }
  .DevelopmentProcessblock {
    flex-basis: 75%;
    h3 {
      @apply font-nunito;
      font-size: 3.2rem;
      font-weight: 700;
      text-align: left;
      line-height: 1.5;
      color: #262626;
      @include respond(phone) {
        font-size: 2.25rem;
        background-color: red;
      }
    }
    span {
      @apply font-nunito;
      font-size: 2rem;
      font-weight: 600;
      text-align: left;
      line-height: 1.5;
      color: #4f4f4f;
      margin-top: 8px;
    }
    p {
      @apply font-lato;
      font-size: 1.6rem;
      font-weight: 400;
      text-align: left;
      line-height: 2;
      color: #4f4f4f;
      margin-top: 2.4rem;
      @include respond(phone) {
        font-size: 1.75rem;
      }
    }
  }
}

.lines{
  padding: 0 0.3vw;
}