@import "../../../../sass/loader";
.ComponentLightHouseWhyDose {
  padding: 5rem 0;
  h2 {
    span {
      @include gradient(linear-gradient(226.05deg, #3cecec 0%, #b133dc 91.48%));
    }
  }
  p {
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3.3rem;
    color: #262626;
    text-align: center;
  }
  .extrapadding {
    padding: 0 12rem;
  }
  @include respond(tab-port) {
  }

  @include respond(small-phone) {
    .extrapadding {
      padding: 0 0;
    }
  }
}
