@import "../../sass/loader";
.Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h6 {
    @apply font-primary;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #091b2b;
    margin: 1rem 0;
    text-align: center;
    @include respond(tab-port) {
      font-size: 2rem;
    }
  }
  p {
    @apply font-primary;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 2.8rem;
    color: #333333;
    text-align: center;
    a {
      color: #7e8890;
      background: #ebebeb;
      padding: 0.2rem 0.6rem 0;
      cursor: pointer;
      transition: background 0.2s ease;
      &:hover {
        background: darken(#ebebeb, 10);
      }
    }
    &.active {
      background: #eee;
      margin: 2.5rem 0;
      padding: 1.5rem;
      position: relative;
      &::before {
        content: "";
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #eee;
        border-width: 1.3rem;
        margin-left: -1.3rem;
      }
    }
    @include respond(tab-port) {
      font-size: 15px;
    }
  }
  @include respond(phone) {
    margin-bottom: 5rem;
  }
}

.info {
  font-size: 1.7rem;
  @apply font-primary;
  font-weight: 300;
  line-height: 2.8rem;
  color: #333333;
  background: #eee;
  margin: 2.5rem 0;
  padding: 1.5rem;
  position: relative;
  &::before {
    content: "";
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #eee;
    border-width: 1.3rem;
    margin-left: -1.3rem;
  }
  &.a {
    &::before {
      left: 18%;
    }
  }
  &.b {
    &::before {
      left: 50%;
    }
  }
  &.c {
    &::before {
      left: 88%;
    }
  }
}
