
@import '../../sass/loader';

.iconGrp {
    div {
        padding: 6rem 0;
    }
    @include respond(phone) {
        img { padding: 1rem 2rem; }
    }
    @media (min-width:768px) {    
        div {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 80%;
            margin: auto;
            &:first-child { width: 90%; }
        }
    }
}