@import '../../../../sass/loader';
.SubscriptionSection{
    h2{
        text-align: center;
        font-size: 4.5rem;
        color: #222;
        margin-bottom: 4rem;
        @include respond(tab-port){
            font-size: 4rem;
        }
        @include respond(phone){
            font-size: 3.5rem;
        }
    }
    .Inputs{
        position: relative;
        max-width: 80%;
        margin: auto;
        input{
            padding: 1.2rem 1rem;
            // width: 80rem;
            background-color: rgba($color: #714581, $alpha: 0.07);
            border: none;
            outline: none;
            width: 100%;
            border-radius: 10px;
            font-size: 2rem;
            @include respond(phone){
                font-size: 1.6rem;
            }
            &::placeholder{
                color: #8B8B8B;                
            }
        }
        button{
            background: #31DEDE;
            border-radius: 10px;
            position: absolute;
            padding: 0.8rem 4rem;
            font-size: 1.6rem;
            color: #333;
            border: none;
            right: 1%;
            top: 50%;
            @include respond(phone){
                padding: 0.8rem 2.5rem;
            }
            transform: translateY(-50%);
        }
    }
}