@import '../../../sass/loader';
.SocialAddressLink{
    // padding-right: 10rem;
    // position: absolute;
    // right: 15%;
    list-style: none;
    display: inline-flex;
    margin-left: auto;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    @include respond(phone){
        justify-content: center;
        margin-top: 2rem;
        margin-right: 0rem;
    }
    li{
        margin: 0 1.5rem;
        width: 4rem;
        padding: 0.5rem;
        height: 4rem;
        border-radius: 50%;
        position: relative;
        transition: background-color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg{
            height: 2.0rem !important;
            g{
                fill: #979797;
            }
            transition: fill 0.3s ease;
        }

        &.twitter{
            &:hover{
                background: #00acee;
                svg{
                    g{
                        fill: #fff;
                    }
                }
            }
        }

        &.blogger{
            &:hover{
                background: #F5821F;
                svg{
                    g{
                        fill: #fff;
                    }
                }
            }
        }

        &.linkedin{
            &:hover{
                background: #0e76a8;
                svg{
                    g{
                        fill: #fff;
                    }
                }
            }
        }

        &.medium{
            &:hover{
                background: #37B874;
                svg{
                    g{
                        fill: #fff;
                    }
                }
            }
        }

        &.github{
            &:hover{
                background: #000;
                svg{
                    g{
                        fill: #fff;
                    }
                }
            }
        }
    }   
}