@import "../../sass/loader";

.AdaptiveSection,
.DomainSection,
.SolutionSection {
  @apply font-primary;
  padding-bottom: 10rem;
  padding-top: 5rem;
  // &.DomainSection {
  //     padding-top: 10rem;
  //     @include respond(phone) {
  //         padding-top: 6rem;
  //     }
  // }

  @include respond(phone) {
    padding-bottom: 6rem;
  }
  h3 {
    color: #3cecec;
    font-weight: 600;
    font-size: 5rem;
    line-height: 5rem;

    @include respond(phone) {
      font-size: 3rem;
    }
  }
  .FullPage {
    @media (min-width: 1364px) {
      padding: 0 1.5rem;
    }
  }

  > div > p {
    color: #596c82 !important;
    line-height: 4rem;
    text-align: center;
    font-size: 2.6rem;
  }
}
