@import "../../../../sass/loader";

.MenuList {
  //    flex-grow: 1;
  align-items: center;
  // justify-content: space-around;
  // width: 60%;
  // max-width: 60%;
  margin-left: auto;
  @include respond(large-tab-port) {
    width: 70%;
    max-width: 70%;
  }
}

.NavigationItems {
  display: flex;
  flex-direction: row;
}

.getStarted {
  background: #684574;
  border-radius: 4px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  @apply font-primary;
  color: #fff;
  border: none;
  outline: none;
  transition: background 0.5s ease-in;
  &:hover {
    background: #3cecec;
  }
}

.Mobile {
  display: flex;
  flex-direction: column;

  .ButtonDiv {
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    right: 0;
    padding: 20px 0;
    text-align: center;
  }
}
