



@import '../../../../sass/loader';

.Categories {
    padding : 10rem 0;
    background: #f5f5f5;
    @include respond(phone) {
        padding : 6rem 0;
        h3 {
            font-size: 3.1rem;
            line-height: 4rem;
        }
        p {
            font-size: 2rem;
            line-height: 3.2rem;
        }
    }
}
    