@import "../../../../sass/loader";
.sectionPlatform {
  padding: 50px;
  @include respond(phone) {
    padding: 1.2rem;
  }
  h2 {
    max-width: 700px;
    margin: 1rem auto;
    @apply font-nunito;
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.6;
    color: #262626;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
  p {
    @apply font-nunito;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #4f4f4f;
    @include respond(phone) {
      font-size: 1.75rem;
    }
  }
}
.listPlatform {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include respond(phone) {
    justify-content: center;
    gap: 3rem .8rem;
    flex-wrap: wrap;
    & > div{
      flex-basis: 93px;
    }
    img{
      max-width: 100%;
      height: auto;
    }
  }
  p {
    margin-top: 1.5rem;
    @apply font-lato;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #4f4f4f;
    @include respond(phone) {
      font-size: 1.75rem;
    }
  }
}
