

@import '../../../sass/loader';

.LibrarySlider {
    padding-top: 5rem;
    .sliderBlock {
        margin: auto;
        img {
            max-width: 300px;
            margin: auto;
            margin-top: 5rem;
            margin-bottom: 5rem;
            @include respond(phone) {
                max-width: 60%;
            }
        }

        .content {
            display: flex;
            align-items: center;
            >div {
                flex: 1;
                &.textblock {
                    text-align: left;
                    h4 {
                        margin-bottom: 2rem;
                        color: #0e1f2f;
                        font-size: 2.6rem;
                        line-height: 4rem;
                    }
                    p {
                        font-size: 2rem;
                        font-weight: 300;
                        color: #2c2c2c;
                    }
                    @include respond(phone) { 
                        text-align: center;
                    }
                }
            }
            @include respond(phone) { 
                display: block;
            }
        }
    }
}