@import "../../../sass/loader";
.faqStyle {
  padding: 2rem 0 0;
  text-align: left;
  .accordion {
    background-color: transparent;
  }
  .cardstyle {
    background-color: transparent !important;
    border: none !important;
    margin-bottom: 2rem;
  }
  .cardheader {
    .cardheadertwo {
      background-color: transparent !important;
      border-bottom: none;
      cursor: pointer;
      position: relative;
      padding: 0;
      &::after{
        content: url(https://intuz-site.imgix.net/uploads/downarrow_194e7717e6.svg);
        position: absolute;
        right: 0;
        transition: all .3s ease;
      }
      &.active{
        &::after{
         transform: rotate(180deg);
        }
      }
    }
    cursor: pointer;
    background-color: transparent !important;
    font-size: 3.2rem;
    line-height: 4.4rem;
    border-bottom: none;
    padding: 0;
    color: #262626;
  }
  .accrodianColleps {
    border: none;
  }
  .cardBodyStyle {
    font-size: 2.3rem;
    line-height: 3.1rem;
    letter-spacing: 0.05px;
    color: #979797;
    padding: 1.25rem 0;
  }
  @include respond(tab-port) {
  }

  @include respond(small-phone) {
    .cardheader {
      font-size: 2.5rem;
    }
    .cardBodyStyle {
      font-size: 1.8rem;
    }
  }
}
