@import '../../../../sass/loader';
.ComponentCareerCareerBanner{
    min-height: 100vh;
    font-family: $blog-font-head; 
    h1{
        font-size: 9rem;
        font-weight: 700;
        line-height: 12rem;
        display: inline-block;
        @include gradient(linear-gradient(226.05deg, #B133DC 0%, #3CECEC 91.48%));
    }
    p{
        font-size: clamp(2.5rem,4vw,4rem);
        line-height: clamp(3.625rem,5.2vw,5.7rem);
        color: #262626;
        font-weight: 200;
        strong{
            font-weight: 700;
        }
    }
    @include respond(tab-port){
        text-align: center;
        min-height: 80vh;
    }

    @include respond(small-phone){
        padding-top: 15rem;
        text-align: center;
        min-height: 60vh;
    }
}