@import "../../sass/loader";

.CaseStudy {
  display: flex;
  padding: 10rem 0;
  min-height: 60vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  justify-content: space-evenly;
  @include respond(phone) {
    flex-direction: column;
    justify-items: center;
  }
  margin: 0;
  img {
    max-width: 100%;
    @include respond(phone) {
      max-width: 80%;
    }
  }
  .content {
    @apply font-primary;
    // width: 30%;
    padding-left: 5rem;
    h2 {
      font-size: 4.3rem;
      line-height: 5.2rem;
      color: #fff;
      font-weight: 500;
      padding-bottom: 3rem;
    }
    p {
      font-size: 2.5rem;
      line-height: 3.7rem;
      color: #fff;
      font-weight: 500;
      padding-bottom: 3rem;
      width: 80%;
    }
    ul {
      list-style: none;
      display: flex;
      flex-wrap: nowrap;

      li {
        &.img {
          margin-right: 3rem;
          margin-bottom: 2rem;
          img {
            max-width: 100%;
            margin-right: 2rem;
            vertical-align: middle;
          }
        }
        a {
          display: inline-block;
          padding: 0.8rem 1.5rem;
          font-size: 1.6rem;
          line-height: 2.3rem;
          color: #fff;
          font-weight: 500;
          border: 2px solid rgba(255, 255, 255, 0.2);
          border-radius: 10rem;
          text-decoration: none;
          cursor: pointer;
          transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
          &:hover {
            background: $primary-blue;
            color: #000;
          }
        }
      }

      @include respond(phone) {
        flex-direction: column;
      }
    }
  }
}
