.mainheading{
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 3.7rem;
    color: #494949;
}   
.paragraph{
    font-size: 2.4rem;
    line-height: 3.5rem;
    color: #848484;
    font-weight: 300;
}
.secondary{
    font-weight: 600;
    line-height: 2.9rem;
    font-size: 2.6rem;
    color: #494949;
}