@import "../../../sass/loader";

.Block {
  font-family: $secondary-font;
  h3 {
    display: flex;
    font-size: 3.7rem;
    line-height: 4.2rem;
    color: #4a4a4a;
    margin-bottom: 2rem;
    margin-left: 10px;
    img {
      margin-top: 10px;
      margin-right: 3px !important;
      //     background-color: red;
    }
  }
  ul {
    list-style: none;
    li {
      font-size: 1.6rem;
      line-height: 2.5rem;
      position: relative;
      padding-left: 5rem;
      margin-bottom: 3.5rem;
      &::before {
        content: url("https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/hire-developers/list-style.png");
        position: absolute;
        left: 0.5rem;
        top: 0.5rem;
      }
    }
  }
}
