@import '../../../../../sass/loader';
.DesktopFilter {
    box-shadow: 0px 0px 10px #ECECEC;
    border-radius: 8px;
    max-height: calc(100% - 150px);
    overflow: hidden;
    background-color: #fff;
    &::-webkit-scrollbar{
        width: 0;
        height: 0;
        opacity: 0;
    }
    // display: ;
    >div {
        padding-top: 2rem;
        h4 {
            color: #BDBDBD;
            font-size: 18px;
            font-weight: 600;
            padding: 0 0 1rem 3rem;
        }
        li {
            color: #4F4F4F;
            font-size: 14px;
            list-style: none;
            padding-left: 3rem;
            line-height: 3.3rem;
            display: flex;
        }
    }
    &.sticky {
        position: fixed;
        top: 110px;
        width: 35rem;
        padding-right: 1rem;
        // @include respond(tab-port){
        //     width: 35rem;
        // }
        // max-width: 25%;
        z-index: 5;
        overflow-x: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 1px;
        }
    }
    &.end {
        bottom: 0;
        top: auto;
        position: absolute;
    }
}