@import '../../../../sass/loader';
.NavItem{
    color: #ccc;
    cursor: pointer;
    padding: 2rem 8rem;
    .NavBlock{
        position: relative;
        .image{
            width: 7.4rem;
            height: 7.4rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        p{
            font-weight: 600;
            font-size: 2.4rem;
        }
        @include respond(smallest) {
            margin: 2rem 0;
            div{
                margin-right: 2rem;
            }
        }
        &::after{
            content: "";
            width: 6rem;
            right: 0;
            top: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 2.5rem;
            background-image: url(/cloud/static/arrow.svg);
            background-position: center center;
            background-size: contain;
            position: absolute;
            background-repeat: no-repeat;
            transition: transform 0.3s ease;
            @media only screen and (min-width: 576px) {
               display: none;
            }
        }
    }
    &.active{
        color: #262626;
        .NavBlock{
            &::after{
                transform: translateY(-50%) rotate(90deg);
            }
        }
    }
    @include respond(smallest) {
        padding: 0;
    }
}






.information{
    margin-top: 4rem;
    div[class^="col"] {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    h4{
      font-weight: 600;
      font-size: 2.6rem;
      line-height: 3.5rem;
      color: #262626;
      margin-bottom: 1.7rem;
      @include respond(smallest) { // width < 1200?
        font-size: 2.3rem;
        line-height: 3.2rem; 
    }
      span{
        color: #828282;
        font-size: 2rem;
      }
    }
    h5{
      margin-top: 3.5rem;
      font-weight: 600;
      font-size: 2.2rem;
      line-height: 3rem;
      @include respond(smallest) { 
        font-size: 2.0rem;
        line-height: 2.8rem; 
      }
    }
    p{
      margin-bottom: 1.2rem;
      font-size: 1.8rem;
      color: #262626;
      line-height: 2.5rem;
      a{
        color: #262626;
        text-decoration: none;
        overflow-wrap: break-word;
        &:hover{
          color: #3ce3ce;
          transition: color 0.3s ease;
        }
      }

      
      @include respond(smallest) { 
        font-size: 1.6rem;
        line-height: 2.3rem;
      }
    }
    
    ol{
        font-size: 1.8rem;
        line-height: 2.5rem;
        padding-left: 2rem;
        @include respond(smallest) { 
            font-size: 1.6rem;
            line-height: 2.3rem; 
        }
        li{
        padding-left: 1rem;
        color: #262626;
        margin-bottom: 2.3rem;
        p{
          white-space: nowrap;
          overflow: scroll;
          &::-webkit-scrollbar{
            width: 0;
            opacity: 0;
            height: 0;
          }
          @include respond(smallest) { 
            white-space: normal;
          }
        }
      }
    }

    ul{
      padding-left: 3rem;
      list-style: none;
      li{
        font-size: 1.6rem;
        color: #262626;
        position: relative;
        padding-left: 2rem;
        padding-bottom: 1rem;


        &::before{
          content:url('/cloud/static/list-arrow.png');
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }

// margin: 2rem 0;
// div{
//     margin-right: 2rem;
// }