@import "../../../sass/loader";
.ServicesBlock {
  @apply font-primary;
  display: block;
  color: #262626;
  &:hover {
    color: #262626;
    text-decoration: none;
  }
  margin: 0;
  padding: 6rem 0.5rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0.8rem 1rem #d2d2d2;
  @media (max-width: 80em) {
    margin-bottom: 3rem;
  }

  .ServiceSeparator {
    background: #704688;
    width: 5rem;
    height: 4px;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .titleBlock,
  h2 {
    text-align: center;
    min-height: 7.5rem;
    display: inline-flex;
    align-items: center;
    font-size: 2.4rem;
    letter-spacing: 0.2px;
    font-weight: 400;
    line-height: 3.5rem;
    padding: 0 1rem;
  }
  a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #262626;
    text-transform: capitalize;
    font-weight: 600;
    span {
      display: inline-block;
      padding-left: 0.3rem;
      transition: padding 0.2s ease;
    }
    &:hover {
      span {
        padding-left: 0.8rem;
      }
    }
  }

  div {
    height: 10rem;
    img {
      width: auto;
      max-height: 100%;
    }
  }
}
