@import '../../../../sass/loader';
.ComponentCareerWhyIntuzSection{
    // padding: 8rem 0;
    // margin: 8rem 0;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 65% center;
    @include respond(phone){
        padding-bottom: 0;
        .description{
            position: relative;
        }
    }
    h2{
        color: #BDBDBD !important;
    }
    .description{
        // padding-bottom: 10rem;
        margin-bottom: 4rem;
        z-index: 5;
        
        p{
            font-weight: 300;
            font-size: 2.2rem;
            line-height: 3.3rem;
            color: #262626;
        }
    }
}