

@import '../../../../sass/loader';

.WidgetSection {
    padding-bottom : 10rem;
    
    @include respond(phone) {
        padding-bottom : 6rem;
        h3 {
            font-size: 3.1rem;
            line-height: 4rem;
        }
    }
    .imgBlock {
        padding-top: 5rem;
        text-align: center;
        img {
            max-width: 100%;
        }
        @include respond(phone) {
            >div:first-child {
                padding-bottom: 5rem;
            }
        }
    }
}