@import "../../../sass/loader";
.Featurelist {
  max-width: 100%;
  .Feature {
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #888;
    list-style: none;
    padding: 0.5rem 0;
    padding-left: 4rem;
    @apply font-primary;
    &::before {
      content: "";
      //background: url("../../../public/images/list-style.png") no-repeat top center;
      width: 2.6rem;
      height: 2.6rem;
      background-size: 100%;
      position: absolute;
      left: 0;
      top: 10px;
    }
    @include respond(phone) {
      font-size: 2rem;
    }
  }
}
