@import "../../sass/loader";

.ClientSpeakCarousel {
  position: relative;
  overflow: visible;
  padding-bottom: 3rem;
  h3 {
    @apply font-primary;
    font-size: 3.6rem;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    line-height: 3.96rem;
    margin-bottom: 3rem;
    &::before,
    &::after {
      content: " \0022 ";
    }
    @include respond(tab-port) {
      font-size: 2rem;
    }
  }
  p {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 3.5rem;
  }
  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    position: relative;
    max-width: 100%;
    padding: 0 15rem;
    // margin: 0 10rem;
    margin-top: -5rem;

    z-index: 2;
    li {
      display: flex;
      margin-right: 2rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      img {
        border: 2px solid #fff;
        border-radius: 50%;
        max-width: 100%;
      }
      &.active {
        img {
          border: 2px solid aqua;
        }
      }
    }
    @include respond(phone) {
      // margin-top: 2rem;
      display: none;
      li {
        // margin-right: 5rem;
        width: 30%;
        img {
          max-width: none;
        }
      }
    }
  }

  .Arrow {
    font-size: 1rem;
    height: 2.9rem;
    text-decoration: none;
    margin: 3rem 0 0 0.5rem;
    display: inline-block;
    position: relative;
    width: 2.8rem;
    &::after {
      content: "";
      width: 1.8rem;
      height: 1.8rem;
      outline: 0;
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      left: 0;
      animation: arrow 1s ease-in 0.1s infinite alternate;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: rotate(45deg);
    }
  }

  .video {
    cursor: pointer;
  }
}

@keyframes arrow {
  from {
    transform: translateY(-12px) rotate(45deg);
  }
  to {
    transform: translateY(0) rotate(45deg);
  }
}
