@import "../../../sass/loader";

.Techstack {
  @apply font-primary;
  // padding-top: 9rem;
  // margin: 0 0 7rem 0;
  padding-bottom: 8rem;

  .Heading {
    margin-bottom: 7rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  p {
    color: #2c2c2c;
    @include respond(tab-port) {
      font-size: 2.5rem;
    }
  }
  @include respond(phone) {
    padding-top: 5rem;
    padding-bottom: 6rem;
    p {
      line-height: 2.5rem;
    }
  }
}
