@import "../../sass/loader";

.Blog {
  padding-top: 10rem;
  max-width: 900px;
  scroll-behavior: smooth;
  @include respond(tab-port) {
    max-width: 767px;
  }
  @include respond(phone) {
    max-width: 100%;
    padding-left: 4rem;
    padding-right: 3rem;
  }
  margin: 0 auto;
  // pre{
  //     background-color: #FBFBFB;
  //     height: 24rem;
  //     margin: 10rem;
  //     border: 1px solid #F3F3F3;
  //     code{
  //         font-size: 14px;
  //         font-weight: 600;
  //         line-height: 2.3rem;
  //         @apply font-primary;
  //         color: #666;
  //     }
  // }
  // padding-right: 15rem;
  div[class="table"] {
    overflow-x: auto;
  }
  h2 {
    @apply font-primary;
    font-size: 4rem;
    line-height: 5.5rem;
    letter-spacing: 0.01833px;
    margin: 6rem 0 2rem;

    @include respond(phone) {
      font-size: 3.1rem;
      line-height: 5rem;
    }
  }
  h3 {
    font-weight: 600;
    @apply font-primary;
    font-size: 2.8rem;
    line-height: 4.6rem;
    margin: 1rem 0;
    a {
      color: #262626;
      text-decoration: none;
      transition: color 0.3s ease;
      &:hover {
        color: rgba(#262626, 0.65);
      }
    }
    @include respond(phone) {
      font-size: 2.4rem;
      line-height: 4rem;
    }
  }
  h4 {
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 4.6rem;
    color: #262626;
    margin-bottom: 1rem;
    @apply font-primary;
    @include respond(phone) {
      font-size: 2.3rem;
      line-height: 5rem;
    }
  }

  h5 {
    font-size: 2rem;
    text-align: left;
    padding-bottom: 2rem;
    @apply font-primary;
    span {
      font-weight: 300;
    }
  }

  h6 {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 4rem;
    color: #262626;
    margin-bottom: 1rem;
  }
  ol {
    font-size: 2rem;
    padding-left: 4rem;
    li {
      font-size: 1.8rem;
      color: #676767;
      //font-weight: 600;
      padding-left: 1em;
      margin: 0.5rem 0;
      @include respond(phone) {
        padding-left: 0.2em;
      }
      @apply font-primary;
      h4 {
        @apply font-primary;
      }
    }
  }

  ul {
    margin-left: 2.5rem;
    margin-bottom: 3rem;
    list-style: circle;
    @apply font-primary;
    font-size: 1.8rem;
    line-height: 4rem;
    color: #6f6f6f;
    li {
      padding-left: 0.5em;
    }
  }
  p {
    font-size: 1.8rem;
    @apply font-primary;
    line-height: 3.3rem;
    color: #262626;
    font-weight: 300;
    margin-bottom: 2rem;
    & + p {
      margin: 2rem 0;
    }
  }

  table {
    width: 100%;
    border: 2px solid #f4f4f4;
    border-collapse: collapse;
    thead {
      background: #f4f4f4;
      th {
        padding: 0.5rem;
        p {
          font-size: 1.8rem;
          line-height: 3.3rem;
          color: #262626;
          font-weight: 300;
          margin-bottom: 2rem;
          text-align: center;
          &::first-letter {
            font: inherit !important;
          }
        }
      }
    }
    td {
      padding: 20px;
      width: 350px;
      text-align: center;
      border-right: 2px solid #f4f4f4;
      color: #555555;
      p {
        font-size: 1.8rem;
        line-height: 3.3rem;
        color: #262626;
        font-weight: 300;
        margin-bottom: 2rem;
        text-align: center;
        &::first-letter {
          font: inherit !important;
        }
      }
    }
  }

  button[class^="cpy"] {
    width: 4rem;
    height: 4rem;
    position: absolute;
    background: none;
    border: none;
    opacity: 0.5;
    top: 0;
    right: 10px;
    &:hover {
      opacity: 1;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background-image: url("https://intuz-site.imgix.net/uploads/copy-b.svg");
      background-size: contain;
      background-repeat: no-repeat;
      // background-size: contain;
      // background-repeat: no-repeat;
    }
  }
  pre {
    background-color: #fbfbfb;
    // height: 24rem;
    margin: 2rem 0rem;
    padding: 1rem 0rem;
    overflow: hidden;
    position: relative;
    border: 1px solid #f3f3f3;
    code {
      &::-webkit-scrollbar {
        width: 0;
        opacity: 0;
      }
      overflow: scroll;
      //padding-top: 2rem ;
      font-size: 16px;
      font-weight: 400;
      line-height: 2.3rem;
      display: block;
      color: #666;
      margin-left: 2rem;
      color: #666;
      span {
        display: block;
      }
    }
  }
  div {
    padding: 1rem 0;
    margin: 3rem 0;
    text-align: center;
    img {
      text-align: center;
      max-width: 100%;
    }
  }
  p {
    img {
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      max-width: 100%;
      height: auto;
    }
  }

  div[class="content"] {
    opacity: 1;
    display: inline-block;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 3rem;
    text-align: left;
  }

  blockquote {
    font-style: italic;
    font-weight: bold;
    font-size: 2.3rem;
    line-height: 165.7%;
    @apply font-primary;
    color: #979797;
    border-left: 5px solid #ececec;
    padding-left: 3rem;
    margin-bottom: 2rem;
  }
  iframe {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
