

@import '../../../../sass/loader';

.ConverterSection {
    padding-bottom : 10rem;
    
    @include respond(phone) {
        padding-bottom : 6rem;
        h3 {
            font-size: 3.1rem;
            line-height: 4rem;
        }
        p {
            font-size: 2rem;
            line-height: 3.2rem;
        }
    }
}
    