@import '../../sass/loader';

.IotRoadMapComponent{
    display: flex;
    list-style: none;
    padding: 10rem 0;
    flex-wrap: nowrap;
    justify-content: center;
    counter-reset: my-awesome-counter;
    position: relative;

    @media screen and (max-width:1500px) {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;  
    }

   
    li{
        div{

            width: 25rem;
            height: 25rem;
            background: #FFFFFF;
            box-shadow: 0px 0px 39.9995px rgba(0, 0, 0, 0.08);
            border-radius: 50%;
            text-align: center;
            padding: 3rem;
            position: relative;
            &::before{
                counter-increment: my-awesome-counter;
                content: counter(my-awesome-counter);
                position: absolute;
                color: #FFFFFF;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                bottom: -1.4rem;
                left: 50%;
                transform: translateX(-50%);
                font-weight: bold;
                background-color: #D8D8D8;
                font-size: 1.6rem;

                @include respond(phone){
                    // left: 4rem;
                    bottom: initial;
                    top: 0;
                    left: 20rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }
            }

        }
        @media screen and (max-width:1500px){
            transform: translateY(0);
            margin: 2rem 1rem;
            flex: 0 0 25%;
            max-width: 25%;
        }
        @include respond(phone){
            flex: 0 0 100%;
            max-width: 100%;
            div{
                text-align: left;
                width: 100%;
                height: auto;
                box-shadow: none;
                h5,p{
                    padding-left: 2.5rem;
                }
            }
        }
        align-self: center;
        position: relative;

        
        &:nth-child(odd) div{
            // background: red;
            margin: 0 -2rem;
            transform: translateY(10rem);
            @media screen and (max-width:1500px){
                transform: translateY(0);
                margin: 4rem 0;
            }
        }
        img{
            max-width: 3.8rem;
            max-height: 3.8rem;
            @include respond(phone){
                position: absolute;
                top: 4.5rem;
                left: 1rem;
            }
        }
        h5{
            font-size: 1.5rem;
            margin-top: 1rem;
            color: #0E1F2F;
            @include respond(phone){
                font-size: 1.875rem;
                line-height: 2.875rem;
            }
        }
        p{
            font-size: 1.5rem;
            line-height: 1.7rem;
            margin-top: 1.5rem;
            color: #979797;
            @include respond(phone){
                font-size: 1.875rem;
                line-height: 2.5rem;
            }
        }
    }
}