@import "../../../sass/loader";
.SkillTab {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
  margin-top: 4rem;
  li {
    @apply font-primary text-3xl md:text-30;
    padding: 1.1rem 2.3rem;
    margin: 0 1.3rem;
    background: #f9f9f9;
    color: #4a4a4a;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.25s ease;
    &.active {
      background: #3bebeb;
      color: #fff;
      font-weight: 600;
    }
  }

  @include respond(phone) {
    display: block;
    li {
      margin-bottom: 2rem;
    }
  }
}
.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.Skill {
  display: inline-block;
  margin-right: 3rem;
  margin-bottom: 2rem;
  // flex: 0 0 1;
  & > div {
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.05);
    border-radius: 1.5rem;
    width: 17.5rem;
    height: 17.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  text-decoration: none;
  color: #4a4a4a;
  font-size: 1.8rem;
  line-height: 2.2rem;
  @apply font-primary;
  span {
    display: inline-block;
    margin-top: 2rem;
  }
  img {
    max-width: 100%;
  }
  &:hover {
    text-decoration: none;
    color: #4a4a4a;
  }
}
