@import "../../../../sass/loader";
.ToolsTechnologies {
  padding: 8rem 0;
  h2 {
    margin: 1rem auto;
    @apply font-nunito;
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    color: #262626;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
  p {
    @apply font-lato;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #4f4f4f;
    margin-bottom: 72px;
    @include respond(phone) {
      font-size: 1.75rem;
    }
  }
}
.tab {
  width: 100%;
  padding: 10px;
}

.tabsUl {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(#000, 0.1);
  gap: 7rem;
  @include respond(phone) {
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}

.liTabs {
  display: inline-block;
  padding: 1.3rem 0;
  // border-bottom: 2px solid #eee;
  transition: all 0.5s;
  @apply font-nunito;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  white-space: nowrap;
  color: #4f4f4f;
  position: relative;

  &::after {
    content: "";
    height: 2px;
    background: linear-gradient(226.05deg, #9a32ab 0%, #3cecec 91.48%);
    width: 100%;
    border-radius: 3px 3px 0px 0px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s ease;
  }
  &.selected {
    font-weight: 700;
    color: #262626;
    &::after {
      opacity: 1;
    }
  }
}

.Panel {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 7.2rem 7.6rem;
  margin-top: 7.2rem;
  justify-content: center;
  @include respond(phone) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    min-height:370px;
  }
  img {
    width: 12rem;
    height: 12rem;
    background-color: #f7f7f7;
    margin-left: 1.5rem;
    @include respond(phone) {
      width: 100%;
      height: auto;
    }
  }
  .toolText {
    margin-top: 1.5rem;
    text-align: center;
    @apply font-lato;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: #4f4f4f;
    margin-bottom: 5rem;
  }
}
