@import "../../sass/loader";
.MobileMenu {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #0e1f2f;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(#000000, 0.5);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  //   z-index: 99;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.75);
  background: #0e1f2f;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out 0.5s;
  padding-top: 3rem;
  overflow-x: hidden;

  z-index: 50;
  background: #0e1f2f;
  position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  // min-height: 100vh;
  padding: 4rem 1rem;
  // overflow-y: scroll;
  padding-bottom: 15rem;
  .contact {
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    a {
      text-decoration: none;
      @apply font-primary;
      display: block;
      color: #fff;
      font-size: 1.4rem;
      padding-left: 2.5rem;
      cursor: pointer;
      position: relative;
      &:first-child::before {
        content: url("https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/2017/phone.svg");
        margin-right: 0.5rem;
        margin-top: 1rem;
        position: absolute;
        top: -8px;
        left: 0;
      }
      &:last-child::before {
        content: url("https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/2017/mail.svg");
        margin-right: 0.5rem;
        margin-top: 1rem;
        position: absolute;
        top: -8px;
        left: 0;
      }
    }
  }
  .Links {
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 3rem 0;
    li {
      border-bottom: 1px solid #243240;
      padding: 1.3rem 3rem;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.4rem;
        @apply font-primary;
        text-transform: uppercase;
      }
    }
  }

  .SocialLinks {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    li {
      height: 27px;
      width: 27px;

      margin-right: 1rem;
      overflow: hidden;
      img {
        width: 100%;
        transition: transform 0.5s ease;
      }
      &:hover {
        img {
          transform: translateY(-28.5px);
        }
      }
    }
  }
}
