@import "../../../sass/loader";

$size: 45px;

.IconboxProjectChallenge {
    padding: 8rem 0;
    color: #fff;
    text-align: center;
    @include respond(phone) {
        text-align: center;
    }
}
.iconbox {
    height: 9rem;
    @include respond(tab-land) {
        height: auto;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        margin: auto;
        line-height: 3.5rem;
        letter-spacing: 0.05px;
        color: #ffffff;
        @include respond(tab-port) {
            font-size: 26px;
        }
    }
}
.marginbottomdescription {
    margin-bottom: 50px;
}
.diamond {
    text-align: center;
    &::before {
        content: "";
        position: absolute;
        transform: rotate(45deg);
        width: 0;
        height: 0;
        background: #78405d;
        border: 50px solid transparent;
        left: 0;
    }
    img {
        position: absolute;
        margin: 20px;
        width: 6rem;
        height: 6rem;
        left: 0;
    }
}

.boxeven {
    width: 50%;
    margin-left: 0;
    @include respond(tab-land) {
        padding: 3rem 0;
        height: 84px;
        width: 47%;
        p {
            font-size: 20px;
            padding-right: 3rem;
        }
    }
}
.boxodd {
    width: 50%;
    margin-right: 0;
    @include respond(tab-land) {
        // margin-bottom: 3rem;
        padding: 3rem 0;
        height: 84px;
        width: 47%;
        p {
            font-size: 20px;
            padding-left: 4rem;
        }
    }
}
.extrapadding {
    padding: 25px !important;
}
.mobileview {
    display: none;
}
.desktop {
    display: block;
}
@include respond(phone) {
    .IconboxProjectChallenge {
        padding: 0;
    }
    .boxeven {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
    .boxodd {
        width: 100%;
        margin-right: 0;
        padding: 0;
    }
    .margintopn65 {
        margin-top: 0px !important;
    }
    .iconbox {
        height: auto;
        p {
            text-align: left !important;
            font-size: 20px;
            letter-spacing: 0.05px;
            // line-height:;
            margin: auto !important;
            padding: 0;
        }
    }
    .diamondmobileleft {
        &::before {
            left: 20px;
        }
        img {
            margin: 25px 45px !important;
            width: $size;
            height: $size;
        }
    }
    .diamond {
        &::before {
            border: $size solid transparent;
        }
        img {
            margin: 25px;
            width: $size;
            height: $size;
        }
    }
    .mobileview {
        display: block;
        margin: auto;
    }
    .desktop {
        display: none;
    }
    .mobilebottom {
        margin-bottom: 10rem;
    }
    .extrapaddingp {
        padding: 3rem !important;
    }
}
