@import '../../../../sass/loader';

.App{
    width: 17rem;
    height: 17rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 6rem;
    position: relative;
    padding: 2rem;
    box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    @include respond(phone){
        width: 20rem;
        height: 20rem;
        margin: 2rem 0;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    em{
        width: 2.7rem;
        height: 2.7rem;
        padding: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        right: 7px;
        top: 7px;
        font-weight: 700;
        font-size: 13px;
        line-height: 19px;
        color: #979797;
        background: rgba(224, 224, 224, 0.8);
        opacity: 0.4;
        border: 1px solid #E0E0E0;
    }
}