@import '../../sass/loader';
.Model{
    display: flex;
}

.FilterTabs{
    margin-top: 8rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li{
        padding: 1.6rem 3rem;
        min-width: 38.2rem;
        font-size: 2.8rem;
        line-height: 3.2rem;
        background: #DDD;
        color: #414247;
        cursor: pointer;
        text-align: center;
        border-radius: 3.2rem;
        margin-bottom: 3rem;
        transition: all 0.3s ease-out;
        &.active{
            color: #FFF;
            background: #734F7F;
        }
    }
}

.container{
    margin: 0 auto;
    padding: 12rem 0;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    @include respond(phone){
        padding: 5rem 0;
    }

  }