@import "../../../../sass/loader";
.Review {
  text-align: center;
  max-width: 50%;
  @include respond(phone) {
    max-width: 66%;
  }
  margin: 0rem auto;
  h3 {
    font-size: 3rem;
  }
  p {
    font-size: 18px;
    padding-top: 3rem;
    color: #828282;
  }
}
