.Container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 156.25em) {
    max-width: 1340px !important;
  }
  @media (max-width: 100em) {
    max-width: 1340px !important;
  }
  @media (max-width: 108.33em) {
    max-width: 1200px !important;
  }
  @media (max-width: 80em) {
    width: 100%;
  }

  // @media (max-width:1200px){
  //     padding-left: 15px;

  // }
}
