@import "../../../../sass/loader";
.ComponentLighthouseBanner {
  min-height: 100vh;
  @apply font-primary;
  // .titlecontainer {
  //   margin-top: 8rem;
  // }
  h1 {
    font-size: 7.5rem;
    font-weight: 700;
    // line-height: 12rem;
    display: inline-block;
    // margin-top: 6rem;
    @include gradient(linear-gradient(226.05deg, #b133dc 0%, #3cecec 91.48%));
  }
  p {
    font-size: clamp(2.8rem, 1.9vw, 3.3rem);
    // white-space: nowrap;
    // line-height: clamp(3.625rem,5.2vw,5.7rem);
    color: #262626;
    font-weight: 200;
    strong {
      font-weight: 700;
    }
  }
  @include respond(tab-land) {
    text-align: center;
    min-height: 50vh;
    // .titlecontainer {
    //   margin-top: auto;
    // }
    h1 {
      font-size: 5.5rem;
    }
    .svgwidth {
      max-width: 95%;
    }
  }

  // @include respond(tab-port) {
  //   text-align: center;
  //   min-height: 80vh;
  //   .titlecontainer {
  //     margin-top: auto;
  //   }
  // }

  @include respond(small-phone) {
    padding-top: 15rem;
    text-align: center;
    min-height: 60vh;
    p {
      font-size: 2.2rem;
    }
    h1 {
      font-size: 6rem;
      // line-height: 5.3rem;
    }
    .titlecontainer {
      margin-top: auto;
    }
    .mtphone {
      margin-top: 3rem;
    }
  }
}
