.IotCasestudy{
    // border: 2px solid;
    padding: 5rem 0;
    .desc{
        font-size: 2.5rem;
        line-height: 2.9rem;
        color: #fff;
        img{
            max-width: 60%;
        }
        p{
            max-width: 60%;
            margin: 3rem auto;
        }
        // padding: 1rem 8rem;
    }   
}