@import "../../../sass/loader";

.TechStack {
  @apply font-primary;
  padding: 8rem 0;

  .TechGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    flex-wrap: wrap;

    div {
      text-align: center;
      flex: 1;
      img {
        max-width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 1rem;
      }
      span {
        font-size: 1.4rem;
        margin-top: 4rem;
        color: #949494;
      }
      @include respond(tab-land) {
        flex: 0 0 33.66%;
        max-width: 33%;
        margin-bottom: 3rem;
      }
      @include respond(phone) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media (max-width: 576px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
