/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'),
         url('https://intuz-site.imgix.net/uploads/open-sans-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://intuz-site.imgix.net/uploads/open-sans-v17-latin-300.woff') format('woff'), /* Modern Browsers */
  }
  /* open-sans-regular - latin */
  @font-face {
    font-family: 'Open Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('https://intuz-site.imgix.net/uploads/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://intuz-site.imgix.net/uploads/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
         url('https://intuz-site.imgix.net/uploads/open-sans-v17-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://intuz-site.imgix.net/uploads/open-sans-v17-latin-600.woff') format('woff'), /* Modern Browsers */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('https://intuz-site.imgix.net/uploads/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://intuz-site.imgix.net/uploads/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
  }


  /* quicksand-regular - latin */
@font-face {
    font-family: 'Quicksand';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('https://intuz-site.imgix.net/uploads/quicksand-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('https://intuz-site.imgix.net/uploads/quicksand-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* quicksand-600 - latin */
  @font-face {
    font-family: 'Quicksand';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('https://intuz-site.imgix.net/uploads/quicksand-v14-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('https://intuz-site.imgix.net/uploads/quicksand-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
     font-family: 'Maven Pro';
     font-display: swap;
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('https://intuz-site.imgix.net/uploads/maven-pro-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('https://intuz-site.imgix.net/uploads/maven-pro-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* quicksand-600 - latin */
   @font-face {
     font-family: 'Maven Pro';
     font-display: swap;
     font-style: normal;
     font-weight: 500;
     src: local(''),
          url('https://intuz-site.imgix.net/uploads/maven-pro-v13-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('https://intuz-site.imgix.net/uploads/maven-pro-v13-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
 
 
   /* merriweather-300 - latin */
@font-face {
     font-family: 'Merriweather';
     font-display: swap;
     font-style: normal;
     font-weight: 300;
     src: local('Merriweather Light'), local('Merriweather-Light'),
          url('https://intuz-site.imgix.net/uploads/merriweather-v21-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
          url('https://intuz-site.imgix.net/uploads/merriweather-v21-latin-300.woff') format('woff'), /* Modern Browsers */
   }
   /* merriweather-regular - latin */
   @font-face {
     font-family: 'Merriweather';
     font-display: swap;
     font-style: normal;
     font-weight: 400;
     src: local('Merriweather Regular'), local('Merriweather-Regular'),
          url('https://intuz-site.imgix.net/uploads/merriweather-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('https://intuz-site.imgix.net/uploads/merriweather-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
   }
   /* merriweather-700italic - latin */
   @font-face {
     font-family: 'Merriweather';
     font-display: swap;
     font-style: italic;
     font-weight: 700;
     src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
          url('https://intuz-site.imgix.net/uploads/merriweather-v21-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('https://intuz-site.imgix.net/uploads/merriweather-v21-latin-700italic.woff') format('woff'), /* Modern Browsers */
   }

   /* nunito-sans-300 - latin */
@font-face {
     font-family: 'Nunito Sans';
     font-display: swap;
     font-style: normal;
     font-weight: 300;
     src: local('Nunito Sans Light'), local('NunitoSans-Light'),
          url('https://intuz-site.imgix.net/uploads/nunito-sans-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
          url('https://intuz-site.imgix.net/uploads/nunito-sans-v5-latin-300.woff') format('woff'), /* Modern Browsers */
   }
   /* nunito-sans-regular - latin */
   @font-face {
     font-family: 'Nunito Sans';
     font-display: swap;
     font-style: normal;
     font-weight: 400;
     src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
          url('https://intuz-site.imgix.net/uploads/nunito-sans-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('https://intuz-site.imgix.net/uploads/nunito-sans-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
   }
   /* nunito-sans-600 - latin */
   @font-face {
     font-family: 'Nunito Sans';
     font-display: swap;
     font-style: normal;
     font-weight: 600;
     src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'),
          url('https://intuz-site.imgix.net/uploads/nunito-sans-v5-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
          url('https://intuz-site.imgix.net/uploads/nunito-sans-v5-latin-600.woff') format('woff'), /* Modern Browsers */
   }
   /* nunito-sans-700 - latin */
   @font-face {
     font-family: 'Nunito Sans';
     font-display: swap;
     font-style: normal;
     font-weight: 700;
     src: local('Nunito Sans Bold'), local('NunitoSans-Bold'),
          url('https://intuz-site.imgix.net/uploads/nunito-sans-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('https://intuz-site.imgix.net/uploads/nunito-sans-v5-latin-700.woff') format('woff'), /* Modern Browsers */
   }