@import "../../sass/loader";

.SectionBanner {
  background-size: cover !important;
  height: 90vh;
  max-width: 100vw;
  @apply font-primary;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
    font-size: 6rem;
    line-height: 6.4rem;
    font-weight: 700;
    margin-top: 4rem;
  }
  @include respond(tab-land) {
    h1 {
      font-size: 4rem;
    }
  }
  @include respond(phone) {
    height: 70vh;
    img {
      max-width: 160px;
    }
    h1 {
      font-size: 3rem;
      line-height: 4rem;
      margin-top: 2.5rem;
    }
  }
}

.SectionAwards {
  text-align: center;
  margin-bottom: 10rem;
  @apply font-primary;
  > div {
    > div {
      max-width: 100%;
      margin: 0 1.5rem;
    }
    p {
      font-size: 2.2rem;
      line-height: 3.6rem;
      color: #131313;
      padding: 8rem 0;
    }
    .imgContainer {
      display: table;
      height: 270px;
      transform-origin: bottom bottom;

      @media (max-width: 1400px) {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
      @include respond(tab-land) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @include respond(phone) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .imgBlock {
        display: table-cell;
        vertical-align: middle;
      }
      .hoverBlock {
        height: 0;
        width: 100%;
        background: #55365f;
        position: absolute;
        bottom: -83%;
        left: 0;
        right: 0;
        transition: all 0.5s;
        transform: translateY(-225px);
        transition: all 0.5s ease;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include respond(tab-land) {
          padding: 15px;
        }
        > div {
          padding: 0 2rem;
          font-size: 4rem;
          font-weight: 600;
          em {
            font-size: 24px;
            font-weight: 300;
          }
          p,
          &.rating {
            color: #ffffff;
          }
          p {
            padding: 0;
            line-height: 2.8rem;
          }
          p,
          a {
            font-size: 16px;
          }
          a {
            color: #3cecec;
            text-decoration: underline;
          }
        }
      }

      &.grey {
        @media (min-width: 1401px) {
          background: #fbfbfb;
        }
      }
    }
  }
  .imgContainer:hover .hoverBlock {
    opacity: 1;
    //    transform: translateY(-225px);
    height: 100%;
  }
}
