@import "../../../../sass/loader";

.FilterList {
  ul {
    li:nth-child(1n + 5) {
      display: none;
    }
    &.readmore li:nth-child(1n + 5) {
      display: flex;
    }
  }
  span.readmore {
    font-size: 15px;
    padding-left: 6rem;
    color: aqua;
    cursor: pointer;
    @include respond(phone) {
      padding-left: 7rem;
    }
  }
}
