@import "../../sass/loader";

.ChaContent {
  @apply font-primary;

  div {
    padding: 5rem 0;

    h3 {
      color: #fff;
      background: url("/static/Images/case-studies/theaterchat/head_line.png")
        left bottom no-repeat;
      padding-bottom: 2rem;
    }
    p {
      color: #494949;
      font-size: 2.5rem;
      line-height: 3rem;
    }
    img,
    h3,
    p {
      margin-bottom: 2rem;
    }
  }
}
