@import '../../sass/loader';
.ListItem{

    font-size: 2.4rem;
    line-height: 3.5rem;
    color: #848484;
    font-weight: 300;
    position: relative;
    list-style: none;
    color: #848484;
    padding-left: 4rem;
    margin-bottom: 1.5rem;
    &::before{
        content: "";
        background: url("/static/Images/icons/check-arrow.svg") center center;
        background-size: contain;
        position: absolute;
        height: 3rem;
        width: 3rem;
        margin-right: 1rem;
        left: 0;
        top: 5px;
    }
}

.InnovationContainer{
    padding: 10rem 0;
    .Flex{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @include respond(phone){
            display: block;
        }
    }
    img{
        max-width: 100%;
    }
   @include respond(phone) {   
        padding: 6rem 0;
    }
}