

@import '../../sass/loader';
.WaterPumpFeature {
    h3 {
        font-size: 2.7rem;
        color: #2D2D2D;
        margin: 3rem 0;
        font-weight: 600;
    }
    p {
        font-size: 2rem;
        strong {
            font-size: 2.4rem;
            color: #2D2D2D;
        }
    }
    >div {
        display: flex;
        margin: 3rem 0 0 0;
        @include respond(phone) {
            flex-direction: column;
        }
        >div {
            flex: 1;
            h4 {
                font-size: 2.4rem;
            }
            li{
                list-style-type: none;
                color: #2D2D2D;
                font-size: 2.1rem;
                position: relative;
                margin: 2rem 0;
                padding-left: 4rem;
                &::after{
                    content: url("../../static/Images/icons/check-grey.png");
                    position: absolute;
                    left: 0;    
                    top: 0.3rem;
                }
            }
            img {
                max-width: 100%;
                @include respond(phone){
                    max-width:90%;
                }
            }
        }
    }
}