@import "../../sass/loader";
.TopBlogBlock {
  > div {
    &.BlogImage {
      align-self: center;
      img {
        width: 100%;
        height: max-content;
        border-radius: 8px;
      }
      @media (min-width: 1400px) {
        padding-left: 0px;
      }
    }
    &.BlogMeta {
      margin: auto;
      padding: 0 5rem;
      h3 {
        font-size: 3.5rem;
        line-height: 5rem;
        a {
          color: #212529;
          text-decoration: none;
        }
      }
      p {
        font-size: 1.8rem;
        margin: 2rem 0;
        @apply font-primary;
      }
      @include respond(tab-land) {
        padding: 0 3rem;
      }
    }
  }
  box-shadow: 0px 0px 30px #ececec;
  margin-top: 2rem;
}
