
@import '../../../sass/loader';

.FeatureApp {
    >div {
        display: flex;    
        @include respond(tab-land) {
            display: block;
        }
        >div {
            flex: 1;
            &.FeatureAppLeft {
                padding: 6rem 10rem 6rem 4rem;
                h3, p {
                    color: #ffffff !important;
                    text-align: left;    
                }
                p{
                    font-size: 2.4rem !important;
                    line-height: 3rem;
                    font-weight: 300;
                }
                @include respond(tab-land) {
                    min-height: 800px;
                    padding: 4rem;
                    h3 ,p {
                        text-align: center;
                    }
                    h3 { font-size: 4rem; 
                        line-height: 4.3rem;
                    }
                    p { font-size: 2.2rem; 
                        line-height: 3.4rem;
                    }
                }
                @include respond(phone) {
                    background-position: bottom left 25% !important;
                }
            }
            &.FeatureAppRight {
                display: flex;
                flex-direction: column;
                padding: 4rem;
                >div {
                    flex: 1;
                    &.imgSlider {
                        max-width: 600px;
                        margin-left: -100px;
                        @include respond(tab-land) {
                            margin: auto;
                            margin-top: -100px;
                        }
                    }
                    &.textblock {
                        display: flex;
                        flex-direction: column;
                        img {
                            align-self: baseline;
                            padding: 5rem 0 2rem 0;
                            @include respond(tab-land) {
                                margin: auto;
                            }
                        }
                        p {
                            color: #4a4a4a;
                            font-size: 2.4rem;
                            line-height: 3.4rem;
                            font-weight: 300;
                        }
                    }
                }
                @include respond(tab-land) {
                    text-align: center;
                    display: block;
                }
            }
        }
    }

}