
@import '../../../../sass/loader';

.GetItNow {
    background-size: cover !important;
    >div {
        padding: 15rem 0;
        text-align: center;
        img {
            margin-bottom: 4rem;
            @include respond(tab-port) {
                max-width: 200px;
            }
        }
        a {
            padding: 0.8rem 3.5rem;
            border: 1px solid #fff;
            background: #f29d18;
            color: #fff;
            font-size: 2.2rem;
            font-weight: 400;
            border-radius: 5px; 
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            &:hover {
                background: #fff;
                color: #969696;
                text-decoration: none;
            }
        }
    }
    @include respond(tab-port) {
        max-height: 350px;
    }
}