@import "../../../../sass/loader";
.LinkButton {
  padding: 1rem 4rem;
  border-radius: 10rem;
  font-weight: 600;
  font-size: 1.8rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease;
  @apply font-primary;

  &.bannerBtn {
    border: 2px solid #fff;
    color: #fff !important;

    &:hover {
      text-decoration: none;
    }
  }

  &.purpleBtn {
    padding: 0.8rem 2.5rem;
    background: #734f7f;
    color: #fff !important;
    font-size: 1.8rem;
    border-radius: 0.7rem;
    display: inline-block;
    &:hover {
      background: $primary-blue;
      text-decoration: none;
      color: #fff !important;
    }
  }

  &.cloudBtn {
    font-size: 2rem;
    padding: 0.8rem 2.5rem;
    color: #333;
    background-color: #3cecec;
    border-radius: 8px;
    text-decoration: none;
  }

  &.cloudBtnUn {
    font-size: 1.6rem;
    padding: 0.8rem 2.5rem;
    color: #333;
    background-color: #3cecec;
    border-radius: 8px;
    text-decoration: none;
  }

  &.cloudBtnSmall {
    font-size: 2rem;
    padding: 0.4em 1em;
    color: #333;
    background-color: #3cecec;
    border-radius: 8px;
    text-decoration: none;
  }

  &.greyBtn {
    font-size: 2rem;
    padding: 0.8rem 2.5rem;
    color: #979797;
    white-space: nowrap;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: #000;
      border: 1px solid #000;
    }
  }
}
