@import "../../../sass/loader";

.ExpectAdaptiveGrowth {
  @apply font-primary;
  background: #516579;
  background-size: cover !important;
  h2 {
    padding: 10rem 0;
    color: #3bebeb;
    @include respond(phone) {
      font-size: 4rem;
      padding: 6rem 0;
    }
  }
  h4 {
    color: #3bebeb;
    font-size: 3.4rem;
    line-height: 3.7rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
  p {
    color: #fff;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 300;
  }
  > div > div > div {
    padding-bottom: 10rem;
    @include respond(phone) {
      text-align: center;
      padding-bottom: 7rem;
    }
  }
}
