@import '../../../sass/loader';

.Technology{
    text-align: center;
    img{
        max-width: 100%;
    }
    span{
        font-weight: 300;
        display: block;
        margin-top: 1.3rem;
        line-height: 1.5rem;
        font-size: 1.3rem;
    }
}