@import '../../sass/loader';
.PrivacyPage{
    padding: 15rem 0;
    h1{
        color: #3bebeb;
        font-size: 4rem;
        line-height: 4.4rem;
        font-weight: 600;
        text-align: center;
    }
    h5{
        font-size: 3rem;
        line-height: 3.3rem;
        color: #7e8890;
        margin-top: 6rem;
        font-weight: 400;
        b{
            font-weight: 700;
        }
    }
    p{
        padding-top: 3rem;
        font-size: 2.5rem;
        line-height: 3.5rem;
        color: #7e8990;
        font-weight: 300;
        span {
            color: #684574;
            font-weight: 400;
        }
       
    }
    a{
        font-size: 2.5rem;
        line-height: 3.5rem;
        color: #3cecec;
        overflow-wrap: break-word;
        &:hover{
            color: #7e8890;
            text-decoration: none;
        }
    }
    ul{
        font-size: 2.2rem;
        line-height: 3.1rem;
        color: #7e8990;
        margin-left: 2rem;
        li {
            margin-bottom: 1rem;
        }
    }

    @include respond(phone) {
        text-align: center;
    }
}