@import '../../sass/loader';

.TabHeading {
    box-shadow: 0 1px 8px rgba(0,0,0,.22);
    @media (min-width:768px) {
        display: flex;
        margin: 8rem 0;
    }
    .icon { margin-bottom: 2rem; }
    .Heading {
        flex: 1;
        padding: 2.8rem 0;
        font-size: 2.1rem;
        color: #7e8890;
        font-weight: 500;
        text-align: center;
        line-height: 3rem;
        &:hover {
            cursor: pointer;
        }
        @include respond(phone) {
            border-bottom: 1px solid #ececec;
            &.activeTag { margin-bottom: 8rem; }
        }
        &.activeTag {
            background-color: aqua;
            color: #ffffff;
        }
    }
}
.tabContent {
    @include respond(phone) {
        border-bottom: 1px solid #ececec;
        .ContentCol { padding: 0 3rem; }
    }
}

.ContentCol {
    display: flex;
    margin-bottom: 4rem;
    h4 {
        color: #2e2d2d;
        font-size: 2.2rem;
        line-height: 3rem;
        font-weight: 600;   
     }
     img {   
        margin-right: 2rem;
        width: 4rem;
        height: 4rem;
    }
    .listContent, p {
        color: #7e8890;
        font-size: 1.8rem !important;
        line-height: 3.2rem;
        ul {
            list-style-type: none;
            li::before {
                display: inline-block;
                height: 1px;
                content: "";
                width: 5px;
                background: #7e8890;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    } 
}
