.FactsandAwards{
    background-size: cover;
    padding: 2rem;
    background-repeat: no-repeat;
     
          background-image: url(https://www.intuz.com/_next/static/images/cta-bg-88568c642cc19c85537425206e05b9fd.png);

   
         min-height: 19rem;
        .img{
              padding: 1rem;
             max-width: 100%;
             display: block;
        }
}