

@import '../../../sass/loader';
.PointContent {
    margin-top: 6rem;
    .Block {
        @media (min-width:768px) {
            display: flex;   
            width: 51%;
            padding: 2rem 0;
        }
        &:nth-child(odd) { 
            flex-direction: row-reverse; 
            >div {
               padding-left: 1rem;
               padding-top: 3rem; 
               
            }
        }
        &:nth-child(even) { 
            float: right; 
            >div {
                padding-top: 3rem; 
                padding-right: 1rem; 
             }
        }
        font-weight: 400;
        h4 {
            color: #506478;
            font-size: 2.9rem;
            line-height: 3.2rem;
        }
        p {
            color: #7e8890;
            font-size: 2.5rem;
            line-height: 3.5rem;
            span { color: #684574; }
        }
        img {
            background: #F9FAFA;
            border-radius: 50%;
            border: 1px solid #E5E5E5;
            transition: all 0.5s ease 0s;
            &:hover { transform: rotateY(180deg);
            }
        }
        @include respond(phone) {
            text-align: center;
            padding-bottom: 6rem;

            &:last-child { padding-bottom: 0;}
            div:first-child { margin-bottom: 1rem;}
        }
    }
}