.Item{
    position: relative;
    a{
        transition: color 0.3s ease;
    }
    &::before{
        content: "";
        display: inline-block;
        width: 0;
        height: 5px;
        background-color: #3cecec;
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.3s ease;
    }
    &:hover{
        a{
             color: #3cecec;
        }
        &::before{
            width: 5px;
        }
    }
}