
.CaseBlock {
    &.sgcBlock, &.Picitblock {
        flex-direction: row-reverse;
    }
    @media (min-width: 768px) {
        display: flex;
        &.sgcBlock, &.Picitblock {
            flex-direction: row-reverse;
        }
    }
    @media (min-width: 1660px){
        height: 700px;
    }
}

