@import "../../../sass/loader";

.Tabs {
  @apply font-primary;
  background-color: rgba(99, 99, 99, 0.9);
  padding: 2rem;
  margin-bottom: 10rem;
  margin-top: -5rem;
  @include respond(phone) {
    margin-bottom: 7rem;
  }

  > div {
    display: flex;
    justify-content: space-between;
    a {
      color: #fff !important;
      font-size: 2rem;
      line-height: 2.9rem;
      font-weight: 300;
      text-transform: uppercase;
      cursor: pointer;
      &:hover,
      &.active {
        color: #3bebeb !important;
      }
    }

    @media (max-width: 420px) {
      //display: block;
      flex-wrap: wrap;
      div {
        // display: block;

        width: 50%;
        float: left;
        text-align: center;
        margin-bottom: 1rem;

        &:last-child {
          width: 100%;
        }

        a {
          font-size: 15px;
        }
      }
    }
  }
}
