@import "../../sass/loader";
.Secondary {
  @apply font-primary;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  color: rgba(#fff, 0.6);
  -webkit-font-smoothing: antialiased;
}
.Primary {
  // color: rgba(#fff,0.6);
  @apply font-primary;
  font-size: 5rem;
  line-height: 5.8rem;
  font-weight: normal;
  letter-spacing: 0.167rem;
  margin-bottom: 2rem;
  -webkit-font-smoothing: antialiased;

  @include respond(tab-land) {
    font-size: 4rem;
  }
  @include respond(phone) {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
