@import '../../../../sass/loader';
.BannerSection{
    min-height: 100vh;
    padding: 15rem 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
        font-weight: 600;
        font-size: 7.5rem;
        line-height: 10.2rem;
        span{ 
            font-weight: 700;
            line-height: 12.3rem;
            font-size: 9rem;
            display: inline-block;
            background: rgb(60,236,236);
            background: linear-gradient(226.05deg, #B133DC 0%, #3CECEC 91.48%);     
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        @include respond(tab-land) {
            font-size: 6.5rem;
            line-height: 9.2rem;
            span{
                font-size: 8rem;
                line-height: 11.3rem;
            }
        }

        @include respond(tab-port) {
            font-size: 5.5rem;
            line-height: 8.2rem;
            span{
                font-size: 7rem;
                line-height: 10.3rem;
            }
        }
        @include respond(phone) {
            font-size: 4.5rem;
            line-height: 7.2rem;
            span{
                font-size: 5rem;
                line-height: 8.3rem;
            }
        }
    }
    h2{
        // font-size: 3.5rem;
        // line-height: 5.2rem;
        font-size: 5rem;
        line-height: 6.8rem;
        font-weight: 300;
        color: #262626;
        @include respond(tab-land) {
            font-size: 3.2rem;
            line-height: 5.0rem;
        }
        @include respond(tab-port) {
            font-size: 3.0rem;
            line-height: 4.8rem;
        }
        @include respond(port) {
            font-size: 2.8rem;
            line-height: 4.6rem;
        }
    }
    // img{
    //     // margin-top: 10rem;
    //     // @include respond(phone){
    //     //     max-width: 85%;
    //     // }
    // }
    a{
        display: inline-block;
        padding: 1rem;
        flex-basis: 40%;
        // border: 1px solid #ccc;
        margin-top: 10rem;
        &:first-child{
            img{
                max-width: 70%;
            }

        }
        &:last-child{
            img{
                max-width: 60%;
            }
        }

        @include respond(phone){
            flex-basis: 50%;
            margin-top: 3rem;
            img{
            }
        }
    }
}


/* Blockchain */
