@import "../../../sass/loader";
.approch {
  text-align: center;
  h4 {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 5.3rem;
    text-align: center;
    color: #4f4f4f;
  }
  p {
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-align: center;
    color: #828282;
  }
  .browser {
    background-size: 60% 70%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
    justify-content: center;
    img {
      margin: 20px 20px 0;
      width: 4.2rem;
      height: 4.2rem;
    }
    @include respond(tab-port) {
      background-size: 100%;
    }
    @include respond(phone) {
      background-size: 100%;
      img {
        margin: 15px 25px 0;
        width: auto;
        height: auto;
      }
    }
  }
  .database {
    background-size: 60% 70%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
    justify-content: center;
    img {
      margin: 25px 15px 0 25px;
    }
    .mongodb {
      width: 125px;
    }
    .mysql {
      width: 80px;
      height: 60px;
    }
    @include respond(tab-port) {
      background-size: 100%;
    }
    @include respond(phone) {
      background-size: 100%;
    }
  }
  .headless {
    background-size: 60% 70%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
    justify-content: center;
    img {
      margin: 45px 10px 0;
    }
    img {
      width: 90px;
    }
    @include respond(tab-land) {
    background-size: 80% 70%;
    }
    // @include respond(tab-port) {
    //   background-size: 100%;
    // }
    @include respond(phone) {
      background-size: 100%;
    }
  }
  .traditnalmiddel {
    background-size: 95% 95%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 460px;
    -ms-flex-pack: center;
    position: relative;
    margin: -20px 0;
    justify-content: center;
    @include respond(tab-port) {
      background-size: 100% 95%;
    }
    @include respond(phone) {
      background-size: 100% 95%;
    }
    .frontend {
      padding: 50px 40px 0;
      .traditnolimg {
        // width: 75px;
        height: 90px;
        margin-bottom: 1rem;
      }
    }
    .backend {
      padding: 10px 60px 0;
      .traditnolimg {
        // width: 75px;
        height: 50px;
        margin-bottom: 1rem;
      }
    }
    p {
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      color: #bdbdbd;
      font-weight: 600;
      @include respond(phone) {
        font-size: 14px;
        line-height: 18px;
      }
    }
    span {
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      font-weight: bold;
      color: #bdbdbd;
      @include respond(phone) {
        font-size: 10px;
        line-height: 14px;
      }
    }
  }
  .traditonal {
    background-size: 80% 95%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    -ms-flex-pack: center;
    position: relative;
    margin: -30px 0;
    justify-content: center;
    .frontend {
      padding: 80px 60px 0;
      .traditnolimg {
        // width: 75px;
        height: 100px;
        margin-bottom: 1rem;
      }
      @include respond(tab-port) {
        padding: 80px 40px 0;
      }
      @include respond(phone) {
        padding: 80px 30px 0;
      }
    }
    .backend {
      padding: 20px 60px 0;
      .traditnolimg {
        // width: 75px;
        height: 100px;
        margin-bottom: 1rem;
      }
      @include respond(tab-port) {
        padding: 20px 30px 0;
      }
      @include respond(phone) {
        padding: 20px 30px 0;
      }
    }
    p {
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      color: #bdbdbd;
      font-weight: 600;
      @include respond(phone) {
        font-size: 14px;
        line-height: 18px;
      }
    }
    span {
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      font-weight: bold;
      color: #bdbdbd;
      @include respond(phone) {
        font-size: 10px;
        line-height: 14px;
      }
    }
    @include respond(tab-port) {
      background-size: 100% 95%;
    }
    @include respond(phone) {
      background-size: 100% 95%;
    }
  }
  .breakline {
    background-size: 80% 95%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .jasmstackleft {
    background-size: 90% 70%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 180px;
    padding: 30px 20px 0;
    margin: -30px 0;
    @include respond(tab-port) {
      height: 245px;
      padding: 45px 20px 0;
    }

    p {
      font-weight: 600;
      font-size: 2.2rem;
      line-height: 3rem;
      text-align: center;
      color: #bdbdbd;
      @include respond(phone) {
        font-size: 14px;
        line-height: 18px;
      }
      @include respond(tab-port) {
        font-size: 14px;
        line-height: 18px;
      }
    }
    img {
      width: 30px;
      height: 30px;
      margin-bottom: 1rem;
    }
    span {
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1.6rem;
      text-align: center;
      color: #bdbdbd;
      @include respond(phone) {
        font-size: 10px;
        line-height: 14px;
      }
    }
  }
  .jasmstackright {
    background-size: 90% 70%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 180px;
    margin: -45px 0;
    padding: 55px 40px 0;
    p {
      font-weight: 600;
      font-size: 2.2rem;
      line-height: 3rem;
      text-align: center;
      color: #bdbdbd;
      @include respond(phone) {
        font-size: 14px;
        line-height: 18px;
      }
    }
    img {
      width: 30px;
      height: 30px;
      @include respond(phone) {
        width: 50px;
        height: 30px;
      }
    }
    @include respond(tab-port) {
      height: 230px;
      padding: 60px 40px 0;
      .colpad {
        padding: 0 !important;
      }
    }
    @include respond(phone) {
      .colpad {
        padding: 0 10px !important;
      }
    }
  }
  @include respond(tab-port) {
  }

  @include respond(small-phone) {
  }
}
