@import "../../../sass/loader";

.CareerTeam {
  margin: 10rem 0 5rem;
  @apply font-primary;
  h2 {
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 400;
    color: #3bebeb;
    text-align: center;
    @include respond(phone) {
      font-size: 25px;
    }
  }

  h3 {
    text-align: center;
    color: #506478;
    font-size: 2rem;
    span {
      color: #aeb9c4;
    }
  }
  .jobdescription {
    font-size: 2rem;
    font-weight: 400;
    color: #7e8890;
    margin-top: 2rem;
    strong {
      color: #506478;
      font-size: 1.8rem;
      font-weight: 600;
    }
    li {
      background: url("/static/Images/career/jobdescription_li_bg.png") left
        10px no-repeat;
      padding: 0 0 0 3rem;
    }

    .btnApply {
      cursor: pointer;
      padding: 5px 30px;
      background: #62eeee;
      font-size: 22px;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-weight: 600;
      -webkit-border-radius: 5px;
      margin-top: 4rem;
    }
  }
}
