@import "../../sass/loader";
.TabHeading {
  @apply font-primary;
  margin: 8rem 0;
  text-align: left;
  .Heading {
    h4 {
      color: #2c2c2c;
      font-size: 2.3rem;
      line-height: 4rem;
      font-weight: 300;
      display: inline-block;
      @include respond(phone) {
        font-weight: 300;
        line-height: 3rem;
      }
    }
    span {
      padding-right: 2rem;
      img {
        margin: auto;
      }
    }
    padding-top: 2rem;
    cursor: pointer;
    //background: #f8f8f8!important;
    img {
      width: 12px;
      height: 16px;
      &.openAcc {
        transform: rotate(90deg);
      }
    }
  }
  @include respond(phone) {
    margin: 5rem 0;
  }
}
.Content {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 300;
  color: #2c2c2c;
  margin-left: 5rem;
  @include respond(phone) {
    font-size: 2.2rem;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 2rem;
      background: url(https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/rad/list-style.svg)
        left 10px no-repeat;
      padding-left: 30px;
      background-size: 20px 20px;
    }
  }
}
