.ServiceBlock {
    text-align: center;
    .BlockchainService{
        display: inline-block;
        flex-direction: column;
        height: 11.7rem;
        margin-bottom: 15rem;
        img{
            max-width: 100%;
            margin-bottom: 1rem;
        }
        h2{
            text-align: center;
            font-size: 1.8rem;
            line-height: 2.4rem;
            color: #000;
            &.boldText
            {
                color: #282828;
                font-weight: 600;
            }
        }
    }
}
