@import "../../../sass/loader";

.FeatureSection {
  @apply font-primary;
  padding: 8rem 0 0;

  img.arch_img {
    margin: 5rem 0;
    max-width: 100%;
    @include respond(phone) {
      max-width: 90%;
    }
  }
}
