@import "../../sass/loader";
.FormSubmission {
  max-width: 990px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  h1 {
    font-size: 4.8rem;
    font-weight: 600;
    color: #3bebeb;
    line-height: 5.3rem;
    @apply font-primary;
    margin: 0;
  }
  svg {
    width: 10rem;
    display: block;
    margin: 5rem auto;
  }

  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash 0.9s ease-in-out;
      animation: dash 1s ease-in-out;
    }
    &.line1 {
      stroke-dashoffset: 1000;
      animation: dash 5s 0.35s ease-in-out forwards;
    }
    &.line2 {
      stroke-dashoffset: 1000;
      animation: dash 5s 1.35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      animation: dash-check 5s 0.35s ease-in-out forwards;
    }
  }

  p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #7e8890;
    strong {
      font-weight: 700;
    }
    a {
      text-decoration: none;
      color: #3bebeb;
      font-weight: 700;
    }
  }

  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
}
