@import '../../../../sass/loader';
.ComponentCareerWhyNotIntuzSection{
    padding: 8rem 0;
    text-align: center;
    h3{
        font-size: 2.8rem;
        line-height: 3.8rem;
        color: #262626;
        letter-spacing: 3.85px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .description{
        font-size: 2.2rem;
        line-height: 3.3rem;
        color: #262626;
        max-width: 70%;
        display: inline-block;   
        @include respond(phone){
            max-width: 100%;
        }    
    }
    .last_para{
        max-width: 70%;
        display: inline-block;       
        font-style: normal;
        font-weight: 600;
        font-size: 3.3rem;
        line-height: 4.5rem;
        color: #000;
        @include respond(phone){
            max-width: 100%;
        }
    }
}