@import '../../sass/loader';

.Content {
    padding-top: 2rem;
    @media (min-width:768px) {    
        display: flex;
        flex-direction: column;   
    }

    .ContentBlock {
        margin-bottom: 8rem;
        &:last-child {
            margin:0;
        }
        a {
            background: #f1f1f1;
            border-radius: 2px;
            color: #7e8890;
            font-size: 1.5rem;
            font-weight: 300;
            padding: 2px 6px;
            &:hover {
                text-decoration: none;
            }
        }
        @media (min-width:768px) {
            display: flex;
            &:nth-child(even) {
                align-self: flex-end;
                flex-direction: row-reverse;
                text-align: right;
                img {
                    padding-left: 5rem;
                }
            }
            &:nth-child(odd){
                img { padding-right: 5rem; }
                a { float: left; }
            }
            div.text { width: 80%; 
                // text-align: left;
            }
            img { align-self: baseline; }
        }
        
        @include respond(phone) {
            text-align: center;
            margin-bottom: 6rem;
            h3, img {
                margin-bottom: 2rem;
            }
        }

        h3 {
            font-size: 3.5rem;
            color: #506478;
            font-weight: 400;

            @include respond(phone) {
                font-size: 2.5rem;
            }
        }
        p {
            color: #7e8890;
            line-height: 3.5rem;
            font-size: 2.5rem;
            font-weight: 300;
        } 
      
    }
    a { margin: 0 !important; }

}