@import "../../sass/loader";
.AwardBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  p {
    text-align: center;
    color: rgb(74, 74, 74);
    font-size: 1.6rem;
    font-weight: normal;
    @apply font-primary;
    margin-top: 2rem;
    padding: 0 2rem;
  }
}
