@import "../../sass/loader";

.MarketingBlock {
  @apply font-primary;
  margin-top: 5rem;

  h2 {
    font-size: 3rem;
    line-height: 3.3rem;
    color: #506478;
    font-weight: 400;
    padding-top: 1.5rem;
  }

  p {
    font-size: 2.5rem;
    line-height: 3.2rem;
    color: #7e8890;
    font-weight: 300;
    padding-top: 1.5rem;
  }

  div.block {
    margin-bottom: 5rem;
    &:last-child {
      flex: 100%;
      text-align: center;
      max-width: 100%;
      img {
        margin: auto;
      }
    }
    img {
      display: block;
      @include respond(phone) {
        margin: auto;
      }
    }
  }
}
