.mobileTestimonial .carousel-indicators li {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: grey;
    cursor: pointer;
    display: block !important;
    box-sizing: border-box;
    border: 0;
  }