@import '../../../sass/loader';
.ClientTestimonialCarousel{
    margin-top: 8rem;
    .Carousel{
        z-index: -1;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        margin-top: -5rem;
        z-index: 10;
        li{
            width: 10rem;
            height: 10rem;
           margin-left: 15rem;
            &.active{
                img{
                    border: 2px solid #fff;
                }
            }
            img{
                max-width: 100%;
                border: 2px solid grey;
                border-radius: 50%;
            }

        }
        @include respond(phone){
            display: none;
        }
    }
    .Caption{
        bottom: auto;
        left: 0;
        top: 30%;
        blockquote{
            text-align: left;
            padding-bottom: 2.6rem;
            font-size: 2.4rem;
            line-height: 3.8rem;
            font-style: italic;
            color: #fff;
            font-weight: 300;
            max-width: 50%;
            position: relative;
            &::before{
                content: url('https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/q1.png');
                position: absolute;
                top: -5rem;
            } 
        }
        p{
            text-align: left;
            margin-bottom: 1rem;
            font-size: 2rem;
            display: block;
            line-height: 2.4rem;
            letter-spacing: .29px;
            color: #fff;
        }

    }


    .MobileCaption{
        background: #f8f8f8;
        padding: 5rem 0 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            max-width: 100%;
            border-radius: 50%;
            margin-bottom: 2rem; 
        }
        blockquote{
            text-align: center;
            padding-bottom: 2.6rem;
            font-size: 2.4rem;
            line-height: 3.8rem;
            font-style: italic;
            color: #7e8890;
            font-weight: 300;
            max-width: 100%;
            position: relative;
            &::before{
                content: url('https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/q1.png');
                position: absolute;
                top: -5rem;
            } 
        }
        p{
            text-align: left;
            margin-bottom: 1rem;
            font-size: 2rem;
            display: block;
            line-height: 2.4rem;
            letter-spacing: .29px;
            color: #7e8890;
        }

    }
}   

