@import "../../sass/loader";

.Categories {
  padding-top: 3rem;
  @apply font-primary;
  .Dropdown {
    button {
      color: #6f6f6f;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
      outline: none;
    }
    a {
      padding: 1.5rem 4rem;
      display: block;
    }
  }
  .DropdownMenu {
    opacity: 0 !important;
    padding: 1rem 0;
    border: none;
    font-size: 16px;
    height: 30rem;
    overflow-y: scroll;
    border-radius: 9px;
    box-shadow: 0px 0px 30px #ececec;
    &::-webkit-scrollbar {
      width: 5px;
      color: grey;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #ccc;
      margin: 1rem;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    @media screen and (max-width: 87.5em) {
      left: -15rem;
      top: 4rem;
    }
  }
  > div {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    a {
      color: #6f6f6f;
      cursor: pointer;
      text-decoration: none;
      &.active {
        font-weight: bold;
      }
    }
  }
  &.sticky {
    position: fixed;
    top: 8rem;
    width: 100%;
    background-color: rgba(99, 99, 99, 0.9);
    z-index: 10;
    padding: 2rem 0;

    a,
    button {
      color: #ffffff;
      font-size: 16px;
    }
    button:hover {
      color: #fff;
    }
    .Dropdown {
      .DropdownMenu {
        box-shadow: 3px 5px 10px #ccc;
      }
      a {
        color: #6f6f6f;
      }
    }
    // @include respond(tab-land) {
    //     top: 72px;
    // }
    // @include respond(tab-port) {
    //     top: 64px;
    // }
    // @include respond(big-desktop) {
    //     top: 80px;
    // }
  }

  select.Hidden {
    display: none;
  }
}
