@import "../../sass/loader";

.ServiceBlock {
  @apply font-primary;
  text-align: center;

  h3 {
    font-size: 4.5rem;
  }
  p {
    font-size: 4rem !important;
    color: #2c2c2c !important;
    padding-bottom: 8rem;
  }
  @include respond(tab-land) {
    h3 {
      font-size: 3.5rem;
    }
    p {
      font-size: 3.5rem !important;
    }
  }
  @media (max-width: 991px) {
    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 3rem !important;
    }
    .col {
      margin-bottom: 3rem;
    }
  }

  .Block {
    box-shadow: rgba(221, 221, 221, 0.5) 0px 0px 13px;
    padding: 70px 15px 42px;
    border: 1px solid rgb(224, 223, 223);
    border-radius: 21px;
    transition: all 0.5s ease 0s;

    @include respond(tab-land) {
      padding: 3rem 2rem;
    }

    img {
      margin-bottom: 3rem;
      @media (max-width: 991px) {
        max-width: 130px;
      }
    }
    h2 {
      font-weight: 600;
      font-size: 2.6rem;
    }
    h4 {
      font-weight: 400;
      font-size: 2.5rem;
      @include respond(tab-land) {
        font-size: 2rem;
      }
    }
  }
}
