@import "../../../sass//loader";

.HeroBlog {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  height: 60rem;
  align-items: center;
  position: relative;
  background-position: 100% 100%;
  > div {
    padding: 15rem 0 0 0;
  }
  // &.position{
  //     //background-position: none;
  // }

  @include respond(big-desktop) {
    //height: 50vh;
    padding: 5rem 0;
  }

  @include respond(phone) {
    background-size: cover;
    background-position: center center;
    h3 {
      font-size: 2.8rem;
    }
  }

  h1 {
    font-size: 4.8rem;
    @apply font-primary;
    color: #fff;
    letter-spacing: 0.89px;
    font-weight: normal;
    padding-bottom: 1.5rem;
    text-align: center;
    width: 80%;
    margin: auto;
    @media (max-width: 980px) {
      font-size: 4rem !important;
    }
    @include respond(phone) {
      font-size: 3.2rem !important;
    }
    @media (max-width: 420px) {
      width: 90%;
    }
  }

  &.fullHeading {
    height: 100vh;

    @include respond(tab-land) {
      height: auto;
    }
  }

  .authorData {
    @apply font-primary;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding: 2rem 0 2.5rem 0;
    img {
      height: 50px;
      width: 50px;
      align-self: center;
      margin-bottom: 1rem;
    }
    span {
      font-size: 2.5rem;
      font-weight: bold;
      &.date {
        color: #d2d2d2;
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}
