@import '../../../../sass/loader';
.CapabilitiesSection{
    &__Content{
        padding: 4rem;
            p{
                // margin-top: 2rem;
                font-size: 2.0rem;
                line-height: 3.4rem;
                color: #262626;
                text-align: center;
            }
            div{
                width: 6.5rem;
                height: 6.5rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
    }
}