@import "../../sass/loader";

.changeUIRow {
  justify-content: space-around;
  > div {
    padding: 0;
    box-shadow: 0px 0px 9px #ececec;
    border-radius: 8px;
    overflow: hidden;
    @media (min-width: 992px) {
      flex: 0 0 28%;
      max-width: 28%;
    }
    @include respond(tab-port) {
      margin: auto auto 8rem;
      flex: 0 0 45%;
      max-width: 45%;
    }
    @include respond(phone) {
      flex: 0 0 80%;
      max-width: 80%;
    }
  }
}

.Resource,
.MoreGuide {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  img {
    width: 100%;
  }

  &.Resource {
    figure {
      opacity: 1;
      transform-origin: top left;
    }
    text-align: center;
    cursor: pointer;
    img {
      box-shadow: 0 15px 15px #ccc;
      border-radius: 4px;
    }
    figcaption {
      font-size: 1.6rem;
      @apply font-primary;
      text-align: center;
      line-height: 2.5rem;
      padding-top: 2rem;
      color: #060f19;
      letter-spacing: 0.32px;
    }
    @include respond(tab-port) {
      margin-bottom: 5.5rem;
    }
  }
  &.MoreGuide {
    figcaption {
      font-size: 2.2rem;
      @apply font-primary;
      text-align: center;
      line-height: 3.3rem;
      padding: 5rem 0 3rem 0;
      color: #676767;
      letter-spacing: 0.32px;
      width: 80%;
      margin: auto;
      font-weight: 600;
    }
  }
}
