
@import '../../../sass/loader';

.topBlock {
    @media (min-width:768px) {
        height: 90vh;    
    }
    @include respond(tab-port) {
        height: 70vh;
    }
    @include respond(phone) {
        min-height: 70vh;    
        height: auto;
    }
}
.down{

    height: 100vh;
    @media (min-width:768px) {
        // height: 70vh;
        &>div{
            // height: 80vh;
            height: 100%;
            img[data-class="backImage"]{
                position: absolute;
            }
        }    
    }

    // @include respond(tab-land){
    //     height: 100vh;
    //     // padding: 1rem;
    // }
    @include respond(tab-port){
        height: 60vh;
    }
    @include respond(phone){
        height: auto;
    }
}