@import '../../../sass/loader';
.Banner{
    min-height: 80vh;
    padding: 20rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include respond(phone) {
        min-height: 100vh;
        padding: 15rem 0;
    }
    &.h-100{
        min-height: 100vh;
    }
    &__Small{
        font-size: 1.6rem;
        margin-top: 8rem;
        width: 80%;
        display: inline-block;
    }
    h1{
        font-weight: 600;
        font-size: 6.5rem;
        line-height: 9.2rem;
        span{ 
            font-weight: 700;
            font-size: 9rem;
            line-height: 12.3rem;
            background: rgb(60,236,236);
            background: linear-gradient(226.05deg, #B133DC 0%, #3CECEC 91.48%);     
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            // white-space: nowrap;
            display: inline-block;
        }
        @include respond(tab-land) {
            font-size: 6.5rem;
            line-height: 9.2rem;
            span{
                font-size: 8rem;
                line-height: 11.3rem;
            }
        }

        @include respond(tab-port) {
            font-size: 5.5rem;
            line-height: 8.2rem;
            span{
                font-size: 7rem;
                line-height: 10.3rem;
            }
        }
        @include respond(phone) {
            font-size: 4.5rem;
            line-height: 7.2rem;
            span{
                font-size: 5.0rem;
                line-height: 7.3rem;
            }
        }
       
    }
    h2{
        font-size: 4.5rem;
        line-height: 6.3rem;
        font-weight: 300;
        color: #262626;
        @include respond(tab-land) {
            font-size: 4rem;
            line-height: 5.8rem;
        }
        @include respond(tab-port) {
            font-size: 3.0rem;
            line-height: 4.8rem;
        }
        @include respond(port) {
            font-size: 2.8rem;
            line-height: 4.6rem;
        }
    }
    img{
        margin-top: 8rem;
        max-width: 50%;
    }
}
