@import "../../../../sass/loader";

.Box {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-height: 406px;
  @include respond(phone) {
    margin-bottom: 15rem;
  }

  .TopImg {
    width: 10.5rem;
    height: 10.5rem;
    background: linear-gradient(
      135deg,
      rgba(135, 73, 156, 1) 0,
      rgba(60, 239, 239, 1) 100%
    );
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -5rem;
    &::after {
      content: "";
      width: 13.5rem;
      height: 13.5rem;
      display: block;
      position: absolute;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.03);
    }
    img {
      max-width: 100%;
    }
  }
  h6 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.3rem;
    color: #414247;
    padding: 5rem 0 2rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 2rem 2rem;
  }
  .separator {
    background: url("https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/fullstackjs/sep.png")
      no-repeat;
    background-size: cover;
    width: 100%;
    height: 1px;
    margin-bottom: 2rem;
  }
  .TechStack {
    padding-bottom: 2rem;
    display: flex;
    img {
      height: 5rem;
      padding: 0.5rem;
      max-width: 100%;
      margin-right: 1rem;
    }
  }
}
