@import "../../sass/loader";
.Error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15rem 0;
  @apply font-primary;
  img {
    max-width: 100%;
    padding: 2rem 4rem;
  }
  h3 {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 600;
    padding: 3rem 0 1rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding: 1rem 0 2rem;
    text-align: center;
  }
}
