@import "../../sass/loader";

$circle-width: 8rem;

.HireDeveloper {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @apply font-primary;
  @include respond(phone) {
    flex-direction: column;
  }
}

.Developer {
  text-align: center;
  margin: 3rem;
  & > img {
    max-width: 100%;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
  }
  h6 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #9b9b9b;
  }
  p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #4a4a4a;
    font-weight: 500;
  }
  a {
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: #9b9b9b !important;
    text-decoration: underline !important;
    transition: color 0.5s ease;
    cursor: pointer;
    &:hover {
      color: #3cecec !important;
    }
  }
}

.DeveloperInfo {
  box-shadow: 0 0 6px #eee;
  margin: 4rem 0 4rem;
  padding: 2rem 1rem;
  border-radius: 10px;
  float: left;
  width: 100%;
  position: relative;
  display: flex;
  z-index: 10;
  &::before {
    bottom: 100%;
    border: solid transparent;
    content: "";
    position: absolute;
    pointer-events: none;
    background: none;
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 20px;
    margin-left: -16px;
    z-index: 2;
    left: 50%;
    outline: transparent;
    display: none;
    @include respond(phone) {
      display: block;
    }
  }
  @include respond(phone) {
    flex-direction: column;
  }
  & > a {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
    border-radius: 100px !important;
  }
  & > div {
    flex: 1;
    margin-bottom: 5rem;
  }
  .totalexperience {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgba(#ccc, 0.5);
    padding: 2rem 0;
  }

  .technologyexperience {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 2rem 0;
      li {
        height: 58px;
        overflow: hidden;
        margin-bottom: 1rem;
        text-align: center;
        cursor: pointer;
        img {
          transform: translateY(-65px);
          // max-width: 100%;
          height: 116px;
          width: 100%;
          transition: transform 0.5s ease-in;
        }
        &.active {
          img {
            transform: translateY(5px);
          }
        }
      }
    }
    .cls {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .recentproject {
    padding: 2rem 3rem;
    h6 {
      font-size: 1.8rem;
      line-height: 2.2rem;
      color: #31d5d5;
      font-weight: 500;
    }
    p {
      font-size: 1.3rem;
      line-height: 2.2rem;
      color: #d8d8d8;
      font-weight: 300;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      li {
        height: 87.5px;
        overflow: hidden;
        margin: 2rem 0;
        @include respond(phone) {
          flex-basis: 50%;
          text-align: center;
        }
        img {
          // max-width: 100%;
          height: 175px;
          transform: translateY(-87.5px);
          transition: transform 0.5s ease-in;
          &:hover {
            transform: translateY(0);
          }
        }
      }
      @include respond(phone) {
        justify-content: center;
      }
    }
  }
}

.ExpBlock {
  @apply font-primary;
  display: flex;
  align-items: center;
  margin: 1rem;
  h6 {
    font-size: 2.8rem;
    margin-right: 1.5rem;
    color: #fff;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: chartreuse;
    @include respond(phone) {
      width: 6rem;
      height: 6rem;
      font-size: 2.5rem;
    }
  }
  p {
    font-size: 2.2rem;
    line-height: 3.1rem;
    color: #6b6b6b;
    span {
      font-size: 1.8rem;
      line-height: 2.6rem;
      color: #999;
    }
    @include respond(phone) {
      font-size: 1.6rem;
      span {
        font-size: 1.3rem;
      }
    }
  }
}

.Exp {
  text-align: center;
  p {
    font-size: 1.5rem;
    font-weight: 300;
    color: #999;
    padding-top: 1.5rem;
  }
}
.memberJourney {
  font-size: clamp(1.8rem);
  text-align: left;
  color: #a6a6a6 !important;
  line-height: 24px;
}
