@import "../../../../../sass/loader";
.NavigationItem {
  list-style: none;
  @apply font-primary;
  position: relative;
  font-weight: 400;
  margin-left: 5rem;
  padding: 0.5rem 1rem;
  @include respond(tab-port) {
    margin-left: 2rem;
  }
  position: relative;
  a {
    color: #262626;
    font-size: 20px;
    transition: color 0.2s ease;
    cursor: pointer;
    text-transform: capitalize;
    overflow: hidden;
    display: inline-block;
    &::after {
      content: "";
      width: 0;
      transition: width 0.3s ease-in;
    }
    &:hover {
      text-decoration: none;
      color: #3cecec;
      &::after {
        content: "";
        background-color: #3cecec;
        width: 4px;
        height: 4px;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        // left: 10px;
        @include respond(phone) {
          display: none;
        }
      }
    }
    @include respond(tab-port) {
      font-size: 18px;
    }
  }
  &.active {
    a {
      color: #3cecec;
    }
    a::after {
      content: "";
      background-color: #3cecec;
      width: 4px;
      height: 4px;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      // left: 10px;
    }
  }
  @include respond(phone) {
    font-size: 18px;
    width: 100%;
    padding-bottom: 2.5rem;
    display: block;
    a {
      color: #ffffff;
      &.ActivePage {
        color: aqua;
      }
    }
  }
}
