@import "../../../sass/loader";

.DetailTextSection {
  @apply font-primary;
  padding-bottom: 8rem;

  @include respond(phone) {
    padding-bottom: 5rem;
  }

  &.SectionOnly {
    padding: 0;
  }
  &.topPadding {
    // padding: 0;
    padding-top: 8rem;
    padding-bottom: 2rem;
    @include respond(phone) {
      padding-top: 5rem;
    }
  }
  h3 {
    color: #3cecec;
    font-weight: 600;
    font-size: 5rem;
    line-height: 5.5rem;
    margin-bottom: 5rem;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
  > div > p {
    font-size: 2.5rem !important;
    line-height: 3.5rem;
    font-weight: 300;
    color: #7e8890;
    text-align: center;

    span {
      color: #4f6477;
      font-weight: 400;
    }
  }
}
