@import "../../../sass/loader";
.TerminologySearch {
  @apply font-primary;
  text-align: center;
  margin-top: 12rem;
  & > div {
    position: relative;
    input {
      border: 1px solid #d8d8d8;
      border-radius: 8px;
      width: 100%;
      height: 4.6rem;
      padding: 2rem 4.5rem;
      font-size: 2rem;
      line-height: 2.7rem;
      @apply font-primary;
    }

    &::before {
      content: "";
      background-image: url(https://intuz-site.imgix.net/uploads/bi_search.png);
      width: 2.5rem;
      background-size: contain;
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
      height: 2.5rem;
    }
  }
  p {
    @apply font-primary;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 3.8rem;
  }
}

.Content {
  margin-top: 5rem;
  margin-bottom: 8rem;
  h3 {
    font-weight: 800;
    font-size: 5.8rem;
    line-height: 7.2rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
    @apply font-primary;
  }
  h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
    margin-top: 7rem;
    @apply font-primary;
  }
  h3 + h2 {
    margin-top: 0.5rem;
  }
  p {
    font-size: 1.8rem;
    @apply font-primary;
    line-height: 3.3rem;
    color: #262626;
    font-weight: 300;
    margin-bottom: 2rem;
    & + p {
      margin: 2rem 0;
    }
  }
}
