.rights{
    list-style: none!important;
    text-align: left;
}
ul.rights li::before{
    content: "";
    background: url("https://intuz-site.imgix.net/uploads/check_arrow-blog.png") no-repeat center center;
    margin-top: -1rem;
}

table.mytable thead{
    background: #F4F4F4;
}
table.mytable th{
    font-size: 2rem;
    line-height: 2rem;
    color: #333; 
    border-right: 2px solid #F4F4F4;
    padding: 1rem;
}
table.mytable{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
table.mytable td{
    padding: 1rem;
    font-size: 2rem;
    line-height: 3.5rem;
    color: #333; 
    font-weight: 300;
    border-collapse: collapse;
    border-right: 2px solid #F4F4F4;
}
table.mytable td[colspan="4"]{
    color: #3cecec;
    border-top: 2px solid #F4F4F4;
    border-bottom: 2px solid #F4F4F4;
    font-weight: 600;
    background: #ddd;
}