@import "../../sass/loader";
.Blog {
  padding-top: 6rem;
  padding-bottom: 6rem;
  @apply font-primary;
  overflow-x: hidden;
  p {
    font-weight: 300;
    line-height: 4.2rem;
    font-size: 2.2rem;
    color: #3a3a3a;
    padding-bottom: 4rem;
    @media print {
      padding-bottom: 2rem;
    }
    &:first-of-type {
      &::first-letter {
        font-size: 4.2rem;
        font-weight: 600;
        vertical-align: bottom;
        line-height: 5.2rem;
      }
    }
  }
  ol {
    font-weight: 300;
    line-height: 4.2rem;
    font-size: 2.2rem;
    color: #3a3a3a;
    padding-bottom: 4rem;
    margin-left: 4rem;
    @media print {
      padding-bottom: 2rem;
    }
  }
  a {
    text-decoration: none;
    font-weight: 300;
    font-size: inherit;
    color: #734f7f;
    line-height: inherit;
    cursor: pointer;
  }
  h2 {
    font-size: 3.6rem;
    line-height: 4rem;
    color: #3a3a3a;
    font-weight: 700;
    padding-bottom: 4rem;
    @media print {
      padding-bottom: 2rem;
    }
  }

  h4 {
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 2.9rem;
    color: #3cecec;
    padding-bottom: 4rem;
    @media print {
      padding-bottom: 2rem;
    }

    &::before {
      content: "";
      background: url("https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/guide-detail/fille-tick.png")
        no-repeat center center;
      background-size: cover;
      display: inline-block;
      width: 3rem;
      height: 3rem;
      margin-bottom: -0.5rem;
      margin-right: 1rem;
    }
  }

  h5 {
    font-size: 2.6rem;
    line-height: 2.9rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 4rem;
    @media print {
      padding-bottom: 2rem;
    }
    span {
      font-weight: 300;
    }
    p,
    p:first-of-type::first-letter {
      text-align: left;
      font-size: 2.4rem;
      line-height: 2.6rem;
      font-weight: 500;
      padding-bottom: 0;
      vertical-align: baseline;
      margin-bottom: 0;
    }
  }
  h6 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #734f7f;
    padding-bottom: 4rem;
    @media print {
      padding-bottom: 2rem;
    }

    span {
      color: #3cecec;
    }
    em {
      font-style: normal;
      font-size: 2.2rem;
    }
  }
  h2 ~ img {
    height: 8rem;
  }
  ul {
    list-style: none;
    margin-left: 2rem;
    li {
      font-size: 1.8rem;
      line-height: 2.6rem;
      color: #3a3a3a;
      padding-bottom: 3.5rem;
      @media print {
        padding-bottom: 2rem;
      }
      P {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        display: inline;
        font-weight: normal;
      }
      &::before {
        content: "";
        background: url("https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/guide-detail/leftarrow_img.png")
          no-repeat center center;
        background-size: contain;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        margin-bottom: -0.8rem;
        margin-right: 1.3rem;
      }
    }
  }
  span em {
    color: #a4a4a4;
    font-weight: 600;
    text-align: center;
    font-size: 2.2rem;
  }
  div {
    text-align: center;
    padding-bottom: 4rem;
    @media print {
      padding-bottom: 2rem;
    }
    img {
      text-align: center;
      max-width: 100%;
    }
    section {
      text-align: left;
      border-left: 2px solid #00ffff;
      padding-left: 3rem;
      font-style: italic;
      span {
        display: block;
        padding-bottom: 2rem;
        @media print {
          padding-bottom: 2rem;
        }
        font-weight: 300;
        line-height: 4.2rem;
        font-size: 2.2rem;
      }
    }
  }
}
