.TrustedSection{
    margin: 8rem 0;
    .ClientLogos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .ClientLogo{
            width: auto;
            display: inline-block;
        }
    }

}
.ClientLogo{
    height: 110px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    //width: auto;
    max-width: 100%;
    // margin: 4rem;

    img{
        margin: 0 auto;
        transform: translateY(0);
        transition: transform 0.5s ease-in;
        max-width: 100%;

    }
    &:hover{
        img{
            transform: translateY(-110px);
        }
    }
}

.trusted_slider {
    > div  > div > div{
        display: inline-block !important;
        margin: 0 5rem;
    }
}