
@import '../../../sass/loader';

.EngagementSection{
    padding: 8rem 0;
    color: #fff;

    @include respond(phone) {
        text-align: center;
    }
    @include respond(tab-land){
        text-align: center;
    }
}
