@import "../../sass/loader";
.Content {
  @apply font-primary;
  margin-top: 8rem;
  @media (max-width: 991px) {
    margin-top: 5rem;
  }
  @media (min-width: 768px) {
    margin-left: 3rem;
  }
  > div {
    @media (min-width: 768px) {
      margin: 0rem 3rem 0 3rem;
    }
    @media (min-width: 1145px) {
      margin: 0rem 1rem 0 1rem;
    }
    text-align: center;
    @media (max-width: 991px) {
      margin-bottom: 6rem;
    }
    > div {
      min-width: 12rem;
      min-height: 12rem;
      img {
        max-width: 100px;
      }
    }
    h4 {
      font-size: 2.6rem;
      color: #606674;
      font-weight: 400;
      line-height: 2.9rem;
      @media (max-width: 991px) {
        font-size: 2rem;
      }
    }
    img {
      max-width: 95px;
      max-height: 100px;
    }
  }
}
