@import '../../../../sass/loader';

.HeroSection{
    background: rgba(18,31,48,1);
    background: linear-gradient(135deg, rgba(14,55,104,1) 0%, rgba(14,55,104,1) 3%, rgba(117,85,166,1) 60%, rgba(168,99,197,1) 88%);
    padding: 18rem 0 0; 
    @include respond(phone) {
        padding: 10rem 0 0; 
    }
    .FlexContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond(phone) {
            flex-direction: column-reverse;
        }
    }
    .image{
        flex: 1;
        align-self: flex-end;
        img{
            max-width: 100%;
            max-height: 70rem;
            @include respond(phone) {
                max-height: 40rem;
            }
        }
        @include respond(phone) {
            align-self: center;
        }
    }
    .Content{
        flex: 1;
        margin-left: 8rem;
        align-self: center;
        padding: 8rem;
        img{
            max-width: 100%;
            @include respond(phone) {
                max-width: 50px;
            }


        }
        h1{
            font-size: 4.8rem;
            line-height: 5.2rem;
            color: #fff;
            font-weight: 700;
            margin: 2.5rem 0;
        }
        p{
            font-size: 2.4rem;
            line-height: 3.3rem;
            color: #fff;
            font-weight: 300;
            b{
                font-weight: 700;
            }
        }
        @include respond(phone) {
            text-align: center;
            padding: 0;
            margin-left: 0;
        }
    }
}