
@import '../../../sass/loader';

.TextContent {
    color: #7e8890;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 300;
    padding: 3rem 0;

    @include respond(phone) {
        font-size: 2.2rem;
        line-height: 4rem;
        padding-top: 2rem;
    }

    span {
        color: #684574;
        font-weight: 400;
    }
}