@import "../../sass/loader";
.TabHeading {
  @apply font-primary;
  margin: 8rem 0;
  .Heading {
    h4 {
      color: #506478;
      font-size: 2.2rem;
      line-height: 24px;
      font-weight: 400;
      display: inline-block;
      @include respond(phone) {
        font-weight: 600;
      }
      @media (max-width: 520px) {
        width: 100%;
        margin-bottom: 2rem;
        font-size: 2.4rem;
      }
    }
    @media (max-width: 520px) {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    span {
      float: right;
    }
    //padding: 2rem;
    padding: 2rem 2rem 3rem 2rem;
    margin-bottom: 1.5rem;
    //cursor: pointer;
    background: #f8f8f8 !important;
    a {
      padding: 4px 30px;
      background: #62eeee;
      font-size: 2rem;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-weight: 600;
      float: right;
      &:hover {
        text-decoration: none;
      }
      @media (max-width: 520px) {
        float: left;
        margin: auto;
        float: inherit;
      }
    }
  }
}

// .Content {
//     padding: 2rem;
//     div {
//         font-size: 2rem;
//         font-weight: 400;
//         color: #7e8890;
//         margin-top: 2rem;

//         strong {
//             color: #506478;
//             font-weight: 600;
//             font-size: 1.8rem;
//             line-height: 3.5rem;
//         }

//         @include respond(phone) {
//             font-size: 2.2rem;
//             strong {
//                 font-size: 2.2rem;
//             }
//         }

//         ul {
//             list-style: none;
//             li {
//                 margin-bottom: 2rem;
//                 background: url(https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/careers/jobdescription_li_bg.png) left 10px no-repeat;
//                 padding-left: 30px;
//             }
//         }
//         a {
//             margin-top: 2rem;
//             padding: 5px 30px;
//             background: #62eeee;
//             font-size: 22px;
//             color: #fff;
//             border: none;
//             border-radius: 5px;
//             font-weight: 600;
//             &:hover{
//                 text-decoration: none;
//             }
//         }
//     }
// }
