
@import '../../sass/loader';

.iconGrp {
    @media (min-width: 768px) {    
        display: flex;
        justify-content: space-around;
    }
    padding: 5rem 0;
    span {
        display: block;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    @include respond(phone) {
        display: inline-block;
        >div {
            width: 50%;
            float: left;
            margin-bottom: 2rem;
        }
    }
}