.HighlightBlock{
    color: #fff;
    padding: 3rem;
    img, svg{
        max-width: 100%;
        margin-left: 1rem;
    }
    h3{
        font-size: 2.5rem;
        margin: 3rem 0;
        font-weight: 300;
    }
}