@import "../../sass/loader";

.SectionBanner {
  @apply font-primary;
  background-size: cover !important;
  min-height: 100vh;
  height: auto;
  color: #fff;
  //padding-top: 10rem;
  display: flex;
  flex-direction: column;

  @include respond(phone) {
    padding-top: 0;
  }

  div.Content {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: baseline;
    padding-right: 45rem;
    padding-bottom: 4rem;

    @include respond(phone) {
      align-items: center;
      text-align: center;
    }

    &.ServiceContent {
      h1 {
        font-size: 5rem;
        font-weight: 600;
        margin-bottom: 2rem;
        line-height: 6.5rem;
        width: 80%;
        @include respond(tab-land) {
          font-size: 4rem;
          line-height: 5rem;
        }
        @include respond(phone) {
          font-size: 3rem;
          line-height: 4.5rem;
          width: 100%;
        }
      }
      h3 {
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 3rem;
        width: 80%;
        @include respond(phone) {
          font-size: 2.5rem;
          width: 100%;
          margin-bottom: 2rem;
        }
      }
      p {
        font-size: 2rem;
        font-weight: 300;
        width: 80%;
        margin-bottom: 3rem;
        @include respond(phone) {
          margin-bottom: 2rem;
        }
      }
    }
    &.whyus,
    &.contactus {
      padding-right: 60rem;
      h3,
      h1 {
        width: 100%;
      }
    }
    &.whyus {
      @include respond(big-desktop) {
        padding-right: 90rem;
      }
    }
    &.contactus {
      @include respond(big-desktop) {
        padding-right: 100rem;
      }
      @include respond(tab-land) {
        padding-right: 70rem;
      }
    }

    @include respond(tab-port) {
      padding-right: 1.5rem !important;
    }
  }

  &.spaceAfter {
    margin-bottom: 10rem;
  }
}

.list {
  ul {
    list-style: none;
    li {
      position: relative;
      padding-left: 3rem;
      &::before {
        @apply hidden md:inline-block;
        position: absolute;
        top: 0;
        left: 0;
        content: url("https://intuz-site.imgix.net/uploads/Icon_Path_49bd1d191d.png?auto=format");
      }
    }
  }
}
