@import '../../../sass/loader';
.Migration{
    font-size: 1.6rem;
    margin-top: 4rem;
    justify-content: center;
    @include respond(phone) {
        flex-direction: column;
    }
    p{
        width: 13rem;
        margin-top: 2rem;
        text-align: center;
    }
}
.Diagram{
    position: relative;
    img{
        max-width: 100%;
    }
    &__UP{
        display: inline-block;
        text-align: center;
    }
    &__DOWN{
        display: inline-block;
        text-align: center;
        margin-left: 0rem;
    }
    &__ARL{
        position: absolute;
        top: 37%;
        left: -3rem;
    }
    &__ARR{
        position: absolute;
        top: 25%;
        left: 48%;
        z-index: -1;
        img{
            max-width: max-content;
        }
    }
}
.ArrowRight{
    margin: 0 8rem;
    @include respond(phone) {

        transform: rotate(90deg);
        padding: 4rem;
    }

}

.Consultant, .DisasterRecovery{
    text-align: center;
    margin: 5rem 0;
    .image{
        width: 6rem;
        height: 5rem;
        margin: 0 auto;
        img{
            max-width: 100%;
        }
    }
    h3{
        font-size: 3.2rem;
        padding: 2rem 0;
        line-height: 3.2rem;
    }
    p{
        font-weight: 300;
        font-size: 2.5rem;
        line-height: 3.4rem;
        text-align: center;
        letter-spacing: 0.05px;

        color: #4F4F4F;
    }
}

.CostAnalysis{
    margin: 5rem 0;
    h4{
        font-size: 3.2rem;
        padding: 1rem 0;
    }
    .image{
        width: 15rem;
        height: 15rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 100%;
        }
    }
    h5{
        font-size: 2rem;
        color: #262626;
        width: 80%;
        margin: 2rem auto 0;
    }
}