

@import '../../sass/loader';

.ContentBlock {
    @media (min-width:768px) {
        display: flex;
        align-items: center;
    }
    >div {
        flex: 1;
        img { 
            max-width: 100%;
        }
        .contentText {
            img {
                margin-bottom: 2rem;
            }
            h4 {
                border-bottom: 1px solid #dedede;
                color: #131313;
                font-size: 2.5rem;
                line-height: 3rem;
                font-weight: 400;
                margin-bottom: 10px;
                span {
                    border-bottom: 1px solid #e5900b;
                    padding: 4px 0;
                    display: inline-block;
                }
            }
            p{
                color: #3b3b3b;
                font-size: 15px;
                line-height: 2.2rem;
            }

            @include respond(phone) {
                padding-bottom: 5rem;
            }
        }
    }
}