
@import '../../../../sass/loader';

.ForecastSection{
    background-color: #0F304D;

    padding-top: 7rem;
    position: relative;
    &>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    // .img{
    //     // margin-bottom: -10rem;
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     transform: translate(-50%,0);
    //    img{
    //        max-width: 100%;
    //    }
    // }

    h3 {
        @include respond(phone) {
            font-size: 2.8rem;
            line-height: 3rem;
        }
    }
}