
@import '../../../sass/loader';

.Marketing {
    padding-bottom: 10rem;

    @include respond(phone) {
        padding-bottom: 6rem;
        text-align: center;
    }

    h2 {
        color: #3bebeb;
        font-size: 5rem;
        font-weight: 600;
        line-height: 5rem;
        display: inline-block;
        @include respond(phone) {
            font-size: 3rem;
        }
    }

}