@import '../../../sass/loader';
.CloudBlog{
    
    h2{
        color: #D2D2D2;
        text-align: center;
        font-size: 6.5rem;
        margin-bottom: 4rem;
        margin-top: 8.9rem;
        @include respond(tab-land) {
            font-size: 5.5rem;
            line-height: 7.9rem;
        }

        @include respond(tab-port) {
            font-size: 4.5rem;
            line-height: 6.9rem;
        }
        @include respond(phone) {
            font-size: 4.0rem;
            line-height: 6.4rem;
        }
    }

    h4{
        color: #262626;
        font-size: 3.5rem;
        line-height: 4.8rem;
        font-weight: normal;
        padding: 1rem 0;
        @include respond(tab-land) {
            font-size: 3.2rem;
            line-height: 4.6rem;
        }

        @include respond(tab-port) {
            font-size: 3.0rem;
            line-height: 4.4rem;
        }
        @include respond(phone) {
            font-size: 2.8rem;
            line-height: 4.2rem;
        }
    }

    p{
        font-size: 2rem;
        color: #828282;
        font-weight: normal;
        line-height: 3.5rem;
        margin-bottom: 3rem;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    ul{
        padding-left: 5rem;
        list-style-type: circle;
        font-size: 2rem;
        color: #828282;
        font-weight: normal;
        
        li{
            padding-bottom: 3rem;
            padding-left: 2rem;
        }
        @include respond(phone) {
            padding-left: 3rem;
            li{
                padding-left: 1rem;
            }
        }
    }
    
}