@import "../../../sass/loader";

.ResourceArticleContainer {
  margin: 10rem 0;
  a {
    text-decoration: none !important;
    color: inherit;
  }
  .Image {
    border: 1px solid #efefef;
    padding: 1rem;
    display: inline-block;
    opacity: 0;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1);
    img {
      max-width: 100%;
      display: inline-block;
    }
  }
  h2 {
    font-size: 2.8rem;
    line-height: 4.2rem;
    color: #3a3a3a;
    font-weight: 700;
    @apply font-primary;
    @include respond(phone) {
      font-size: 2.5rem;
    }
  }
  p {
    font-size: 2rem;
    line-height: 3.8rem;
    @apply font-primary;
    color: #3a3a3a;
    margin-bottom: 2rem;
  }

  .btn {
    padding: 0.9rem 2.7rem;
    font-size: 1.6rem;
    // background: #f0f0f0;
    @apply font-primary;
    color: #a4a4a4;
    // transition: all 0.3s ease;
    display: inline-block;
    border-radius: 20rem;
    margin-bottom: 1rem;

    // color: transparent;
    background-image: linear-gradient(
      90deg,
      #f0f0f0 0%,
      #f0f0f0 49.99%,
      #3cecec 50%,
      #3cecec 100%
    );
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 200%;
    transition: all 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    &:hover {
      background-position: 100%;
      color: #fff;
      // transform: scale(1.05);
    }
  }

  .content {
    opacity: 0;
    @include respond(phone) {
      margin-top: 3rem;
    }
  }
}
