
@import '../../../../sass/loader';
.Content{
    text-align: center;
    padding: 3rem 1rem;
    @include respond(phone){
        padding: 1rem 1rem;
    }
    div{
        width: 6rem;
        height: 6rem;
        margin: auto;
    }
    h3{
        font-size: 3.2rem;
        color: #262626;
        line-height: 4.4rem;
        margin-bottom: 1rem;
    }
    p{
        font-size: 2.5rem;
        color: #4F4F4F;
        font-weight: 300;
        // max-width: 80%;
        margin: 1.9rem auto;
        line-height: 3.4rem;
        @include respond(phone){
            max-width: 100%;
        }
    }
    img{
        max-width: 100%;
        // margin-bottom: 1rem;
    }
}