
@import '../../../../../sass/loader';

.collapseButton{
    align-self: flex-end;
    background:  transparent;
    position: relative;
    float: right;
    width: 40px;
    height: 35px;
    padding: 0.9rem 10px;
    // margin-top: 8px;
    // margin-right: 15px;
    border-radius: 4px;
    display: block;
    z-index: 98;
    &.bordered {
        border: 1px solid #000;
    }
    span:first-child{
        top: 10px;
    }
    span:last-child{
        top:24px;
    }
    span{
        width: 20px;
        height: 2px;
        background: #000;
        transition: all 0.3s ease-in;
        @include absCenter;
        
        &.leftClose {
            transform: rotate(45deg);
            width: 25px;
            background: #fff;
        }
        &.rightClose {
            transform: rotate(135deg);
            top: 10px;
            width: 25px;
            background: #fff;
        }
    }
    svg {
        stroke: #fff;
        fill: #fff;
    }
}