
.ComponentCareerWhoIntuzianSection{
    text-align: center;
    margin-top: 8rem;
    h3{
        font-weight: bold;
        font-size: 2.8rem;
        line-height: 3.8rem;
        letter-spacing: 3.85319px;
        text-transform: uppercase;
        color: #262626;
    }
    p{
        font-style: normal;
        font-weight: 600;
        font-size: 19.967px;
        line-height: 27px;
        color: #828282;
    }
}