
@import '../../../sass/loader';

.TextContent {
    color: #7e8890;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 300;
    padding-top: 3rem;
    
    @include respond(phone) {
        font-size: 2.4rem;
        line-height: 4rem;
        padding-top: 2rem;
    }
   img {
       margin-top: 10rem;
       max-width: 100%;
   }
}