@import "../../../sass/loader";
.CtaSection {
  padding: 10rem 0;
  @apply font-primary;
  text-align: center;
  h3 {
    font-size: 4.8rem;
    line-height: 5.3rem;
    color: #0e1f2f;
    font-weight: 400;
    margin: 1rem 0;
    strong {
      font-weight: 600;
    }

    @include respond(phone) {
      font-size: 2.8rem;
      line-height: normal;
    }
  }
  p {
    font-size: 2.8rem;
    line-height: 3.6rem;
    color: #4a4a4a;
    margin: 2rem 0 4rem;
    font-weight: 400;

    @include respond(phone) {
      font-size: 2.2rem;
      line-height: 4rem;
    }
  }
}
