@import "../../sass/loader";

.AgencyBlock {
  @apply font-primary;
  div {
    &.topBlock {
      div {
        @media (min-width: 768px) {
          display: flex;
          align-items: center;
          p {
            padding-left: 2rem;
          }
        }
      }
      margin-bottom: 8rem;
    }
    &.bottomBlock {
      text-align: center;
      @media (min-width: 768px) {
        p {
          padding-top: 2rem;
        }
      }
    }
    .content {
      @include respond(phone) {
        text-align: center;
      }
      div {
        min-height: 18rem;
        img {
          max-width: 20rem;
        }
      }
      p {
        font-size: 2.2rem;
      }

      @media (max-width: 575px) {
        margin-bottom: 5rem;
      }
    }
  }
}
