@import "../../../../sass/loader";
.ResourcesMain {
  padding: 8rem 0;
  h2 {
    @apply font-nunito;
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    color: #262626;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
  p {
    @apply font-nunito;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #4f4f4f;
    @include respond(phone) {
      margin-top: 1rem;
      font-size: 1.8rem;
    }
  }
  .iotResourcesList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 3rem;
    margin-top: 7.2rem;
    @include respond(phone) {
      grid-template-columns: 1fr;
      gap: 4rem 0;
    }
  }
  .imgIot {
    width: 100%;
    height: auto;
    border-radius: 2%;
    margin-bottom: 1.6rem;
  }
  .ptitle {
    @apply font-nunito;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    color: #262626;
    line-height: 1.5;
    @include respond(phone) {
      margin-top: 2rem;
      font-size: 2.4rem;
      text-align: center;
      margin-bottom: 6rem;
    }
  }
}
