@import '../../sass/loader';
.FormContainer{
    @media (min-width:992px) {
        display: flex;
        justify-content: center;    
        flex-direction: column;
    }
    & > div {
        padding-top: 0;
        @media (min-width:992px) {
            margin: 3rem;
        }
    }
    .Detail {
       flex: 1;

       color: #546c80 !important;
       padding: 2.5rem;
        padding-top: 5rem;
       @media (min-width:768px) {
            display: flex;
       }

       address {
           flex: 1;
           padding-top: 2rem;
           h2 { font-weight: 600; }
           p {
                color: #546c80;
                text-align: left;
                font-size: 18px;
                font-weight: 400;
                margin: 1.5rem 0 2.5rem 0;
                position: relative;
                padding-left: 3rem;
                background: url(https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/2017/ic_location.svg) 0 8px no-repeat;
                @media (max-width:767px) {
                    text-align: center;
                    display: inline-block;
                    text-align: left;
                    margin: 1.5rem 1rem 2.5rem 1rem;
                    line-height: 3rem;
                }
                @media (max-width:484px) {
                    margin-left: 0;
                    margin-right: 0;
                }

                &.Contact {
                    background: url(https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/2017/ic_phone.svg) 0 4px no-repeat;
                    a{
                        color: #3cecec;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
           }
           @include respond(phone) {
                text-align: center;
            }
       }
    }
}