
@import '../../../sass/loader';
.RadProcess {
    >div {
        padding: 5rem 5rem 0 5rem;
        @include respond(tab-land){
            padding: 2rem 2rem 0 2rem;
        }
        @include respond(phone) {
            margin-bottom: 2rem;
        }
        .imageBlock {
            display: flex;
            margin-bottom: 5rem;
            @include respond(phone) {
                width: 170px;
                height: 170px;
                margin: auto;
                margin-bottom: 1rem;
            }
            
            >div {
                width: auto;
                margin: auto;
                img {
                    max-height: 30px;
                    margin: auto;
                    margin-left: -1px;
                }
                &.image {
                    border: 1px solid #d6d8db;
                    border-radius: 27px;
                    padding: 3rem 0;
                    flex: 1;
                    img {
                        max-width: 114px;
                        max-height: 105px;
                    }
                }
            }
        }
        span {
            font-size: 20px;
            line-height: 2.4rem;
            color: #4a4a4a;
        }
    }
}