
@import '../../../sass/loader';

.GetNow{
    padding: 8.8rem 0;
    background: linear-gradient(to right, rgba(14,63,70,1) 0%, rgba(14,63,70,1) 20%, rgba(29,97,151,1) 83%, rgba(29,97,151,1) 100%);
    text-align: center;
    h2{
        font-size: 4.8rem;
        line-height: 6rem;
        color: #ffffff;
        font-weight: 600;
        margin-bottom: 4rem;
    }
    p{
        font-size: 2.4rem;
        line-height: 3.5rem;
        color: #fff;
        font-weight: 300;
        margin-bottom: 3.8rem;
    }

    &.whiteback {
        background: #fff;
        h2 {
            color: #000000;
        }
        p {
            color: #7e8890;
        }
    }
    @include respond(phone) {
        padding: 6rem 0;
        h2 {
            font-size: 3rem;
        }
    }
}