@import "../../../../sass/loader";
.ComponentLetsConnect {
  padding: 5rem 0;
  .boxstyle {
    box-shadow: 0px 0px 18px #ebebeb;
    border-radius: 5px;
    margin: 0 10rem;
    padding: 2rem 5rem;
    text-align: center;
    span {
      font-size: 5rem;
      // font-size: clamp(2.8rem, 5rem, 4rem);
      line-height: 8rem;
      text-align: center;
      color: #000000;
    }
    a {
      color: #000000 !important;
    }
  }
  @include respond(tab-port) {
  }

  @include respond(small-phone) {
    .boxstyle {
      margin: 0;
      span {
        font-size: 2.8rem;
        line-height: 3.8rem;
      }
    }
  }
}
