@import "../../../../sass/loader";
.clientsSection {
  padding: 8rem 0;
  h2 {
    @apply font-nunito;
    font-size: 4.8rem;
    font-weight: 700;

    line-height: 72px;
    color: #262626;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
  p {
    @apply font-nunito;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;

    color: #4f4f4f;
    @include respond(phone) {
      font-size: 1.75rem;
    }
  }
}
.swiperContainer {
  margin-top: 7.2rem;

  .itemList {
    & > div {
      background-color: #f8f8f8;
      display: flex;
      flex-direction: row;
      padding: 8rem;

      margin: 5rem 0;
      @include respond(phone) {
        flex-direction: column;
        flex-basis: auto;
        padding: 4rem;
      }
      .singltext {
        @apply font-lato;
        font-size: 9rem;
        font-weight: 800;
        line-height: 1.36;
        margin-top: -1rem;
        color: #23e3e3;
        margin-right: 10px;
      }
      .ptextClient {
        @apply font-nunito;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 2;
        flex-basis: 70%;
        @include respond(phone) {
          font-size: 2.25rem;
        }
      }
      img {
        width: 5.6rem;
        height: 5.6rem;
        padding: 25px;
        @include respond(phone) {
          margin-left: 5px;
        }
      }
      > div {
        p {
          @apply font-lato;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1;
          @include respond(phone) {
            font-size: 2.25rem;
          }
        }
        span {
          @apply font-lato;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.7;
          // background-color: red;
          @include respond(phone) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.bullet {
  background-color: #23e3e3;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.active {
  width: 14px;
  height: 14px;
  border: 3px solid #23e3e3;
  background-color: transparent;
}

.clickable {
  display: flex;
  align-items: center;
  justify-content: center;
}
