@import '../../../sass/loader';
.Perk{
    // display: flex;
    // justify-content: center;
    // // align-items: center;
    // flex-direction: column;
    text-align: center;
    font-size: clamp(1.325rem,2vw,2.2rem);
    line-height: clamp(2.21625rem,2.3vw,3rem);

    // border: solid;
    img{
        // width: 5rem;
        height: 6rem;
        display: inline-block;
    }
    p{
        max-width: 90%;
        margin: 2rem auto 0;
    }

    @include respond(phone) {
       text-align: 1.625rem;
       line-height: 2.25rem;
       img{
           height: 4rem;
       }
       p{
           max-width: 100%;
       }
       
    }
}