@import "../../../sass/loader";

.SectionForm {
  @apply font-primary;
  padding-top: 10rem;
  @include respond(phone) {
    padding-top: 6rem;
  }
  p {
    color: rgba(79, 100, 121, 0.3);
    text-align: center;
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 3.5rem;
  }
}
