
@import '../../../../sass/loader';

.FeatureSection{
    padding-bottom: 10rem;
    p{
        font-size: 2.4rem;
        line-height: 3.3rem;
        font-weight: 300;
        color: #888888;
        text-align: center;
        margin-bottom: 8rem;
        @include respond(phone) {
            font-size: 2rem;
            line-height: 3.2rem;
            margin-bottom: 6rem;
        }
    }

    @include respond(phone) {
        padding: 6rem 0;
        h3 {
            font-size: 2.7rem;
            line-height: 3rem;
        }
    }
}