@import "../../../../sass/loader";
.Toolbar {
  // border: 1px solid;
  @media print {
    display: none;
  }
  .HeaderContainer {
    display: flex;
    align-items: center;
  }
  background-color: #fff;
  padding: 1.5rem 0;
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  transition: background-color 0.2s ease-in;

  &.sticky {
    box-shadow: 3px 4px 3px 1px #eee;
    background-color: #fff;
  }

  @media (max-width: 767px) {
    justify-content: space-between;
    padding: 1.5rem 3rem;
    display: flex;
  }
  .Logo {
    width: 12rem;
    // margin-top: 1rem;
    cursor: pointer;
    z-index: 98;
    margin-right: auto;
  }
}
.getStrd {
  position: relative;
  font-weight: 400;
  margin-left: 5rem;
  padding: 0.5rem 1rem;
  position: relative;
  @include respond(tab-port) {
    margin-left: 2rem;
  }
}

.getStarted {
  background: #684574;
  // background-image: linear-gradient(-90deg, #684574 0%, #684574 49.99%, #3cecec 50%, #3cecec 100%);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 200%;
  background-position: 100%;
  // transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  border-radius: 4px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  @apply font-primary;
  color: #fff;
  border: none;
  outline: none;
  transition: background 0.5s ease-in;
  &:hover {
    background: #3cecec;
    // background-position: 0%;
    // color: #000;
    // transform: scale(1.1);
  }
  @include respond(phone) {
    margin-left: 0;
    font-size: 2rem;
  }

  &.Mobileview {
    padding: 1.2rem 0;
    width: 75%;
  }
}
