@import "../../sass/loader";

.SingleBlogBlock {
  display: flex;
  padding: 5rem 0;
  flex-wrap: wrap;
  @apply font-primary;
  margin-right: -15px;
  margin-left: -15px;
  @include respond(phone) {
    padding-top: 0px;
  }
}

.blogBlock {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  @apply font-primary;
  flex: 1;
  h3 {
    font-size: 2.4rem;
    margin: 2rem 0 3rem 0;
    a {
      color: #212529;
      text-decoration: none;
    }
  }
  img.blockImage {
    margin-bottom: 2rem;
    border-radius: 8px;
    width: 100%;
    max-height: 350px;
    @include respond(phone) {
      max-height: 250px !important;
    }
  }
  @include respond(tab-port) {
    flex: 0 0 33%;
    width: 33%;
  }
  &.singleItem {
    flex: 0 0 50%;
    width: 50%;
  }
  @include respond(tab-land) {
    flex: 0 0 50%;
    width: 50%;
  }
  @media (max-width: 575px) {
    flex: 0 0 100% !important;
    width: 100% !important;
    //padding: 2rem 0px;
  }
  &.filterBlog {
    flex: 0 0 100%;
    width: 100%;
    img.blockImage {
      max-height: 250px !important;
    }
  }

  @media (min-width: 1201px) {
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
    }
  }
}
