@import "../../../../../sass/loader";

.ListBlock {
  @apply font-primary;
  div {
    @media (min-width: 992px) {
      flex: 0 0 100%;
      max-width: 20%;
    }
    @media (min-width: 1260px) {
      padding-left: 0;
    }
  }

  li {
    text-transform: uppercase;
    list-style: none;
    text-align: left;
    font-size: 15px;
    padding: 0.8rem 0;
    @media (max-width: 767px) {
      font-size: 13px;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: #2e3b48;
      transition: color 0.3s ease;
      &:hover {
        color: $primary-blue;
      }
    }
  }
  .Title {
    @media (max-width: 767px) {
      font-size: 16px;
      text-align: center;
    }

    font-size: 1.8rem;
    color: #546c80;
    font-weight: 600;
    text-transform: uppercase;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
}
