@import "../../../sass/loader";
.InputContainer {
  position: relative;
  margin-top: 1.5rem;

  label {
    font-size: 1.6rem;
    @apply font-primary;
    font-weight: 300;
    display: block;
    background: transparent;
    position: absolute;
    z-index: 3;
    width: auto;
    top: 10px;
    transition: top 0.3s ease;
    &:hover {
      cursor: text;
    }
    img {
      height: 20px;
      width: 20px;
      margin-right: 5px;
    }
    span {
      color: #dadada;
      padding-left: 2px;
    }
  }
  .Input {
    width: 100%;
    display: block;
    @apply font-primary;
    font-weight: 300;
    font-size: 1.6rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 0;
    // min-height: 3.5rem;
    margin-bottom: 2rem;
    outline: 0;
    border-bottom: 1px solid #d2d2d2;
    background: transparent;
    transition: border 0.3s ease;
    &:focus {
      border-bottom: 2px solid $primary-blue;
    }
    &:focus ~ label {
      top: -10px;
    }
    &:not(:placeholder-shown) ~ label {
      top: -10px;
    }
    &.Invalid {
      border-bottom: 2px solid red;
    }
  }
  img {
    float: right;
    width: 100px;
  }
  ul {
    padding: 2rem;
    list-style: none;
    color: #7d7d7d;
    text-align: center;
    li {
      line-height: 16px;
      font-size: 14px;
      text-align: initial;
      padding: 3px 0;
      margin-left: 20px;
      span {
        background: url("/static/Images/icons/ic_close.svg");
        display: inline-block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: 20px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
    img {
      height: 20px;
      width: 20px;
      float: left;
    }
  }
}
