
@import '../../sass/loader';

.TabTitle {
    a {
        font-size: 2rem;
        line-height: 3rem;

        &.active {
            color: #e5900b !important;
        }
        padding: 0 15px;
    }
    border-bottom: 1px solid #dedede;
    width: 70%;
    float: right;
    cursor: pointer;
    padding: 15px 0;

    @include respond(large-tab-port) {
        float: none;
        margin: auto;
        text-align: center;
        width: 100%;
    }
}

.TabContent {
    >div {
        flex: 0.5;
        &.imageGrp {
            flex: 1.5;
            padding: 20px 0  0 5rem;
            div{
                display: inline-block;
                min-width: 80px;
                text-align: center;
                margin-bottom: 20px;
                span {
                    display: block;
                    padding-top: 12px;
                    font-size: 12px;
                }
            }
            @include respond(large-tab-port) {
                padding-left: 0px;
                div {
                    max-width: 80px;
                }
            }
        }
        img {
            max-width: 100%;
        }
    }
    @media (min-width:992px) {    
        display: flex;
        width: 100%;
    }
    @include respond(large-tab-port) {
        text-align: center;
        >div {
            padding-top: 4rem;
            &.mobileImg {
                img {
                    width: 200px;
                }
            }
        }
    }

}