@import "../../../sass/loader";

.Partners {
  @apply font-primary;
  padding: 8rem 0;
  background: #fcfcfc;

  .PartnerGroup {
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
    flex-wrap: wrap;

    div {
      text-align: center;
      img {
        max-width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 1rem;
      }
      h4 {
        font-size: 1.6rem;
        color: #2d2d2d;
        font-weight: 600;
      }
      @include respond(tab-land) {
        flex: 0 0 33.66%;
        max-width: 33%;
        margin-bottom: 3rem;
      }
      @include respond(phone) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media (max-width: 576px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    @include respond(phone) {
      justify-content: space-between;
    }
  }
}
