

@import '../../../../sass/loader';

.LanguageSection {
    padding : 10rem 0;
    text-align: center;
    background: #f5f5f5;
    h3 {
        padding-top: 5rem;
    }
    img {
        max-width: 100%;
    }
    @include respond(phone) {
        padding : 6rem 0;
        h3 {
            font-size: 3.1rem;
            line-height: 4rem;
        }
        p {
            font-size: 2rem;
            line-height: 3.2rem;
        }
    }
}