
@import '../../sass/loader';

.BannerContent {
    height: 100%;
    padding-top: 10rem;
    
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
    }

    div {
        flex: 1;
        text-align: center;
        height: 100%;
        &.leftContent {
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 3.5rem;
                line-height: 4rem;
                padding: 2rem 0;
                @include respond(phone) {
                    line-height: 3.5rem;
                }
            }
            img {
                @include respond(phone) {
                    max-width: 200px;
                }
            }
            .iconBlock {
                padding: 2rem 0;
            }
        }
        &.rightContent {
            img { 
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}