@import "../../../sass/loader";

.filterIcon {
  height: 70px;
  width: 70px;
  position: fixed;
  bottom: 120px;
  right: 16px;
  z-index: 50;
}
.categoryItem {
  list-style: none;
  font-size: 18px;
  width: 100%;
  position: relative;
  font-weight: 400;
  cursor: pointer;
  text-transform: capitalize;
  color: #fff;
  padding: 0.5rem 1rem 0.5rem 5rem;
  @apply font-primary;
  a {
    color: #fff;
    &.ActivePage {
      color: #0ff;
    }
  }
  &:first-child {
    padding: 0.5rem 1rem;
    font-size: 21px;
  }
}
