
@import '../../../sass/loader';

.PageBanner {
    min-height: 80vh;
    height: auto;
    color: #fff;
    padding-top: 10rem;
    text-align: center;
    display: flex;
    @include respond(tab-land) {
        padding-left: 15px;
    }
    @include respond(phone) {
        padding-top: 0;
    }
    &.iot-page {
        @media only screen and (max-width: 767px) and (min-width: 421px)  {
            text-align: initial;
            >div { align-items: baseline; }
        }
    }
    >div {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: baseline;
        padding-right: 45rem;   
        @include respond(tab-port) {
            padding-right: 1.5rem;   
        }
        @include respond(phone) {
            align-items: center;
        }
    }
    h1 {
        font-size: 8.5rem;
        font-weight: 600;
        letter-spacing: 3.27px;
        margin: 0;
        @include respond(phone) {
            letter-spacing: 2px;
            font-size: 5.5rem;
            margin: 10px 0;
        }
    }
    span {
        font-size: 4.5rem;
        font-weight: 300;
        letter-spacing: 5px;
        @include respond(phone) {
            letter-spacing: 3px;
            font-size: 3.5rem;
        }
    }
    p {
        font-size: 2rem;
        line-height: 3.5rem;
        font-weight: 300;
        margin-bottom: 0;
        letter-spacing: 1.5px;
    }
    
    &.devopes {
        h1 {
            letter-spacing: 8.27px;
            @include respond(phone) { letter-spacing: 2px; }
        }
        span { letter-spacing: 0; }
        p { letter-spacing: 2.8px; }
    }

    &.fullstack {
        span { letter-spacing: 3.5px; }
        p { letter-spacing: 2.5px; }
    }
    &.nodejs {
        p { letter-spacing: .9px; }
        span { letter-spacing: 3.5px; }
    }
    &.blockchain {
        h1 {
            letter-spacing: 7px;
            @include respond(phone) { letter-spacing: 2px; }
        }
        span { letter-spacing: 3px; }
        p { letter-spacing: 2.5px; }
    }
}