@import "../../sass/loader";
.title {
  font-size: 4.8rem;
  @apply font-primary;
  color: #0e1f2f;
  letter-spacing: 0.89px;
  font-weight: 600;
  padding-bottom: 1.5rem;
  @media (max-width: 980px) {
    font-size: 4rem !important;
  }
  @include respond(phone) {
    font-size: 3.2rem !important;
  }
}

.subtitle {
  color: #6b6b6b;
  letter-spacing: 0.82px;
  line-height: 4rem;
  text-align: center;
  @apply font-primary;

  @media (max-width: 980px) {
    font-size: 3rem !important;
    line-height: 3.5rem;
  }

  @media (max-width: 767px) {
    line-height: 3rem;
    font-size: 2.2rem !important;
  }

  &.UpdateText {
    font-weight: 300;
    span {
      font-weight: 500;
    }
  }
}
