.RoadMapSection{
    padding: 8rem 0;
    .Link{
        p{
            font-size: 2.7rem;
            line-height: 3.7rem;
        }
        a{
            font-size: 1.7rem;
            line-height: 2.3rem;
            font-weight: 700;
            color: #00C6CA;
        }
    }

}