@import "../../sass/loader";

.BlogAuthorBanner {
  background: #f9f9f9;
  @apply font-primary;

  > div {
    padding: 20rem 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      @include respond(phone) {
        max-width: 100px;
      }
    }
    > div {
      max-width: 50%;
      margin: 0 0 0 3rem;
      h1 {
        font-size: 3rem;
        font-weight: bold;
      }
      span {
        color: #515151;
        font-size: 1.5rem;
      }
      p {
        color: #515151;
        font-size: 2rem;
        margin-top: 0.5rem;
      }
    }

    @include respond(phone) {
      flex-direction: column;
      > div {
        max-width: 100%;
        text-align: center;
        margin: 2rem 0 0 0;
      }
    }
    svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: #c4c4c4;
      margin-right: 1rem;
    }
  }
}
