@import "../../sass/loader";

.breadcrumb {
  @apply font-primary;
  font-size: 14px;
  position: absolute;
  top: 100px;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);

  @include respond(phone) {
    top: 100px;
  }
  a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    padding: 0 1rem;
    &:hover {
      color: #3cecec;
    }
  }
}
