@import '../../../sass/loader';
.FlexContent{
    display: flex;
    padding: 10rem 0;
    align-items: center;
    &>div:first-child{
        flex: 1.2;
    }
    &>div:last-child{
        flex: 1;
        margin: 2rem 5rem;

    }
    img{
        max-width: 100%;
    }
    @include respond(phone){
        flex-direction: column !important;
        text-align: center;
    }
}