
@import '../../../sass/loader';

.TextContent {
    color: #2c2c2c;
    font-size: 2.6rem;
    line-height: 4.4rem;
    padding-top: 2rem;
    text-align: center;

    @include respond(phone) {
        font-size: 2.2rem;
        line-height: 4rem;
        padding-top: 2rem;
    }   
}