@import "../../sass/loader";

.DevContent {
  @apply font-primary;
  color: #606060;

  .ContentBlock {
    margin-top: 7rem;

    @media (min-width: 768px) {
      display: flex;
    }

    div {
      background-size: cover !important;
      padding: 3rem;
    }

    h4 {
      font-size: 3.6rem;
      line-height: 4rem;
      font-weight: 400;
      text-align: center;
    }

    span {
      font-size: 186px;
      line-height: 266px;
      font-weight: 600;
      color: #242424;
    }

    p {
      font-size: 2rem;
      line-height: 4rem;
      font-weight: 300;
    }
  }
}
