@import '../../sass/loader';

.FilterTabs{
    list-style: none;

    li{
        font-size: 2.2rem;
        line-height: 2.8rem;
        color: #b5b8bb;
        padding: 1.6rem 3rem;
        cursor: pointer;
        text-align: center;
        margin-bottom: 3rem;
        transition: all 0.3s ease-out;
        &.active{
            color: #333;
            background: #fff;
            box-shadow: 0 0 4px #ccc;
            @include respond(phone) {
                margin-bottom: 1rem;
            }
        }
        &.activeList {
            padding: 0;
        }
    }
    @media (min-width:768px) {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

.container{
    padding: 3rem 0;
    table {
        font-size: 18px;
        line-height: 2.6rem;
        color: #333333;
        border : 1px solid #F4F4F4;
        td, th {
            padding: 2.2rem 2.5rem;
            border-right : 1px solid #F4F4F4;
        }
        thead th{
            width: 33.3%;
            background-color: #F4F4F4;
        }
        tbody {
            tr {
                td:first-child {
                    font-weight: 700;
                }
            }
        }
        @include respond(phone) {
            text-align: left;
            thead th { display: none; }
            td, th {
                display: block;
                position: relative;
                padding-left: 50% !important;
                @media (max-width:520px) {
                    padding-left: 40% !important;
                    font-size: 16px;
                }
            }
            tbody tr {
                td:first-child {
                    font-weight: 400;
                }
            }
            td[data-th]:before  {
                content: attr(data-th);
                position: absolute;
                left: 0px;
                width: 40%;
                padding: 0 10px;
                font-weight: 700;
            }
            tr:nth-of-type(odd) {  background: #eee; }
        }
    }
  }