
@import '../../../sass/loader';

.AppDetail {
    margin-top: 8rem;
    .detailBlock {
        margin-bottom: 6rem;
        img { max-width: 100%;
        } 
        
        
        @media (min-width:768px) { 
            display: flex;
            align-items: center; 
            &.largeBlock div {
                flex: 1;
            }
            div.textBlock {
                flex: 2;
                padding-right: 5rem;
                text-align: left;
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
                .textBlock {
                    padding-left: 5rem;
                    padding-right: 0;
                }
            }
        }
        @include respond(tab-port) {
            >div {
                flex: 1 !important;
            }   
        }

        @include respond(phone) {
            text-align: center;
            margin-bottom: 5rem;
            .imageBlock {
                padding-top: 5rem;
            }
            &.priceblock .textBlock {
                text-align: left;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        
        h3 {
            font-size: 3.6rem;
            line-height: 4.9rem;
            color: #0e1f2f;
            font-weight: 600;
            padding: 3.5rem 0;
            @include respond(phone) {
                font-size: 3rem;
                line-height: normal;
            }
        }

        .descBlock {
            color: #2c2c2c;
            font-size: 2.3rem;
            line-height: 4.4rem;
            font-weight: 400;
            @include respond(phone) {
                line-height: 4rem;
            }
        }
        &.priceblock {
            .descBlock {
                color: #4a4a4a;
                ul {
                    list-style: none;
                    li {
                        position: relative;
                        padding-left: 30px;
                        line-height: 2.7rem;
                        margin-bottom: 1.7rem;
                        &:after {
                            content: "";
                            background: url('/static/Images/icons/blue_arrow.svg') no-repeat;
                            width: 15px;
                            height: 13px;
                            position: absolute;
                            left: 0px;
                            top: 10px;
                        }
                    }
                }
                h4 {
                    color: #000000;
                    font-weight: 400;
                    font-size: 2.3rem;
                    line-height: 2.7rem;
                    margin: 2rem 0;
                }
            }
        }
    }
}