
@import '../../../sass/loader';
.navigation_arrow  {
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;

    div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            position: absolute;
        }
        &.prev_arrow{
            img {
                top: 25px;
                left: -35px;
            }
        }
        &.next_arrow {
            float: right;
            img {
                top: 25%;
                right: -35px;
            }
        }
        div {
                width: 7rem;
                height: 7rem;
                padding: 2px;
                text-align: center;
                background:#F8F8F8;
                border-radius:50%;
                //transition: all 1s cubic-bezier(0,0,1,1);
                font-size: 12px;
                line-height: 2.3rem;
                color: #555555;
                cursor: pointer;
                float: left;

                &::before {
                    content:"";
                    position:absolute;
                    bottom:-0.5rem;
                    left:50%;
                    transform:translate(-50%,0) rotate(30deg);
                    transform-origin:top center;
                    width: 8rem;
                    height: 4rem;
                    background:none;
                    border:1px solid darken(#FAFBFB,10);
                    border-top:0px;
                    border-bottom-left-radius: 16.8rem * 2;
                    border-bottom-right-radius: 16.8rem * 2;  

                }
                &::after{
                    content:"";
                    position:absolute;
                    top:-0.5rem;
                    left:50%;
                    transform:translate(-50%,0) rotate(30deg);
                    width: 8rem;
                    height: 4rem;
                    background:none;
                    border:1px solid darken(#FAFBFB,10);
                    border-bottom:0px;
                    border-top-left-radius: 18rem * 2;
                    border-top-right-radius: 18rem * 2;  
                    transform-origin:bottom center;
                }

                &:hover {
                    background:#694775;
                    color: #fff;
                    &::before, &::after {
                        border:1px solid darken(#00ffff,10);
                    }
                    &::before {
                        border-top:0px;
                    }
                    &::after {
                        border-bottom:0px;
                    }
                }
        }
        
    }

    @include respond(phone) {
        max-width: 80%;
        margin: auto;
        div {
            &.prev_arrow img {
                top: 15px;
                left: -25px;
            }
            &.next_arrow img {
                right: -25px;
            }
        }
    }
}