@import "../../../sass/loader";

.CareerProcess {
  margin-top: 10rem;
  text-align: center;
  @apply font-primary;

  .careerBlock {
    margin-bottom: 4rem;
    img {
      max-width: 110px;
      max-height: 100px;
    }
    h2,
    p {
      font-weight: 400;
      color: #506478;
    }
    h2 {
      font-size: 2.8rem;
      margin: 1rem 0;
      @include respond(phone) {
        font-size: 3rem;
      }
    }
    p {
      font-size: 1.8rem;
      line-height: 2.5rem;
      @include respond(phone) {
        font-size: 2.5rem;
      }
    }
  }
}
