@import "../../sass/loader";

.LetsTalk {
  z-index: 9;
  position: relative;
  @media print {
    display: none;
  }
  padding: 6rem 0;
  background: linear-gradient(to bottom, #f7f7f7 0, #fff 100%);
  display: block;
  @apply font-primary;
  @media (min-width: 768px) {
    padding: 6rem 5rem;
  }
  .flex1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid #eaeaea;
    @include respond(phone) {
      justify-content: center;
    }
    .ct {
      flex-basis: 70%;
      @include respond(phone) {
        flex-basis: 100%;
        text-align: center;
      }
    }
    .btn {
      flex-basis: 30%;
      @include respond(phone) {
        flex-basis: 100%;
        text-align: center;
      }
    }
    h3 {
      font-size: 4.8rem;
      line-height: 5.3rem;
      color: #0e1f2f;
      font-weight: 600;
    }
    p {
      font-size: 2.4rem;
      line-height: 3.5rem;
      color: #2c2c2c;
    }
  }

  .address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    address {
      flex-basis: 25%;
      margin-bottom: 2rem;
      font-style: normal;
      line-height: 1.42857143;
      @include respond(tab-port) {
        flex-basis: 50%;
      }
      @include respond(phone) {
        flex-basis: 100%;
        text-align: center;
      }
      h3 {
        font-size: 2.8rem;
        font-weight: 500;
        color: #2c2c2c;
      }
      p {
        font-size: 1.8rem;
        font-weight: 400;
        width: 100%;
        line-height: 2.8rem;
      }
      a {
        text-decoration: none;
        color: #333;
        font-size: 1.8rem;
        line-height: 2.8rem;
        transition: color 0.3s ease-in;
        &:hover {
          color: #39e0e1;
        }
      }
    }
  }
}
