.ClientLogo{
    height: 110px;
    // max-width: 17rem;
    overflow: hidden;
    margin-bottom: 10rem;
    img{
        transition: transform 0.5s ease-out;
        max-width: 100%;
        margin: 0 auto;
    }
    &:hover img{
        transform: translateY(-110px);
    }
}