.Testimonials{
    margin-top: 8rem;
    h1{
        font-size: 4.5rem;
        font-weight: 600;
        line-height: 5rem;
        color: #291f2f;
        text-align: center;
        
    }
    h3{
        font-size: 2rem;
        line-height: 2.2rem;
        line-height: 2.2rem;
        color: #7e8890;
        text-align: center;
    }
    section:nth-child(even){
        background: #f8f8f8;
    }
}