
 @import '../../../sass/loader';

.HighlightMenu {
    padding-bottom: 5rem;
    padding-top: 15rem;
    color: #fff;
    >div {
        display: flex;
        text-transform: capitalize;
        span {
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            margin-right: 4rem;
            cursor: pointer;
            &.active {
                opacity: .7;
            }
            @include respond(tab-land) {
                font-size: 14px;
            }
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        flex: 1;
        li {
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            a {
                cursor: pointer;
                color: #fff;
                &:hover {
                    text-decoration: none;
                }
            }
            &:active, &:hover, &.active {
                opacity: .7;
            }
            @include respond(tab-land) {
                font-size: 14px;
                margin: 0 2px;
            }
        }
    }
    @include respond(tab-port) {
        display: none;
    }

    position: fixed;
    width: 100%;
    top:13.2rem;
    z-index: 10;
    padding: 1.5rem;
    animation: move 0.5s ease-out;
    animation-fill-mode: backwards;
    
    @keyframes move{
        from{
            top:0;
        }
        to{
            top:63px;
        }
    }
}
