@import "../../../../sass/loader";

.Banner {
  background: #5d5d5e;
  min-height: 90vh;
  background-size: cover !important;
  padding-top: 15rem;
  margin-bottom: 10rem;
  display: flex;
  align-items: flex-end;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1,
    h2 {
      color: #ffffff;
      font-size: 4.5rem;
      line-height: 5rem;
      font-weight: 300;
      margin: 1.5rem 0;
    }
    .TopContent {
      text-align: center;
    }
    .BottomContent {
      display: flex;
      align-items: center;

      div {
        flex: 1;
        img {
          max-width: 100%;
          padding: 1rem 1rem 0 1rem;
          @include respond(big-desktop) {
            max-width: initial;
          }
        }
      }
      @include respond(phone) {
        flex-direction: column;
        img {
          width: 300px;
        }
      }
    }
  }
  @include respond(tab-land) {
    min-height: 75vh;
    padding-top: 10rem;
  }
  @include respond(tab-port) {
    min-height: 70vh;
  }
  @include respond(phone) {
    margin-bottom: 6rem;
  }
}
