
@import '../../sass/loader';

.Content {
    margin-top: 8rem;
    >div {
        margin-bottom: 8rem;
        text-align: center;
        @media (max-width:991px) {
            margin-bottom: 6rem;
        }
        @include respond(phone)  {
            margin-bottom: 4rem;
        }
        >div {
            
        }
        h4 {
            font-size: 2.5rem;
            color: #7e889c;
            font-weight: 300;
            line-height: 3.6rem;
            @media (max-width:991px) {
                font-size: 2rem;
            }
        }
        img {
            max-width: 95px;
            max-height: 100px;
        }
        p{
            font-size: 16px;
            color: #979797;
            width: 200px;
            display: inline-block;
            max-width: 100%;
        }
    }
}