

.ProtocolDiv {
    text-align: center;
    >div {
        margin: 4rem 0;
        h4 {
            color: #0E1F2F;
            font-size: 2.5rem;
            font-weight: 600;
        }
        span {
            color: #949494;
            font-size: 1.8rem;
        }
        img {
            max-width: 100%;
        }
    }
}