.Openings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  grid-auto-rows: 25.6rem;
  grid-gap: 3rem;
  @apply font-primary;
  padding-left: 2rem;
  // padding: 3rem 1rem;
}

.Opening {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px #e6e6e6;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;

  p {
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    color: #4f4f4f;
    font-size: 2.5rem;
    line-height: 4.4rem;
    text-align: center;
    letter-spacing: 0.5px;
    transition: all 0.5s ease;
  }

  a {
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #4f4f4f;
    background-color: #fff;
    text-decoration: none;
    will-change: opacity;
    opacity: 0;
    transition: all 0.5s ease;
  }

  &:hover {
    background-color: #3cecec;
    transform: scale(1.05);
    p {
      color: #000000;
    }
  }
}
