@import "../../../sass/loader";
.TrustedSection {
  margin: 8rem 0;
  margin-top: 20rem;;
  .ClientLogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .ClientLogo {
      width: auto;
      display: inline-block;
    }
  }
}
.ClientLogo {
  height: 110px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  img {
    margin: 0 auto;
    transform: translateY(0);
    transition: transform 0.5s ease-in;
    max-width: 100%;
  }
  &:hover {
    img {
      transform: translateY(-110px);
    }
  }
}

.trusted_slider {
  > div > div > div {
    display: inline-block !important;
    margin: 0 5rem;
  }
}
.paragraphHeding {
  @apply font-nunito;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: #4f4f4f;
  @include respond(phone) {
    font-size: 3rem;
  }
}
.newRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // background-color: red;
}
