.Processing {
  display: flex;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(aqua, 0.1);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 5000;
  .txtLoading {
    color: #000;
    transform-origin: top left;
    @apply font-primary;
    letter-spacing: 5px;
    font-size: 11px;
    text-align: center;
    margin: 5px 0 0 11px;
    animation: apper 0.5s ease-in 0.5s infinite;
    animation-direction: alternate;
  }
}

@keyframes apper {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
