@import '../../sass/loader';
.CaseStudyFlexContainer{
    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        &>div{
            flex: 1;
        }
        .image{
             padding: 3rem;
             text-align: center;
            img{
                max-width: 100%;
                @include respond(phone) {
                    max-width: 80%;
                }
            }
        }
        h2{
            margin: 2rem 0;
        }
        p{
             margin-top: 5rem;
        }
        @include respond(phone){
            display: block;
        }
    }
    &.rowreverse {
        >div {
            flex-direction: row-reverse;
        }
    }
}