@import "../../sass/loader";
@mixin flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PartnerBlock {
  @apply font-primary;
  @media (min-width: 992px) {
    display: flex;
  }
  h2 {
    font-size: 3.6rem;
    color: #2c2c2c;
    font-weight: 600;
    margin-bottom: 9.7rem;
    @include respond(tab-land) {
      margin-bottom: 3rem;
    }
  }
  .DescBlock {
    flex: 2;
    @include flexbox;
    div {
      @include flexbox;
      @media (min-width: 992px) {
        border-right: 1px solid #dfdfdf;
      }
      p {
        color: #282828;
        font-size: 1.8rem;
        line-height: 3.2rem;
      }
      span {
        color: #4a4a4a;
        font-size: 1.5rem;
      }
      img {
        margin-bottom: 3rem;
        max-width: 100%;
        &.LogoImage {
          border-radius: 100%;
          width: 60px;
          height: 60px;
        }
      }
    }
  }
  .ModelBlock {
    flex: 1;
    @include flexbox;
    @media (max-width: 992px) {
      margin-top: 3rem;
    }
    ul {
      list-style: none;
      li {
        color: #282828;
        font-size: 2.6rem;
        margin-bottom: 6.4rem;
        line-height: 3.6rem;
        @include respond(tab-land) {
          margin-bottom: 3rem;
        }
        &:last-child {
          margin-bottom: 0;
        }
        img {
          width: 2.8rem;
          margin-right: 1.5rem;
        }
      }
    }
  }
}
