@import "../../../sass/loader";
.boxStyleWhymaking {
  text-align: left;
  // margin-top: 3rem;

  h4 {
    font-size: 3.2rem;
    line-height: 4.4rem;
    color: #262626;
  }
  p {
    font-size: 20px !important;
    line-height: 27px !important;
    letter-spacing: 0.5px !important;
    text-align: left !important;
    color: #979797 !important;
  }
  @include respond(tab-port) {
  }
  @include respond(phone){
    margin-top: 3rem;
    h4 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
  @include respond(small-phone) {
    margin-top: 3rem;
    h4 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
}
