@import "../../../sass/loader";
.ApplicationDetail {
  input[type="text"] {
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 8px;
    width: 50%;
    height: 45px;
    text-align: left;
    font-size: 18px;
    margin: 5rem 0;
    background: url("/cloud/static/search-ic.png") top 15px right 15px no-repeat;
    background-size: 15px;
    color: #bdbdbd;
    padding-left: 2rem;
    @include respond(tab-port) {
      width: 80%;
    }
    @include respond(phone) {
      width: 80%;
    }
  }
}

.Grid {
  grid-template-columns: 32rem 1fr;
}

.List {
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 1rem;
}
