@import "../../sass/loader";
.ProjectBlock {
  margin-top: 2rem;
  padding: 0 3rem !important;

  @include respond(tab-land) {
    padding: 0 2rem !important;
  }
  .Project {
    display: flex;
    flex-direction: column;
    text-align: center;
    //padding: 4rem;

    h4 {
      font-size: 2.5rem;
      color: #fff;
      @apply font-primary;
      line-height: 3rem;
      margin: 0 0 1rem 0;
      cursor: pointer;
      @include respond(phone) {
        margin: 0 0 1rem 0;
      }
    }
    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      opacity: 0.8;
    }
    .image {
      margin-bottom: 3rem;
      cursor: pointer;
      img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: auto;
        border-radius: 2%;
        filter: drop-shadow(0px 10px 10px #ccc);
      }
    }
  }

  @include respond(phone) {
    &:last-child {
      margin: auto;
    }
  }
}
