@import "../../../sass/loader";

.sectionTitle {
  padding-top: 8rem;
  padding-bottom: 10rem;
  @apply font-primary;
  background-size: cover !important;
  // margin-bottom: 10rem;
  > div {
    text-align: center;
    img {
      margin-bottom: 15px;
    }
  }
  h3 {
    color: #3bebeb;
    font-weight: 400;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
  &.maxPadding {
    padding: 20rem 0;
  }
  @include respond(phone) {
    margin-bottom: 0rem;
    &.maxPadding {
      padding: 10rem 0;
    }
  }
  &.sectionOnly {
    margin-bottom: 0;
  }
}
