
// .imgloading {
//     opacity: 0;
// }

// .imgloaded {
//     animation: transitionEffect 0.3s linear forwards;
//     opacity: 1;
//     //transition: all ease-in .5s;
// }

// @keyframes transitionEffect {
//     from {
//         transform: scale(0);
//     }
//     to {
//         transform: scale(1);
//     }
// }

.image{
    transform: scale(0);
    opacity: 0;
}