.AppDevBlock {
  img {
    height: 60px;
  }
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 22.6px;
    line-height: 31px;
    margin-top: 3rem;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    /* grey 2 */

    color: #0e1f2f;
  }
  p {
    margin-top: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.03em;

    /* color gray1 */

    color: #6b6b6b;
  }
}
