@import "../../sass/loader";
.Download {
  background: #fbfbfb;
  padding: 4rem;
  box-shadow: 0px 0px 10px #ececec;
  width: 1200px;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: -9rem;
  position: relative;
  @media screen and (max-width: 1200px) {
    width: 100%;
    left: 0;
  }
  @include respond(phone) {
    flex-direction: column;
    justify-content: center;
  }
  .Image {
    flex: 1;
    margin-right: 5rem;

    img {
      max-width: 80%;
    }
    @include respond(phone) {
      margin-right: 0;
      text-align: center;
      margin-bottom: 4rem;
      img {
        max-width: 50%;
      }
    }
  }
  .Content {
    flex: 3;
    text-align: center;
    h5 {
      @apply font-primary;
      font-style: normal;
      font-weight: normal;
      font-size: 4rem;
      line-height: 5.5rem;
      color: #000000;
    }
    p {
      @apply font-primary;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      text-align: center;

      color: #979797;
    }
    button {
      background-color: #3cecec;
      border: none;
      outline: none;
      padding: 1rem 2.5rem;
      border-radius: 10px;
      @apply font-primary;
      font-style: normal;
      font-weight: normal;
      font-size: 2.2rem;
      line-height: 3rem;
      margin-top: 1rem;
      transition: all 0.3s ease-in;
      &:hover {
        background-color: darken($color: #3cecec, $amount: 20);
      }
    }
  }
}
