@import "../../sass/loader";
.JustLaunched {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .logo {
    align-self: center;
    flex-basis: 30%;
    // margin-right: 8rem;

    & > img {
      width: 300px;
    }
  }
  .links {
    // display: flex;
    text-align: center;
    // justify-content:
    margin-right: 3rem;
    margin-top: 2rem;
    a {
      text-decoration: none;
      display: inline-block;
      margin-right: 2rem;
      border-radius: 50%;
      // width: 8rem;
      // height: 8rem;
      padding: 1rem;
      border: 2px solid #fff;
      img {
        max-width: 100%;
        vertical-align: middle;
      }
    }
  }
}

.Carousel {
  max-width: 70%;
  flex: 0 0 70%;
  flex-basis: 70%;
  @include respond(tab-port) {
    flex-basis: 100%;
    max-width: 100%;
  }
  .buttons {
    margin-bottom: 2rem;
    margin-right: 1rem;
    padding-right: 1rem;
    opacity: 0.7;
    text-align: right;
    button {
      outline: none;
      border: none;
      background: none;
      margin-right: 0.5rem;
      display: inline-block;
      box-sizing: border-box;
      width: 4rem;
      height: 4rem;
      img {
        max-width: 100%;
      }
    }
  }
}

.Item {
  display: inline-block;
  & > div {
    position: relative;
    display: inline-block;
    margin-right: 4rem;
    // overflow: hidden;
    &::before {
      content: "";
      background: url("https://intuz-site.imgix.net/uploads/1-backup-s3-intuz-site/case-studies/live4it/sep.png")
        no-repeat;
      width: 100%;
      position: absolute;
      display: block;
      bottom: -4.5rem;
      height: 8rem;
      left: 45%;
    }
  }
  img {
    border-radius: 10px;
    max-width: 100%;
    z-index: 1;
    position: relative;
  }
  p {
    @apply font-primary;
    font-size: 1.8rem;
    line-height: 2.2rem !important;
    color: #fff;
    margin-top: 3.5rem;
    text-align: center;
    max-width: 80%;
    margin: 3.8rem auto 0;
    padding-bottom: 1rem;
  }
}
