
@import '../../../sass/loader';

.TextContent {
    p {
        color: #2c2c2c;
        font-size: 2.6rem;
        line-height: 4.4rem;
        padding-top: 3.5rem;
        text-align: center;

        @include respond(phone) {
            font-size: 2.2rem;
            line-height: 4rem;
            padding-top: 2rem;
        }
    }
    img {
        max-width: 100%;
        margin: 6rem 0;
        @include respond(phone) {
            margin: 5rem 0;
        }
    }
}