@import "../../../../sass/loader";
.mainSensors {
  padding: 8rem 0;
  // padding: 50px;
  h2 {
    @apply font-nunito;
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    line-height: 72px;
    color: #262626;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
  p {
    @apply font-nunito;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4f4f4f;
    @include respond(phone) {
      font-size: 1.75rem;
    }
  }
  .sensorsLists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6rem 3rem;
    margin-top: 8rem;
    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .sensorsItem {
    display: flex;
    align-items: center;
    @include respond(phone) {
     margin-left: 3.4rem;
    }
    img {
      width: 56px;
      height: 56px;
      margin-right: 12px;
    }
    p {
      @apply font-lato;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.5;
      color: #4f4f4f;
      @include respond(phone) {
        font-size: 1.75rem;
      }
    }
  }
}
