@import "../../sass/loader";
.topBlocks,
.bottomBlocks {
  @apply font-primary;
  color: #2c2c2c;
  @media (min-width: 768px) {
    display: flex;
  }

  .leftBlock,
  .rightBlock,
  .middleBlock {
    flex: 1;
    text-align: center;
    h2 {
      display: inline-block;
      margin-left: 10px;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 3.5rem;
      @media (max-width: 991px) {
      }
    }
    span {
      font-size: 16px;
      @media (max-width: 991px) {
        font-size: 14px;
      }
    }
    img {
      max-width: 40px;
    }

    @include respond(phone) {
      margin-bottom: 5rem;
    }
    .iconBlock {
      display: flex;
      justify-content: center;
      div {
        @media (min-width: 992px) {
          margin: 0 8px;
        }
        @include respond(phone) {
          margin: 0 10px;
        }
      }
      img {
        display: block;
        max-width: 80px;
        margin: auto;

        @media (max-width: 991px) {
          max-width: 50px;
        }
      }
    }
  }
}
.topBlocks {
  @media (min-width: 768px) {
    margin-bottom: 8rem;
  }
}
