@import "../../sass/loader";
.small {
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 400;
    color: rgba(#fff, 0.8);
}

.large {
    font-size: 2rem;
    line-height: 5rem;
    font-weight: 400;
    color: rgba(#fff, 0.8);
    @include respond(phone) {
        text-align: center;
        line-height: 3.5rem;
    }
    @include respond(tab-land) {
        line-height: 3.5rem;
    }
}
