
@import '../../../sass/loader';

.TextContent {
    color: #2c2c2c;
    font-size: 2.6rem;
    line-height: 4.4rem;
    font-weight: 300;
    padding-top: 3rem;

    @include respond(phone) {
        font-size: 2.5rem;
        line-height: 3.2rem;
        padding-top: 2rem;
    }

   img {
       margin-top: 10rem;
       max-width: 100%;
   }
}