

.CaseImageBlock {
    @media (min-width: 768px) {
        flex: 1;
    }
    overflow: hidden;
    >div{
        width: 100%;
        height: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        transition: all 1s;
        @media (min-width: 768px) {
            margin-bottom: -100px;
        }
        &:hover {
            transform: scale(1.1)
        }
    } 
}
.MobileArrow {
    display: flex;
    justify-content: center;
    div {
        position: absolute;
        width: 30px;
        height: 13px;
    }
 }