@import "../../../sass/loader";

.sectionTitle {
  @apply font-primary;
  padding: 10rem 0;
  > div {
    text-align: center;
  }
  h3 {
    @include respond(phone) {
      font-size: 3rem;
    }
  }

  padding-bottom: 10rem;
  @include respond(phone) {
    padding-bottom: 7rem;
  }
}
