@import "../../../sass/loader";

.IconGroup {
  @apply font-primary;
  padding-bottom: 2rem;
  padding-top: 10rem;
  @include respond(phone) {
    padding-top: 6rem;
  }

  h3 {
    color: #3cecec;
    font-weight: 600;
    font-size: 5rem;
    line-height: 5rem;

    @include respond(phone) {
      font-size: 3rem;
    }
  }
  .FullPage {
    @media (min-width: 1364px) {
      padding: 0 1.5rem;
    }
  }

  > div > p {
    color: #596c82 !important;
    line-height: 4rem;
    text-align: center;
    font-size: 2.6rem;
  }

  &.Enterprise_icon {
    h3 {
      color: #0e1f2f;
    }
    p {
      color: #6b6b6b !important;
    }
  }
}
