@import "../../../../sass/loader";
.Banner {
  min-height: 80vh;
  text-align: center;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include respond(phone) {
    padding: 10rem 0 0;
    margin-top: 5rem;
  }

  h1 {
    font-size: 7.5rem;
    font-weight: 600;
    color: #262626;
    line-height: 10rem;
    span {
      display: inline-block;
      font-weight: bold;
      font-size: 9rem;
      background: linear-gradient(#827de2, #49d8ea);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 12rem;
      @include respond(phone) {
        margin-left: -1rem;
      }
    }
    @include respond(tab-port) {
      font-size: 6rem;
      span {
        font-size: 7rem;
      }
    }
    @include respond(phone) {
      font-size: 5rem;
      line-height: 5rem;
      margin-bottom: 0rem;
      span {
        font-size: 5rem;
        line-height: 7rem;
      }
    }
  }
  h2 {
    font-size: 5rem;
    font-weight: 300;
    color: #262626;
    line-height: 6.8rem;
    @include respond(phone) {
      font-size: 3rem;
      line-height: 5rem;
    }
  }
}

.TrustedBy {
  margin-top: 6rem;
  @include respond(phone) {
    margin-top: 5rem;
  }
  span {
    display: block;
    margin-bottom: 3rem;
    @apply font-primary;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;

    text-align: center;
    letter-spacing: 0.00928571px;
    text-transform: uppercase;

    /* Gray 4 */

    color: #d2d2d2;
  }
  .Content {
    justify-content: center;
    div {
      flex-basis: 20%;
      margin: 2rem 3rem;
      @include respond(phone) {
        flex-basis: 26%;
        margin: 1rem 1rem;
      }
    }
  }
}
