@import "../../../../sass/loader";
.ComponentCareerLifeAtIntuzSection {
    padding: 8rem 0;
}
.ImageList {
    // background-color: aqua;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 8vw);
    grid-gap: 1.5rem;
    padding: 2.5rem;
    figure {
        margin: 0;
        padding: 0;
        position: relative;
        a {
            display: block;
            position: absolute;
            padding: 0 2rem;
            top: 0;
            left: 0;
            background-color: rgba(#3cecec, 0.8);
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            opacity: 0;
            font-size: clamp(2rem, 2vw, 3.2rem);
            line-height: clamp(2.75rem, 2.5vw, 4.8rem);
            color: #fff;
            text-decoration: none;
            transition: opacity 0.3s ease;
            &:hover {
                opacity: 1;
            }
        }

        button {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include respond(phone) {
        grid-template-columns: repeat(2, 50vw);
        grid-template-rows: 93.4px 93.4px repeat(3, 130px);
        padding: 2rem 0;
    }
}

.Modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(#000000, 0.1);
    position: fixed;
}
