@import "../../sass/loader";

.SectionBanner {
  height: 100vh;
  max-width: 100vw;
  @apply font-primary;
  background-size: cover;
  @include respond(tab-land) {
    height: auto;
  }

  .BannerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100%;
    @include respond(phone) {
      flex-direction: column;
      flex-flow: column-reverse;
    }
    @media (max-width: 1499px) {
      padding-top: 8rem;
      padding-bottom: 6rem;
    }
    div {
      flex: 1;
      h1,
      h2 {
        font-size: 5.4rem;
        font-weight: 600;
        line-height: 6rem;
        padding: 1rem 0 1rem 0;
      }
      h4 {
        font-size: 3.8rem;
        font-weight: 300;
        line-height: 5.2rem;
      }
      @include respond(phone) {
        text-align: center;
        h2 {
          font-size: 3rem;
          line-height: 3.2rem;
        }
        h4 {
          font-size: 2rem;
          line-height: 3rem;
        }
      }

      &.RightBlock {
        text-align: center;
        img {
          //max-width: 90%;
          max-width: 450px;
          max-height: 85%;
          @include respond(tab-land) {
            max-width: 40rem;
          }
          @include respond(tab-port) {
            max-width: 35rem;
          }
          @include respond(phone) {
            max-width: 20rem;
          }
        }
      }
    }

    &.reverse-block {
      flex-flow: row-reverse;
      color: #3a3a3a;
      @include respond(phone) {
        flex-direction: column;
        flex-flow: column-reverse;
      }
      .LeftBlock {
        padding-left: 0px;
      }
    }
  }

  &:first-child {
    //height: 100vh;
    .BannerContent {
      height: 90%;
      padding-top: 12rem;
      @media (max-width: 1799px) {
        padding-top: 22rem;
      }
      @include respond(tab-land) {
        padding-top: 20rem;
      }
      @include respond(tab-port) {
        padding-top: 12rem;
      }
      @include respond(phone) {
        padding-top: 7rem;
      }
    }

    @media (min-width: 768px) {
      height: 100vh;
    }
    @media (max-width: 1799px) {
      //height: 100vh;
    }
  }

  .bottomInfo {
    //bottom: 70px;
    font-size: 2rem;
    line-height: 2.2rem;
    position: absolute;
    color: #fff;
    text-align: center;
    left: 45%;
    @media (max-width: 991px) {
      //bottom: 25px;
    }
    .Arrow::after {
      content: "";
      width: 1.8rem;
      height: 1.8rem;
      outline: 0;
      position: absolute;
      margin: auto;
      top: 35px;
      right: 0;
      left: 0;
      animation: arrow 1s ease-in 0.1s infinite alternate;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      cursor: pointer;
      @media (max-width: 991px) {
        top: 20px;
      }
    }
  }

  @keyframes arrow {
    from {
      transform: translateY(-12px) rotate(45deg);
    }
    to {
      transform: translateY(0) rotate(45deg);
    }
  }
}
