@import "../../../sass/loader";
.Testimonialsection {
  background: url("/static/Images/icons/testi_3.png") center center no-repeat;
  padding: 8rem 0;
  text-align: center;
  color: #fff;
}

.Testimonial {
  p {
    margin: 1rem 0;
    font-size: 2rem;
  }
  .desc {
    @apply font-primary;
    padding: 8rem 4rem;
    position: relative;
    font: 300 2.5rem "Quicksand", sans-serif;
    display: inline-block;
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 33px;
      height: 25px;
    }
    &::before {
      background: url("/static/Images/icons/testi_2.png") no-repeat center
        center;
      left: 0;
      top: 8rem;
      width: 33px;
      height: 25px;
    }
    &::after {
      background: url("/static/Images/icons/testi_1.png") no-repeat center
        center;
      right: 0;
      bottom: 8rem;
      width: 33px;
      height: 25px;
    }
  }
  figure {
    text-align: center;
    @apply font-primary;
    img {
      max-width: 100%;
      border-radius: 50%;
    }
    figcaption {
      font-size: 2rem;
      line-height: 2.9rem;
      span {
        font-weight: 300;
      }
    }
  }
}
