@import "../../sass/loader";
.Testimonial {
  padding: 10rem 0;
  text-align: center;
  opacity: 0;
  &:nth-child(even) {
    background: #f8f8f8;
  }
  .userImg {
    margin-bottom: 3rem;
    img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
    }
  }
  .quoteImg {
    display: block;
    margin: 4rem auto 2rem;
    max-width: 100%;
  }
  p {
    @apply font-primary;
    color: #7e8890;
    line-height: 3.5rem;
    margin: 0 0 1rem;
    font-weight: 400;
    font-size: 2rem;
  }
  .smallfont {
    @apply font-primary;
    display: block;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 3.5rem;
    color: #7e8890;
  }
  h3 {
    @apply font-primary;
    font-weight: 300;
    @apply font-primary;
    font-size: 3rem;
    line-height: 3.3rem;
    color: $primary-blue;
  }
}
