.TextField {
  @apply font-opensans text-16 leading-snug font-light text-black-3a flex flex-col relative p-0 border-b;
  height: 46px;
  &::after {
    content: "";
    height: 2px;
    @apply w-0 absolute bg-brand-secondary;
    bottom: -1px;
    transition: width 0.3s ease-out;
  }
  &.focus {
    &::after {
      width: 100%;
    }
  }
  &.error {
    &::after {
      width: 100%;
      @apply bg-red-600;
    }
  }
  label {
    @apply absolute pl-2;
    transition: top 0.3s ease;
    pointer-events: none;
    top: 13px;
    &.up {
      top: -10px;
    }
  }
  input,
  textarea {
    @apply h-full outline-none flex items-center pl-2;
  }
}
