@import '../../sass/loader';
.FeaturedApEducation{
    display: flex;
    // height: 65vh;
    padding: 4rem 0;
    flex-wrap: wrap;
    @include respond(tab-port) {
        flex-direction: column;
    }
}